<table class="form">
    <tr>
        <th class="formTitle">自我介绍</th>
        <td class="formValue" colspan="3">
            <textarea style="height:160px" id="F_Introduction" name="F_Introduction" class="form-control" placeholder="请输入自我介绍"></textarea>
        </td>
    </tr>
</table>