@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/Dorm/School_Teachers/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
        $("#form1 input").attr('disabled','disabled');
    });
    function initControl() {
        //$("#F_Sex").bindSelect({
        //    dictionary: '104'
        //})
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });
        $("#F_Gender").bindSelect({
            dictionary: '104'
        })
        $("#F_Volk").bindSelect({
            dictionary: '103'
        })
        $("#F_Marrige").bindSelect({
            dictionary: '101'
        })
        $("#F_YRXS").bindSelect({
            dictionary: 'F_YRXS'
        })
        $("#F_Health").bindSelect({
            dictionary: 'F_Health'
        })
        $("#F_Titles").bindSelect({
            dictionary: 'F_Titles'
        })
        $("#F_Status").bindSelect({
            dictionary: 'F_CurStatu'
        })

        $("#F_PolitStatu").bindSelect({
            dictionary: 'F_PolitStatu'
        })

        $("#F_EnabledMark").bindSelect({
            dictionary: 'YesOrNo'
        })
        $("#F_If_Sp").bindSelect({
            dictionary: 'YesOrNo'
        })
        $("#F_If_Gg").bindSelect({
            dictionary: 'YesOrNo'
        })
        $("#F_Payroll").bindSelect({
            dictionary: 'YesOrNo'
        })
        $("#F_Type_Teacher").bindSelect({
            dictionary: 'F_Category'
        });
        $("#F_Education").bindSelect({
            dictionary: 'Education'
        })
        $("#F_Nation").bindSelect({
            dictionary: 'F_Nation'
        })
        $("#F_CredType").bindSelect({
            dictionary: 'Certificate'
        })
        //$("#F_DepartmentId").bindSelect({
        //    url: "/SystemManage/Organize/GetTreeSelectJson"
        //});
        $("#F_RoleId").bindSelect({
            url: "/SystemManage/Role/GetGridJson",
            id: "F_Id",
            text: "F_FullName"
        });
        $("#F_DutyId").bindSelect({
            url: "/SystemManage/Duty/GetGridJson",
            id: "F_Id",
            text: "F_FullName"
        });
        $.simpleUploader($('.fileUpload'), {
            maxFile: 1,
            maxSize: "20",
            accept: {
                title: 'Image',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
        })
        $.addRequired('#form1')
    }
    $(document).ready(function () {


    })
</script>
<style>
    .form .formTitle {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 160px;
        padding-right: 15px;
    }
</style>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
            <li><a href="#b" data-toggle="tab">基本信息2</a></li>
            <li><a href="#c" data-toggle="tab">基本信息3</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px;">
            <div id="a" class="tab-pane form active" style="padding: 15px;">
                @Html.Partial("_FromOnePartial")
            </div>
            <div id="b" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromTwolPartial")
            </div>
            <div id="c" class="tab-pane form " style="padding: 15px;">
                @Html.Partial("_FromThreelPartial")
            </div>
        </div>
    </div>
</form>