@{Layout = "~/Views/Shared/_Index.cshtml";}
<script>
    //全局变量
    function getGrid() { return $("#gridList"); }

    $(function () {
        initGrid();
        $("#btn_search").bind("click", () => reload());
        $("#txt_keyword").bind("input", () => reload());
    })
    // 初始化列表
    function initGrid() {
        getGrid().jqGrid({
            styleUI: 'Bootstrap',
            treeGrid: true,
            url: "/GoodsManage/Category/GetTree",
            treeGridModel: "adjacency",
            datatype: "json",
            gridview: true,
            altRows: true,
            viewrecords: true,
            autoGridWidth: true,
            rowNum: 15,
            shrinkToFit: true,
            autoGridHeight: true,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            autoGridHeight: window.innerHeight,
            height: window.innerHeight,
            width: window.innerWidth,
            ExpandColumn: 'name',
            ExpandColClick: false,
            colModel: [
                { label: '物品类别', name: 'name', width: 100, align: 'left' },
                { name: "id", key: true, hidden: true },
                { name: "parent", width: 150, hidden: true },
                { label: '父节点', name: "parentName", width: 150, sortable: false },
            ],
            multiselect: false,
            rowNum: "all",
            loadComplete: function () {
                this.p.postData.keyword = null;
                this.p.url = "/GoodsManage/Category/GetTree";
                this.p.treeGrid = true;
            },
        });
    }

    function reload() {
        getGrid().setGridParam(
            {
                postData: { keyword: $("#txt_keyword").val() }
            }
        ).trigger('reloadGrid');
    }

    function submit() {
        let data = null;
        let selrow = getGrid().getGridParam("selrow");
        if (selrow !== null) {
            data = getGrid().getRowData(selrow);
        }
        $.modalClose();
        return data;
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <table id="itemTree"></table>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group" style="margin-left:15px">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</div>