@{Layout = "~/Views/Shared/_Index.cshtml";}
<script>
    //全局变量
    function getGrid() { return $( "#gridList" ); }

    $( function ()
    {
        initGrid();
        $( "#btn_search" ).bind( "click", () => reload() );
        $( "#txt_keyword" ).bind( "input", () => reload() );
    } )
    // 初始化列表
    function initGrid()
    {
        getGrid().dataGrid( {
            url: "/Select/GetUserList",
            autoGridHeight: () => $( window ).height() * 0.82,
            rowNum: 20,
            colModel: [
                { label: '姓名', name: 'realName', index: "F_RealName", width: 80, align: 'left' },
                { label: '机构', name: 'orgName', index: "F_OrganizeId", width: 80, align: 'left' },
                { label: '岗位', name: 'duty', index: "F_DutyId", width: 80, align: 'left' },
                { label: '主键', name: 'id', hidden: true },
                { label: '机构ID', name: 'orgId', hidden: true },

            ],
            viewrecords: true,
            multiselect: false,
            pager: "#gridPager",
        } );
    }
    function reload()
    {
        getGrid().setGridParam(
            {
                postData: { keyword: $( "#txt_keyword" ).val() }
            }
        ).trigger( 'reloadGrid' );
    }

    function submit()
    {
        let data = null;
        let selrow = getGrid().getGridParam( "selrow" );
        if ( selrow !== null )
        {
            data = getGrid().getRowData( selrow );
        }
        $.modalClose();
        return data;
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <table id="itemTree"></table>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称/编号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group" style="margin-left:15px">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>