@{Layout = "~/Views/Shared/_Index.cshtml";}
<style>
    .teacher-select {
        padding: 20px;
    }
</style>
<div class="teacher-select">
    <span class="title">科目</span>
    <select id="teacher-select"></select>
</div>