@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })

    var billId = $.request("billId");

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SchoolManage/School_ChangeBill_Log/GetGridJson?billId=" + billId,
            height: $(window).height() - 128,
            colModel: [
              							 	{ label: '主键', name: 'F_Id', hidden: true },
				  				                { label: '费用调整编号', name: 'F_No', width: 160, align: 'left' },
                  				                { label: '姓名', name: 'F_Name', width: 80, align: 'left' },
                  				                { label: '学号', name: 'F_StudentNum', width: 80, align: 'left' },
                  				                {
                  				                    label: '变更类型', name: 'F_Bill_Change_Type', width: 80, align: 'left',
                  				                    formatter: function (cellvalue) {
                  				                        return top.clients.dataItems["F_Bill_Change_Type"][cellvalue] == undefined ? "" : top.clients.dataItems["F_Bill_Change_Type"][cellvalue];
                  				                    }
                  				                },
                                                { label: '变更金额', name: 'F_Fee', width: 80, align: 'left' },
                                                { label: '变更人', name: 'F_Creator_Name', width: 80, align: 'left' },
                   							 	{ label: '变更时间', name: 'F_CreatorTime', width: 80, align: 'left',

                    formatter: "date", formatoptions: { srcformat:'Y-m-d H:i:s',newformat:'Y-m-d H:i:s' }
                   							 	},
                                                { label: '变更备注', name: 'F_Description', width: 80, align: 'left' },
               ],
            pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val()},
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增调整",
            url: "/SchoolManage/School_ChangeBill_Log/Form?billId="+billId,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Form",
            title: "修改",
            url: "/SchoolManage/School_ChangeBill_Log/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var deleteid = $('#gridList').jqGridRowValue('F_Id');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            keyValue += deleteid[i] + "|";
        }
        $.deleteForm({
            url: "/SchoolManage/School_ChangeBill_Log/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                parent.top.frames["fytz"].$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/SchoolManage/School_ChangeBill_Log/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }

    function btn_disabled() {
        var keyValue = $("#gridList").jqGridRowValue('F_Id');
        $.modalConfirm("注：您确定要【禁用】该项吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SchoolManage/School_ChangeBill_Log/DisabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var keyValue = $("#gridList").jqGridRowValue('F_Id');
        $.modalConfirm("注：您确定要【启用】该项吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SchoolManage/School_ChangeBill_Log/EnabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }

    function btn_export() {
        var keyValue = $("#txt_keyword").val();
        if (keyValue != null)
            keyValue = "?keyword=" + keyValue;

        document.location = "/SchoolManage/School_ChangeBill_Log/export" + keyValue;
    }

    function btn_import() {
        var title = 'Excel';
        var extensions = 'xls,xlsx';
        var mimeTypes = 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
        $.modalOpen({
            id: "Form",
            title: "导入",
            url: "/Home/Import?title=" + title + "&extensions=" + extensions + "&mimeTypes=" + mimeTypes + "&fileName=",
            width: "500px",
            height: "300px",
            callBack: function (iframeId) {
                var filePali = top.frames[iframeId].submitForm();
                importAcrion(filePath);
            }
        });
    }

    function importAcrion(filePath) {
        $.submitForm({
            url: "/SchoolManage/School_ChangeBill_Log/import",
            param: { filePath: filePath },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建调整</a>
        </div>
            <div class="operate">
                <ul class="nav nav-pills">
                    <li class="first">已选中<span>1</span>项</li>
                    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
                    <li class="split"></li>
                    <li><a class="multi-edit" id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                    <li><a class="multi-edit" id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
                </ul>
                <a href="javascript:;" class="close"></a>
            </div>
            <script>$('.toolbar').authorizeButton()</script>
        </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>