@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var F_Semester = $.request("F_Semester");
    var F_Divis = $.request("F_Divis");
    var F_Grade = $.request("F_Grade");
    var F_Year = $.request("F_Year");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ScheduleManage/School_TeacherTime_Config/GetClassFormJson",
                data: { keyValue: keyValue, F_Semester: F_Semester, F_Divis: F_Divis, F_Grade: F_Grade, F_Year: F_Year },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#F_Class").val(data.F_ClassName);
                }
            });
        }

    });

    function initControl()
    {
        $('#F_DClass_ID').bindCheckBox({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + F_Grade,
            id: "id",
            text: "text",
            name: "F_DClass_ID"
        })
    }

    function submitForm(callback) {
        if (!$('#form1').formValid()) {
            return false;
        }
        if (keyValue == "")
        {
            $.modalAlert("请选择班级！", "warning");
            return;
        }
        var vals = "";
        $('input:checkbox:checked').each(function (index, item) {
            vals += $(this).val() + ",";
        });

        var postData = { F_ClassId: keyValue, F_DClassIds: vals, F_Semester: F_Semester, F_Divis: F_Divis, F_Grade: F_Grade, F_Year: F_Year };
        $.loading(true, "正在处理...");
        $.submitForm({
            url: "/ScheduleManage/School_TeacherTime_Config/SubmitCopy",
            param: postData,
            success: function () {
                $.loading(false)
                callback();
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">班级</th>
                <td class="formValue">
                    <input id="F_Class" name="F_Class" type="text" class="form-control " readonly="readonly" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">目标班级</th>
                <td  class="formValue" id="F_DClass_ID"></td>
            </tr>
        </table>
    </div>
</form>