@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>

    $(function () {
        //gridList();

        $("#F_Semester").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });

        $("#F_Grade_ID").change(function () {
            changeClass();
        });
        changeDivis();

        $("#btn_search").click(function () {
            if ($("#F_Grade_ID").val() == "") {
                $.modalAlert("请选择年级！", "warning");
                return;
            }
            if ($("#F_Year").val() == "") {
                $.modalAlert("请选择年度！", "warning");
                return;
            }
            if ($("#F_Semester").val() == "") {
                $.modalAlert("请选择学期！", "warning");
                return;
            }

            $.ajax({
                url: "/ScheduleManage/School_TeacherTime_Config/GetAllCourseList?F_Semester=" + $("#F_Semester").val() + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val() + "&F_Year=" + $("#F_Year").val(),
                dataType: "json",
                async: false,
                success: function (obj) {
                    var data = obj.rows;
                    var model = [
			 	        { label: '主键', name: 'F_Id', hidden: true },
                        { label: '班级', name: 'F_ClassName', width: 80, align: 'left' }
                    ];

                    for (var i = 0; i < data.length; i++) {
                        model.push({
                            label: data[i].F_Course, name: 'ClassItem' + i, width: 80, align: 'left'
                        });
                    }
                    $.jgrid.gridUnload("gridLists");//先卸载表格
                    gridList(model);

                    if (data.length <= 0)
                        return;
                    for (var n = 0; n < data[0].ClassItems.length; n++) {
                        var item = data[0].ClassItems[n];
                        var t = "{ F_Id:'" + item.F_ClassId + "', F_ClassName:'" + item.F_ClassName + "'";
                        for (var x = 0; x < data.length; x++) {
                            t += ",ClassItem" + x + ":'" + data[x].ClassItems[n].F_CourseTime;
                            if (data[x].ClassItems[n].F_RepeatCount > 0) {
                                t += "-连" + data[x].ClassItems[n].F_RepeatCount;
                            }
                            t += "'";
                        }
                        t += "}"
                        console.log(t);
                        $("#gridLists").jqGrid('addRowData', n + 1, eval('(' + t + ')'));
                    }

                }
            });
            //$gridList.jqGrid('setGridParam', {
            //    postData: { keyword: $("#txt_keyword").val(), F_Semester: $("#F_Semester").val(), F_Divis: $("#F_Divis_ID").val(), F_Grade: $("#F_Grade_ID").val(), F_Year: $("#F_Year").val(), F_Class: $("#F_Class_ID").val(), F_CreatorTime_Start: $("#F_CreatorTime_Start").val(), F_CreatorTime_Stop: $("#F_CreatorTime_Stop").val() },
            //}).trigger('reloadGrid');
        });
    });

    function changeDivis() {
        $("#F_Grade_ID").find("option").remove();
        $("#F_Grade_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
        changeClass();
    }

    function changeClass() {
        $("#F_Class_ID").find("option").remove();
        $("#F_Class_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#F_Grade_ID").val(),
        });
    }

    function gridList( model) {
        var $gridList = $("#gridLists");
        $gridList.dataGrid({
            datatype: "local",
            //url: "/ScheduleManage/School_TeacherTime_Config/GetAllCourseList?F_Semester=" + $("#F_Semester").val() + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val() + "&F_Year=" + $("#F_Year").val(),
            height: $(window).height() - 128,
            colModel: model
            //,
            //pager: "#gridPager",
            //sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            //viewrecords: true
        });

    }
    function btn_edit() {
        var keyValue = ($("#gridLists").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Formedit",
            title: "班级课时设置",
            url: "/ScheduleManage/School_TeacherTime_Config/UpdForm?keyValue=" + keyValue + "&F_Semester=" + escape($("#F_Semester").val()) + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val() + "&F_Year=" + $("#F_Year").val(),
            width: "500px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#btn_search").click();
                });
            }
        });
    }
    function btn_copy() {
        var keyValue = ($("#gridLists").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Formcopy",
            title: "复制课时",
            url: "/ScheduleManage/School_TeacherTime_Config/CopyForm?keyValue=" + keyValue + "&F_Semester=" + escape($("#F_Semester").val()) + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val() + "&F_Year=" + $("#F_Year").val(),
            width: "500px",
            height: "310px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#btn_search").click();
                });

            }
        });
    }

    function submitForm() {
        $.modalClose();
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>

        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a></li>
                <li><a id="NF-copy" authorize="yes" onclick="btn_copy()"><i class="fa fa-pencil-square-o"></i>复制</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        @*<script>$('.toolbar').authorizeButton()</script>*@
    </div>
    <div class="search">
        <table>
            <tr>
                <th class="formTitle">搜索：</th>
                <td>
                    <div class="input-group" style="margin-right:10px;width:100px;">
                        <select id="F_Year" name="F_Year" class="form-control">
                            <option value="">选择年度</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:100px;">
                        <select id="F_Semester" name="F_Semester" class="form-control">
                            <option value="">选择学期</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:100px;">
                        <select id="F_Divis_ID" name="F_Divis_ID" class="form-control">
                            <option value="">选择学部</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <select id="F_Grade_ID" name="F_Grade_ID" class="form-control">
                            <option value="">选择年级</option>
                        </select>
                    </div>
                </td>
                @*<td>
                        <div class="input-group" style="margin-right:10px;width:200px;">
                            <select id="F_Class_ID" name="F_Class_ID" class="form-control">
                                <option value="">选择班级</option>
                            </select>
                        </div>
                    </td>*@
                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridLists"></table>
    <div id="gridPager"></div>
</div>