@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var F_Semester= $.request("F_Semester");
    var F_Divis = $.request("F_Divis");
    var F_Grade= $.request("F_Grade");
    var F_Year = $.request("F_Year");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/ScheduleManage/School_TeacherTime_Config/GetClassFormJson",
                data: { keyValue: keyValue,F_Semester:F_Semester,F_Divis:F_Divis,F_Grade:F_Grade,F_Year:F_Year},
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#F_Class").val(data.F_ClassName);
                    for (var i = 0; i < data.CourseItems.length; i++) {
                        var rowTem = '<tr>'
                        + '<th class="formTitle">' + data.CourseItems [i].F_CourseName+ '</th>'
                        + ' <td class="formValue">'
                        + '<input id="textbox" name="textbox" type="text" class="form-control " tag="' + data.CourseItems[i].F_CourseId + '" value="' + data.CourseItems[i].F_CourseTime + '" />'
                        + '</td>'
                        + '<td class="formTitle">连堂次数</td>'
                       + ' <td class="formValue">'
                       + '<input id="textbox' + data.CourseItems[i].F_CourseId + '" type="text" class="form-control " value="' + data.CourseItems[i].F_RepeatCount + '" />'
                       + '</td>';
                        + '</tr>';
                        //console.log(rowTem);
                        $("#tabform").append(rowTem);
                    }
                }
            });
        }

    });

    function submitForm(callback) {

        if (keyValue == "") {
            $.modalAlert("请选择班级！", "warning");
            return;
        }
        if (!$('#form1').formValid()) {
            return false;
        }
        var datas=[]
        $("input[name='textbox']").each(function () {
            if ($(this).attr("tag") != null) {
                var F_CourseId = $(this).attr("tag");
                //if ($(this).val() > 0) {
                    datas.push({ F_CourseId: F_CourseId, F_CourseTime: $(this).val(), F_RepeatCount: $("#textbox" + F_CourseId).val() });
                //}
            }
        });

        var postData = { F_Class: keyValue, F_Semester: F_Semester, F_Divis: F_Divis, F_Grade: F_Grade, F_Year: F_Year, CourseItems: datas };
        //$.submitForm({
        //    type: "POST",
        //    url: "/ScheduleManage/School_TeacherTime_Config/SubmitClassCourseTime",
        //    param: JSON.stringify(postData),
        //    dataType: "json",
        //    contentType: "application/json",
        //    success: function () {
        //        $.loading(false)
        //    }
        //})
        $.loading(true, "正在处理...");
        $.ajax({
            type: "POST",
            url: "/ScheduleManage/School_TeacherTime_Config/SubmitClassCourseTime",
            data: JSON.stringify(postData),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                $.loading(false);
                if (data.state == "success") {
                    $.modalMsg(data.message, data.state);
                    $.modalClose();
                    callback();
                } else {
                    $.modalAlert(data.message, data.state);
                }
            }
        });
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form" id="tabform">
            <tr>
                <th class="formTitle">班级</th>
                <td class="formValue" colspan="3">
                    <input id="F_Class" name="F_Class" type="text" class="form-control " readonly="readonly" />
                </td>
            </tr>
</table>
    </div>
</form>