.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
[Ll]og/


# MSTest test Results
TestResults/
[Bb]uild[Ll]og.*

# Installshield output folder
[Ee]xpress/

# Click-Once directory
publish/

# NuGet Packages
*.nupkg
packages/

# Visual Studio cache files
*.[Cc]ache
!*.[Cc]ache/

Backup*/

# SQL Server files
*.mdf
*.ldf
*.ndf

FakesAssemblies/
node_modules/
OpenCover/

/src/ZHXY.Web/UpLoad/
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
