<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta lang="zh-cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/js/swiper-4.4.2/dist/css/swiper.min.css">
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Content/js/md5/jquery.md5.js"></script>
    <script src="~/Content/js/swiper-4.4.2/dist/js/swiper.min.js"></script>
</head>
<body>
    <div class="self-container">
        <div class="self-form">
            <div class="title">智慧校园</div>
            <div >
                <div class="user">
                    <img src="../../Content/img/zh.png" alt="user" /><input type="text" id="txt_account" name="user" placeholder="用户名/手机号/邮箱">
                </div>
                <div class="user">
                    <img src="../../Content/img/mima.png" alt="user" /><input type="password" id="txt_password" name="password" placeholder="请输入登录密码">
                </div>
                <div class="codeWrap">
                    <input class="code" id="txt_code" maxlength="4" type="text" placeholder="验证码" >                   
                     @*<img id="imgcode" class="authcode" src="~/Login/GetAuthCode" style="width:40%;height:100%;" alt="验证码" />*@
                    
                    <img class="yzcode" src="~/Login/GetAuthCode" alt="yzm" />
                </div>
                <div class="submit">
                    <input type="submit" id="login_button" style="cursor:pointer" value="登录">
                </div>
            </div>
        </div>
        <img src="../../Content/img/wbk.png" alt="wbk" class="wbk" contextmenu="return false">
    </div>

    @*<div class="wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div style="background-image: url('/Content/img/cover/cover1.jpg')" class="swiper-slide"></div>
                <div style="background-image: url('/Content/img/cover/cover2.jpg')" class="swiper-slide"></div>
                <div style="background-image: url('/Content/img/cover/cover3.jpg')" class="swiper-slide"></div>
            </div>
        </div>
        <div class="container">
            <div class="logo">*@
                @*<img alt="logo" src="~/Content/img/logo.jpg" />*@
                @*<span style="font-size:30px;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">智慧校园<span style="font-size:20px"></span></span>
            </div>
            <div class="form-container">
                <form class="form">
                    <div class="row">
                        <input id="txt_account" type="text" placeholder="用户名/手机号/邮箱">
                    </div>
                    <div class="row">
                        <input id="txt_password" type="password" placeholder="登录密码">
                    </div>
                    <div class="row">
                        <input id="txt_code" maxlength="4" type="text" placeholder="验证码" style="width: 190px; float: left;">
                        <div style="width: 110px; float: right; padding-top: 14px; padding-left: 14px;">
                            看不清？<span id="switchCode" style="text-decoration: none;cursor:pointer">换一张</span>
                            <img id="imgcode" class="authcode" src="~/Login/GetAuthCode" width="80" height="25" alt="验证码" />
                        </div>
                    </div>
                    <div class="row">
                        <button id="login_button" type="button"><span>登录</span></button>
                    </div>
                    <div class="row">
                    </div>
                    <div class="login_tips"></div>
                </form>
            </div>
        </div>
    </div>*@
    <script type="text/javascript">
        //window.onload = function () {
        //document.querySelector('#login_button').onclick = function () {   
        //    var xhr =new XMLHttpRequest()
        //    var form = new FormData()
        //    form.append('username', 'admin')
        //    form.append('password', '0000')
        //    xhr.open('post', 'localhost:8100/Login/CheckLoginType')
        //    xhr.send(form)
        //    }
        //}
        (function ($) {
            $.login = {
                formMessage: function (msg) {
                    $('.login_tips').find('.tips_msg').remove();
                    $('.login_tips').append('<div class="tips_msg">' + msg + '</div>');
                },
                loginClick: function () {
                    var $username = $("#txt_account");
                    var $password = $("#txt_password");
                    var $code = $("#txt_code");
                    if ($username.val() == "") {
                        $username.focus();
                        $.login.formMessage('请输入用户名/手机号/邮箱。');
                        return false;
                    } else if ($password.val() == "") {
                        $password.focus();
                        $.login.formMessage('请输入登录密码。');
                        return false;
                        //} else if ($code.val() == "") {
                        //    $code.focus();
                        //    $.login.formMessage('请输入验证码。');
                        //    return false;
                    } else {
                        $("#login_button").attr('disabled', 'disabled').find('span').html("loading...");
                        sessionStorage.setItem("school_code", $("#txt_belongSchool").val());
                        $.ajax({
                            url: "/Login/CheckLoginType",
                            data: { username: $.trim($username.val()), password: $.md5($.trim($password.val())), code: $.trim($code.val()), schoolCode: $("#txt_belongSchool").val() },
                            type: "post",
                            dataType: "json",

                            success: function (data) {
                                if (data.state == "success") {
                                    $("#login_button").find('span').html("登录成功，正在跳转...");
                                    window.setTimeout(function () {
                                        window.location.href = "/Home/Index";
                                    }, 500);
                                } else {
                                    $("#login_button").removeAttr('disabled').find('span').html("登录");
                                    $("#switchCode").trigger("click");
                                    $code.val('');
                                    $.login.formMessage(data.message);
                                }
                            }
                        });
                    }
                },
                init: function () {
                    $('.wrapper').height($(window).height());
                    $(window).resize(function (e) {
                        $('.wrapper').height($(window).height());
                    });
                    $("#switchCode").click(function () {
                        $("#imgcode").attr("src", "/Login/GetAuthCode?time=" + Math.random());
                    });
                    var login_error = top.$.cookie('zhxy_login_error');
                    if (login_error != null) {
                        switch (login_error) {
                            case "overdue":
                                $.login.formMessage("系统登录已超时,请重新登录");
                                break;
                            case "OnLine":
                                $.login.formMessage("您的帐号已在其它地方登录,请重新登录");
                                break;
                            case "-1":
                                $.login.formMessage("系统未知错误,请重新登录");
                                break;
                        }
                        top.$.cookie('zhxy_login_error', '', { path: "/", expires: -1 });
                    }
                    $("#login_button").click(function () {
                        $.login.loginClick();
                    });
                    document.onkeydown = function (e) {
                        if (!e) e = window.event;
                        if ((e.keyCode || e.which) == 13) {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                    }
                }
            };
            $(function () {
                $.login.init();

                $("#txt_belongSchool").on("change", function () {
                    var schoolCode = $("#txt_belongSchool").val();
                    $.cookie("school_code", schoolCode, { expires: 7, path: '/' });
                    top.$.cookie("school_code", schoolCode, { expires: 7, path: '/' });

                });

                var mySwiper = new Swiper('.swiper-container', {
                    direction: 'horizontal', // 垂直切换选项
                    loop: true, // 循环模式选项
                    autoplay: {
                        delay: 3000,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                })
            });

        })(jQuery);
    </script>
</body>
</html>