<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家校通</title>
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/dots.css">
</head>
<style>
    *, *:after, *:before {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    .logo {
        margin-left: 10px;
        margin-top: 10px;
        color: #ffffff;
        font-size: 24px;
    }

    body {
        /*background-image: url("/Content/img/sso-login.jpg");*/
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        font-family: 微软雅黑;
        letter-spacing: 1px;
        margin: 0px;
        padding: 0px;
    }

    #content {
        width: 100%;
    }

    .schoolWrap {
        float: left;
        margin-top: 36px;
        width: 46%;
        height: 199px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin-left: 10px;
        position: relative;
        overflow: hidden;
        top: 0;
        box-shadow: 0 8px 25px rgba(0,0,0,0.2);
        cursor: pointer;
    }

    .schoolImgBox {
        position: relative;
    }

    .schoolName {
        text-align: center;
    }
    .loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.51);
    }
    .loading-container {
      position: relative;  
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
    }
</style>
<body>
    <header>
        <!-- logo -->
        <div id="logo" class="logo">家校通</div>
        <!-- 搜索，皮肤切换 -->

    </header>
    <div id="content" class="content">

    </div>
        <div style="display: none" class="loading">
          <div class="loading-container">
            <div class="dot-bricks"></div>
          </div>
    </div>
</body>
<script>
    $(function () {
        var username = '@ViewBag.username';
        var schoolCode = '@ViewBag.schoolCode';
        //alert(schoolCode)
        if (schoolCode != '' && username != "admin") {
            switch (schoolCode) {
                case "43e0edf5-31dc-4027-9b93-f06b1b04a347":
                    schoolCode = "tfxx";
                    break;
                case "4546b7d3-7467-442b-af59-0b168977ed8f":
                    schoolCode = "hsdfx";
                    break;
                default:
                    schoolCode = "zpxx";
            }

            $('.loading').show()
            //schoolCode = $(this).attr('schoolCode')
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/Login/CheckLoginSSOMobile',
                data: { username: username, schoolCode: schoolCode },
                success: function (data) {
                    $('.loading').hide()
                    if (data.state === 'success') {
                        location.href = "/web/index.html"
                    }
                    else if (data.state === 'error') {
                        alert(data.message)
                    }
                }
            })
        } else {
            $.ajax({
                url: '/Login/GetSchoolList',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var template = ''
                    $.each(data, function (i, item) {
                        template += '<div schoolCode=' + item.schoolCode + ' class="schoolWrap normal">' +
                            '<div class="maskingBtn" schoolid="5af92be1f46ab41e061f9056" righttype="1"></div>' +
                            '<div class="schoolImgBox"><span></span><img src="/Content/img/default-logo.png" alt="" class="schoolImg"></div>' +
                            '<p class="schoolName" schoolid="5af92be1f46ab41e061f9056" status="1" righttype="1">' + item.schoolName + '</p>' +
                            '</div>'
                    })
                    template += '<div style="clear:both"></div>'
                    $('#content').html(template)
                }
            })
            $('#content').on('click', '.schoolWrap', function () {
                $('.loading').show()
                schoolCode = $(this).attr('schoolCode')
                $.ajax({
                    type: 'post',
                    dataType: 'json',
                    url: '/Login/CheckLoginSSOMobile',
                    data: { username: username, schoolCode: schoolCode },
                    success: function (data) {
                        $('.loading').hide()
                        if (data.state === 'success') {
                            location.href = "/web/index.html"
                        }
                        else if (data.state === 'error') {
                            alert(data.message)
                        }
                    }
                })
            })
        }   
        //var username = 'admin';
    
  })
  function getUrlParam(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); // 构造一个含有目标参数的正则表达式对象
      var r = window.location.search.substr(1).match(reg);  // 匹配目标参数
      if (r != null) return unescape(r[2]); return null; // 返回参数值
  }
</script>

</html>