<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班牌考勤</title>
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/Content/dots.css">

    <style>
        header {
            width: 100%;
            height: 10%;
            overflow: hidden;
        }

        .logo {
            width: 165px;
            height: 55px;
            line-height: 55px;
            float: left;
            margin-left: 8.33%;
            margin-top: 23px;
            color: #ffffff;
            font-size: 35px;
        }

        body {
            /*background-image: url("/Content/img/sso-login.jpg");*/
            background-size: cover;
            background-attachment: fixed;
            font-family: 微软雅黑;
            letter-spacing: 1px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        #content {
            width: 1450px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            max-height: 700px;
            overflow: auto;
        }

        .schoolWrap {
            float: left;
            margin-top: 36px;
            width: 315px;
            height: 299px;
            background-color: #FFFFFF;
            border-radius: 10px;
            margin-left: 40px;
            position: relative;
            overflow: hidden;
            top: 0;
            box-shadow: 0 8px 25px rgba(0,0,0,0.2);
            cursor: pointer;
        }

        .schoolImgBox {
            margin-left: 35px;
            margin-top: 30px;
            width: 244px;
            height: 138px;
            position: relative;
        }

        .schoolName {
            margin: 40px auto 0;
            font-size: 22px;
            color: #333333;
            text-align: center;
            cursor: pointer;
            width: 244px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 29px;
            white-space: nowrap;
        }

        .loading {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.51);
        }

        .loading-container {
            position: relative;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
        }
    </style>
</head>
<body>
    <header>
        <!-- logo -->
        <div id="logo" class="logo">班牌后台</div>
        <!-- 搜索，皮肤切换 -->

    </header>
    <div id="content" class="content">

    </div>
    <div style="display: none" class="loading">
        <div class="loading-container">
            <div class="dot-bricks"></div>
        </div>
    </div>

    <script>
    function requestParms(name) {
        var search = location.search.slice(1);
        var arr = search.split("&");
        for (var i = 0; i < arr.length; i++) {
            var ar = arr[i].split("=");
            if (ar[0] == name) {
                if (unescape(ar[1]) == 'undefined') {
                    return "";
                } else {
                    return unescape(ar[1]);
                }
            }
        }
        return "";
    }
    $(function () {
        var username = '@ViewBag.username';
        //var role = '@ViewBag.role';
        //var username = 'admin';
        var role = requestParms("role");

        var schoolCode = '@ViewBag.schoolCode';
        //alert(schoolCode)
        if (schoolCode != '' && username != "admin") {
            switch (schoolCode) {
                case "43e0edf5-31dc-4027-9b93-f06b1b04a347":
                    schoolCode = "tfxx";
                    break;
                case "4546b7d3-7467-442b-af59-0b168977ed8f":
                    schoolCode = "hsdfx";
                    break;
                default:
                    schoolCode = "zpxx";
            }
            //alert(schoolCode)
            $('.loading').show()
            //schoolCode = $(this).attr('schoolCode')
            $.ajax({
                url: '/Login/CheckLoginSSO',
                type: 'post',
                dataType: 'json',
                data: { username: username, schoolCode: schoolCode },
                success: function (data) {
                    $('.loading').hide()
                    if (data.state === 'success') {
                        if (role == "kq") {
                            //考勤模块
                            location.href = "/Home/Kq/"
                        } else {
                            location.href = "/Home/Index/"
                        }
                    }
                    else if (data.state === 'error') {
                        alert(data.message)
                    }
                }
            })
        } else {
            $.ajax({
                url: '/Login/GetSchoolList',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var template = ''
                    $.each(data, function (i, item) {
                        template += '<div schoolCode=' + item.schoolCode + ' class="schoolWrap normal">' +
                            '<div class="maskingBtn" schoolid="5af92be1f46ab41e061f9056" righttype="1"></div>' +
                            '<div class="schoolImgBox"><span></span><img src="/Content/img/default-logo.png" alt="" class="schoolImg"></div>' +
                            '<p class="schoolName" schoolid="5af92be1f46ab41e061f9056" status="1" righttype="1">' + item.schoolName + '</p>' +
                            '</div>'
                    })
                    $('#content').html(template)
                }
            })
            $("#content").on("mouseenter", ".schoolWrap", function () {
                $(this).animate({
                    top: -30
                }, 450, function () {
                    //  $(this).stop()
                })

            });
            $("#content").on("click", ".schoolWrap", function () {
                $('.loading').show()
                var schoolCode = $(this).attr('schoolCode')
                $.ajax({
                    url: '/Login/CheckLoginSSO',
                    type: 'post',
                    dataType: 'json',
                    data: { username: username, schoolCode: schoolCode },
                    success: function (data) {
                        $('.loading').hide()
                        if (data.state === 'success') {
                            if (role == "kq") {
                                //考勤模块
                                location.href = "/Home/Kq/"
                            } else {
                                location.href = "/Home/Index/"
                            }
                        }
                        else if (data.state === 'error') {
                            alert(data.message)
                        }
                    }
                })
            })

            $("#content").on("mouseleave", ".schoolWrap", function () {
                $(this).animate({
                    top: 0
                }, 450, function () {
                    $(this).stop()
                })
            });
        }

  })

  function getUrlParam(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); // 构造一个含有目标参数的正则表达式对象
      var r = window.location.search.substr(1).match(reg);  // 匹配目标参数
      if (r != null) return unescape(r[2]); return null; // 返回参数值
  }
    </script>
</body>
</html>