@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var deviceId = $.request("deviceId");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Screen_Exam_Type/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });
    function initControl() {
        //$("#F_Gender").bindSelect({
        //  dictionary: '104'
        //})
        //$("#F_EnabledMark").bindSelect({
        //  dictionary: 'YesOrNo'
        //})
        //$("#F_OrganizeId").bindSelect({
        //    url: "/SystemManage/Organize/GetTreeSelectJson"
        //});
        //$("#F_DepartmentId").bindSelect({
        //    url: "/SystemManage/Organize/GetTreeSelectJson",
        //});
        //$("#F_RoleId").bindSelect({
        //    url: "/SystemManage/Role/GetGridJson",
        //    id: "F_Id",
        //    text: "F_FullName"
        //});
        //$("#F_DutyId").bindSelect({
        //    url: "/SystemManage/Duty/GetGridJson",
        //    id: "F_Id",
        //    text: "F_FullName"
        //});
		$.addRequired('#form1')
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }

        $("#F_Devices").val(deviceId);
        //debugger;
        //var start = new Date($("#F_StartTime").val() - $("#F_Ahead").val() * 1000 * 60);
        //var end = new Date($("#F_StartTime").val() + $("#F_Later").val() * 1000 * 60);
        //$("#F_StartTime_View").val(start);
        //$("#F_EndTime_View").val(end);
        $.submitForm({
            url: "/SchoolManage/School_Screen_Exam_Type/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                parent.top.frames["ks"].$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <div>
                <table class="form">
                    <tr>
                        <th class="formTitle">考场名称</th>
                        <td class="formValue">
                            <input id="F_Name" name="F_Name" type="text" class="form-control required" placeholder="请输入考场名称" />
                            <input id="F_Devices" name="F_Devices" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">开始时间</th>
                        <td class="formValue">
                            <input id="F_StartTime" name="F_StartTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                        </td>
                        <th class="formTitle">截至时间</th>
                        <td class="formValue">
                            <input id="F_EndTime" name="F_EndTime" type="text" class="form-control input-wdatepicker required" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss', minDate: '#F{$dp.$D(\'F_StartTime\')}' })" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">考试开始前</th>
                        <td class="formValue" colspan="2">
                            <input id="F_Ahead" name="F_Ahead" type="text" data-rule-isNumber="true"  class="form-control required" />
                            <input id="F_StartTime_View" name="F_StartTime_View" type="hidden" />
                        </td>
                        <th>分钟显示考场内容</th>
                    </tr>
                    <tr>
                        <th class="formTitle">考试结束后</th>
                        <td class="formValue" colspan="2">
                            <input id="F_Later" name="F_Later" data-rule-isNumber="true"  type="text" class="form-control required" />
                            <input id="F_EndTime_View" name="F_EndTime_View" type="hidden" />
                        </td>
                        <th>分钟持续显示考场内容</th>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            考试内容
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Exam_Content" name="F_Exam_Content" class="form-control required" style="height: 60px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px;">
                            考试须知
                        </th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Exam_Attention" name="F_Exam_Attention" class="form-control" style="height: 60px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">监考老师工号1</th>
                        <td class="formValue">
                            <input id="F_Teacher1Code" name="F_Teacher1Code" type="text" class="form-control required" placeholder="请输入监考老师工号1" />
                        </td>
                        <th class="formTitle">监考老师工号2</th>
                        <td class="formValue">
                            <input id="F_Teacher3Code" name="F_Teacher3Code" type="text" class="form-control" placeholder="请输入监考老师工号2" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">监考老师工号3</th>
                        <td class="formValue">
                            <input id="F_Teacher3Code" name="F_Teacher3Code" type="text" class="form-control" placeholder="请输入监考老师工号3" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>