@{
    ViewBag.Title = "Auditor";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link href="/Content/js/simditor/css/simditor.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script src="~/Content/js/Fileupload.js"></script>
<script src="~/Content/js/simditor/js/module.min.js"></script>
<script src="~/Content/js/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/js/simditor/js/uploader.min.js"></script>
<script src="~/Content/js/simditor/js/simditor.min.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Teacher_Honor/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });
    function initControl() {
        $("#F_Status").bindSelect({
            dictionary: 'F_Status'
        })
        $.simpleUploader($('#F_Covers'), {
            maxFile: 1,
            maxSize: "20",
            accept: {
                title: 'Image',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
        })
        $.addRequired('#form1')
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SchoolManage/School_Teacher_Honor/AuditorForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">荣誉名称</th>
                    <td class="formValue">
                        <input id="F_Title" name="F_Title" type="text" class="form-control required" placeholder="请输入荣誉名称" />
                    </td>
                    <th class="formTitle">颁发时间</th>
                    <td class="formValue">
                        <input id="F_Date" name="F_Date" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">荣誉图片</th>
                    <td class="formValue">
                        <div id="F_Covers" class="required fileUpload">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">审核人</th>
                    <td class="formValue">
                        <input id="F_Auditor_Name" name="F_Auditor_Name" type="text" class="form-control" disabled="disabled" />
                    </td>
                    <th class="formTitle">审核状态</th>
                    <td class="formValue">
                        <select id="F_Status" name="F_Status" class="form-control required">
                            <option value="">--请选择--</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">荣誉描述</th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Content" name="F_Content" class="form-control" style="height: 260px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>