@{

    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    // 全局变量
    let op = "";

    $(function () {
        init();
    });

    // 初始化
    function init() {

        $('input').attr('autocomplete', "off");
        op = $.request("op");
        switch (op) {
            case "Add": {
                // setSortCode();
                break;
            };
            case "Update": {
                getJsonToForm();
                break;
            };
            case "Detail": {
                getJsonToForm();
                $("#myForm").addClass("disabled");
                $("[placeholder]").removeAttr("placeholder");
                break;
            };
        }
    }

    // 提交请求
    function submit() {
        if (!$('#myForm').formValid()) {
            return false;
        }
        $.ajax({
            url: `/Dorm/DormBuilding/${op}`,
            data: $("#myForm").serialize(),
            type: "post",
            dataType: "json",
            success: function (data) {
                $.loading(false);
                if (data.state == 'success') {
                    $.modalMsg('操作成功', 'success');
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    $.currentWindow().$("#itemTree").trigger("reloadGrid");
                    $.modalClose();

                } else {
                    $.modalMsg(`操作失败:${data.message}`, 'warning');
                }
            },
            beforeSend: function () {
                $.loading(true);
            },
        });
    }
    //获取数据
    function getJsonToForm() {
        $.getJSON(`/Dorm/DormBuilding/Get?id=${$.request("id")}`,
            function (data) {
                $("#myForm").formSerialize(data.data);
            }
        );
    }

</script>
<form id="myForm" style="padding-top:10px;">
    <input id="id" name="id" type="hidden" />
    
    <table class="form">
        <tr>
            <th class="formTitle">楼栋号</th>
            <td class="formValue">
                <input id="BuildingNo" name="buildingNo" type="text" class="form-control " placeholder="请输入楼栋号" />
            </td>
        </tr>
    </table>

</form>