@{
    ViewBag.Title = "Index";
    Layout =  "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();

        $("#F_Semester").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });

        $("#F_Grade_ID").change(function () {
            changeClass();
        });
    });

   function changeDivis() {
        $("#F_Grade_ID").find("option").remove();
        $("#F_Grade_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
    }

    function changeClass() {
        $("#F_TaskId").find("option").remove();
        //$("#F_TaskId").bindSelect({
        //    url: "/ScheduleManage/Schedule_WishCourseTask/GetSelectJson?F_Type=1&F_Year=" + $("#F_Year").val() + "&F_Semester=" + $("#F_Semester").val() + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val(),
        //    id: "F_Id",
        //    text: "F_TaskName"
        //});

        $.ajax({
            url: "/ScheduleManage/Schedule_WishCourseTask/GetSelectJson?F_Type=1&F_Year=" + $("#F_Year").val() + "&F_Semester=" + $("#F_Semester").val() + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val(),
            dataType: "json",
            async: false,
            success: function (data) {
                var selectOptions = $.map(data, function (item, i) {
                    var state= top.clients.dataItems["WithCourseStatus"][item.F_Status] == undefined ? "" : top.clients.dataItems["WithCourseStatus"][item.F_Status];
                    return '<option value=' + item.F_Id + '>' + item.F_TaskName + '(' + state + ')' + '</option>'
                })
                $('#F_TaskId').append(selectOptions.join(''))
            }
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ScheduleManage/Schedule_WCTaskReport/GetClassCourseGridJson",
            height: $(window).height() - 128,
            colModel: [
			 	{ label: '主键', name: 'F_Id', hidden: true },
                 {
                     label: '学部', name: 'F_Divis_ID', width: 80, align: 'left',
                     formatter: function (cellvalue, options, rowObject) {
                         return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                     }
                 },
                {
                    label: '年级', name: 'F_Grade_ID', width: 80, align: 'left',
                    formatter: function (cellvalue) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                 //{
                 //    label: '班级', name: 'F_Class_ID', width: 80, align: 'left',
                 //    formatter: function (cellvalue) {
                 //        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                 //    }
                 //},
                { label: '班级', name: 'F_ClassName', width: 80, align: 'left' },

                 
               //{ label: '任务名称', name: 'F_TaskName', width: 80, align: 'left' },
               // {
               //     label: '任务状态', name: 'F_Status', width: 80, align: 'left'
               // , formatter: function (cellvalue) {
               //     return top.clients.dataItems["WithCourseStatus"][cellvalue] == undefined ? "" : top.clients.dataItems["WithCourseStatus"][cellvalue];
               // }
               // },
                 {
                     label: '科目名称', name: 'F_CourseNames', width: 80, align: 'left'
                 , formatter: function (cellvalue) {
                     var coruseNames = "";
                     var courseIds = cellvalue.split(",");
                     for (var i = 0; i < courseIds.length; i++) {
                         coruseNames += (top.clients.course[courseIds[i]] == null ? "" : top.clients.course[courseIds[i]].F_Name) + "+";
                     }
                     return coruseNames.substring(0, coruseNames.length - 1);
                 }
                 },
                  { label: '选科人数', name: 'F_StudentCount', width: 80, align: 'left' },
                   {
                       label: '选科比例', name: 'F_StudentScale', width: 80, align: 'left',
                       formatter: "currency", formatoptions: { suffix: "%" }
                   }],
            rowNum: 1000,
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {F_Year: $("#F_Year").val(), F_Semester: $("#F_Semester").val(), F_Divis: $("#F_Divis_ID").val(), F_Grade: $("#F_Grade_ID").val(), F_TaskId: $("#F_TaskId").val() },
            }).trigger('reloadGrid');
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
        <div class="btn-group"><a id="NF-export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()"><i class="fa fa-arrow-down"></i>导出</a></div>
        <div class="btn-group"><a id="NF-import" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_import()"><i class="fa fa-arrow-up"></i>导入</a></div>
            <div class="operate">
                <ul class="nav nav-pills">
                    <li class="first">已选中<span>1</span>项</li>
                    <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a></li>
                    <li><a class="multi-edit" id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
                    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
                    <li class="split"></li>
                    <li><a id="NF-revisepassword" authorize="yes" onclick="btn_revisepassword()"><i class="fa fa-key"></i>密码重置</a></li>
                    <li class="split"></li>
                    <li><a class="multi-edit" id="NF-disabled" authorize="yes" onclick="btn_disabled()"><i class="fa fa-stop-circle"></i>禁用</a></li>
                    <li><a class="multi-edit" id="NF-enabled" authorize="yes" onclick="btn_enabled()"><i class="fa fa-play-circle"></i>启用</a></li>
                </ul>
                <a href="javascript:;" class="close"></a>
            </div>
            <script>$('.toolbar').authorizeButton()</script>
        </div>
    <div class="search">
        <table>
            <tr>
                <th class="formTitle">搜索：</th>
                               <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <select id="F_Year" name="F_Year" class="form-control">
                            <option value="">选择年度</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:180px;">
                        <select id="F_Semester" name="F_Semester" class="form-control">
                            <option value="">选择学期</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <select id="F_Divis_ID" name="F_Divis_ID" class="form-control">
                            <option value="">选择学部</option>
                        </select>
                    </div>
                </td>

                <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <select id="F_Grade_ID" name="F_Grade_ID" class="form-control">
                            <option value="">选择年级</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:160px;">
                        <select id="F_TaskId" name="F_TaskId" class="form-control">
                            <option value="">选择预选任务</option>
                        </select>
                    </div>
                </td>

                <td>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>