@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    let GRID_WIDTH = window.innerWidth * 0.48;
    let GRID_HEIGHT = window.innerHeight * 0.84;
    let TREE_GRID_WIDTH = window.innerWidth * 0.48;
    let TREE_GRID_HEIGHT = window.innerHeight * 0.84;
    let GRID_STYLE = "Bootstrap";

    let dicGroupList = JSON.parse(localStorage.getItem("dicGroup"));


    $(function () {
        $('#layout').layout({
            west__resizable: true
        }).sizePane("west", "50%");
        gridRight();
        gridLeft();
    })

    function gridRight() {
        $("#rightGrid").jqGrid({
            styleUI: GRID_STYLE,
            height: GRID_HEIGHT,
            width: GRID_WIDTH,
            datatype: 'json',
            url: `/SystemManage/Dic/GetItems`,
            multiselect: true,
            pager: "#rightPager",
            toppager: true,
            rowNum: -1,
            pgbuttons: false,
            pgbuttons: false,
            recordpos: "right",
            viewrecords: false,
            jsonReader: {
                root: function (r) { return r.data; }
            },
           
            colModel: [
                { label: '字典', name: 'dicId', editable: true, editable: true },
                { label: '键', name: 'key', editable: true, editable: true },
                { label: '值', name: 'value', editable: true, editable: true }
            ],
        });
        $("#rightGrid").jqGrid('navGrid', '#rightPager',
            {
                edit: true,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: false,
                cloneToTop: true,
            },
            {
                url: "updateBtn",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "addBtn",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "deleteBtn",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
        $("#rightGrid").jqGrid('bindKeys');
    }

    function reloadGrid(rowId) {
        $("#rightGrid").jqGrid('setGridParam', {
            postData: {
                dicId: rowId
            },
        }).trigger('reloadGrid');
    }

    function gridLeft() {
        $("#leftGrid").jqGrid({
            styleUI: GRID_STYLE,
            url: "/SystemManage/Dic/Load",
            treeGridModel: "adjacency",
            datatype: "json",
            gridview: true,
            autoGridWidth: false,
            rowNum: -1,
            autoGridHeight: true,
            height: TREE_GRID_HEIGHT,
            width: TREE_GRID_WIDTH,
            ExpandColumn: 'name',
            onSelectRow: reloadGrid,
            pager: "#leftPager",
            toppager: true,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            colModel: [
                { label: 'ID', name: 'id',  editable: true },
                { label: '名称', name: 'name',  editable: true },
                {
                    label: '类型', name: "category", editable: true,
                     formatter: function (cv) {
                        return dicGroupList[cv] == null ? "" : dicGroupList[cv];
                    },
                    edittype: "select",
                    editoptions: { value: dicGroupList },
                    edittype: 'select',
                },
                { label: '排序', name: "sortCode", editable: true},
            ],
        });

        $("#leftGrid").jqGrid('navGrid', '#leftPager',
            {
                edit: true,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: true,
                cloneToTop: true,
            },
            {
                url: "update",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "add",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "delete",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
        $("#leftGrid").jqGrid('bindKeys');
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <table id="leftGrid"></table>
        <div id="leftPager"></div>
    </div>
    <div class="ui-layout-center">
        <table id="rightGrid"></table>
        <div id="rightPager"></div>
    </div>
</div>
