@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    let GRID_WIDTH = window.innerWidth * 0.48;
    let GRID_HEIGHT = window.innerHeight * 0.84;
    let TREE_GRID_WIDTH = window.innerWidth * 0.48;
    let TREE_GRID_HEIGHT = window.innerHeight * 0.84;
    let GRID_STYLE = "Bootstrap";

    $(function () {
        $('#layout').layout({
            west__resizable: true
        }).sizePane("west", "50%");
        gridRight();
        gridLeft();
    })

    function gridRight() {
        $("#rightGrid").jqGrid({
            styleUI: GRID_STYLE,
            height: GRID_HEIGHT,
            width: GRID_WIDTH,
            datatype: 'json',
            url: `/SystemManage/Dic/GetItems`,
            multiselect: true,
            pager: "#rightPager",
            toppager: true,
            rowNum: -1,
            pgbuttons: false,
            pgbuttons: false,
            recordpos: "right",
            viewrecords: false,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            colModel: [
                { name: 'id', key: true, hidden:true },
                { label: 'CODE', name: 'code', editable: true,  },
                { label: 'KEY', name: 'key', editable: true,},
                { label: 'VALUE', name: 'value', editable: true,}
            ],
        });
        $("#rightGrid").jqGrid('navGrid', '#rightPager',
            {
                edit: false,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: false,
                cloneToTop: true,
            },
            {
                url: "updateItem",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "addItem",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "deleteItem",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
        $("#rightGrid").jqGrid('bindKeys');
    }

    function reloadGrid(rowId) {
        $("#rightGrid").jqGrid('setGridParam', {
            postData: {
                code: rowId
            },
        }).trigger('reloadGrid');
    }

    function gridLeft() {
        $("#leftGrid").jqGrid({
            styleUI: GRID_STYLE,
            url: "/SystemManage/Dic/Load",
            treeGridModel: "adjacency",
            datatype: "json",
            gridview: true,
            autoGridWidth: false,
            rowNum: -1,
            autoGridHeight: true,
            height: TREE_GRID_HEIGHT,
            width: TREE_GRID_WIDTH,
            onSelectRow: reloadGrid,
            pager: "#leftPager",
            toppager: true,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            colModel: [
                { label: '名称', name: 'name',  editable: true },
                { label: 'CODE', name: 'code',  editable: true,key:true },
                {
                    label: '类型', name: "type", editable: true,
                    formatter: function (cellValue) {
                        return top.window.getDicValue("dicGroup", cellValue);
                    },
                    edittype: "select",
                    editoptions: { value: ()=>top.window.getDic("dicGroup") },
                },
                { label: '排序', name: "sortCode", editable: true, edittype: "number"},
            ],
             grouping:true,
             groupingView : {
               groupField : ['type']
             },
        });

        $("#leftGrid").jqGrid('navGrid', '#leftPager',
            {
                edit: true,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: false,
                cloneToTop: true,
            },
            {
                url: "update",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "add",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "delete",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
        $("#leftGrid").jqGrid('bindKeys');
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <table id="leftGrid"></table>
        <div id="leftPager"></div>
    </div>
    <div class="ui-layout-center">
        <table id="rightGrid"></table>
        <div id="rightPager"></div>
    </div>
</div>
