@{Layout = "~/Views/Shared/_Index.cshtml";}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Devices/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '')
                }
            });
        }
    });
    function initControl() {
        $("#F_Gender").bindSelect({
            dictionary: '104'
        })
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson"
        });
        $("#F_DepartmentId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
        $("#F_RoleId").bindSelect({
            url: "/SystemManage/Role/GetGridJson",
            id: "F_Id",
            text: "F_FullName"
        });
        $("#F_DutyId").bindSelect({
            url: "/SystemManage/Duty/GetGridJson",
            id: "F_Id",
            text: "F_FullName"
        });
        $.addRequired('#form1')
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SchoolManage/School_Devices/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                <tr>
                <tr>
                    <th class="formTitle">所属部门</th>
                    <td class="formValue">
                        <select id="F_DepartmentId" name="F_DepartmentId" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                <tr>
                <tr>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">
                        <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">创建者</th>
                    <td class="formValue">
                        <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control required" placeholder="请输入创建者" />
                    </td>
                    <th class="formTitle">修改时间</th>
                    <td class="formValue">
                        <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改者</th>
                    <td class="formValue">
                        <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control required" placeholder="请输入修改者" />
                    </td>
                <tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue">
                        <input id="F_Memo" name="F_Memo" type="text" class="form-control required" placeholder="请输入备注" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">设备编号</th>
                    <td class="formValue">
                        <input id="F_Device_Code" name="F_Device_Code" type="text" class="form-control required" placeholder="请输入设备编号" />
                    </td>
                    <th class="formTitle">设备名称</th>
                    <td class="formValue">
                        <input id="F_Device_Name" name="F_Device_Name" type="text" class="form-control required" placeholder="请输入设备名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">品牌</th>
                    <td class="formValue">
                        <input id="F_Brand" name="F_Brand" type="text" class="form-control required" placeholder="请输入品牌" />
                    </td>
                    <th class="formTitle">类型</th>
                    <td class="formValue">
                        <input id="F_Type" name="F_Type" type="text" class="form-control required" placeholder="请输入类型" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">尺寸</th>
                    <td class="formValue">
                        <input id="F_Size" name="F_Size" type="text" class="form-control required" placeholder="请输入尺寸" />
                    </td>
                    <th class="formTitle">状态（运行中、已关机、检修、停用）</th>
                    <td class="formValue">
                        <input id="F_Device_Status" name="F_Device_Status" type="text" class="form-control required" placeholder="请输入状态（运行中、已关机、检修、停用）" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">设备IP</th>
                    <td class="formValue">
                        <input id="F_IP" name="F_IP" type="text" class="form-control required" placeholder="请输入设备IP" />
                    </td>
                    <th class="formTitle">设备序列号</th>
                    <td class="formValue">
                        <input id="F_Sn" name="F_Sn" type="text" class="form-control required" placeholder="请输入设备序列号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">教室ID</th>
                    <td class="formValue">
                        <input id="F_Classroom" name="F_Classroom" type="text" class="form-control required" placeholder="请输入教室ID" />
                    </td>
                    <th class="formTitle">教室地址</th>
                    <td class="formValue">
                        <input id="F_Classroom_Info" name="F_Classroom_Info" type="text" class="form-control required" placeholder="请输入教室地址" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">是否启动倒计时</th>
                    <td class="formValue">
                        <input id="F_IfCountdown" name="F_IfCountdown" type="text" class="form-control required" placeholder="请输入是否启动倒计时" />
                    </td>
                    <th class="formTitle">倒计时标题</th>
                    <td class="formValue">
                        <input id="F_Countdown_Title" name="F_Countdown_Title" type="text" class="form-control required" placeholder="请输入倒计时标题" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">倒计时开始时间</th>
                    <td class="formValue">
                        <input id="F_Countdown_StartTime" name="F_Countdown_StartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                    <th class="formTitle">倒计时结束时间</th>
                    <td class="formValue">
                        <input id="F_Countdown_EndTime" name="F_Countdown_EndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">显示模式（横屏/竖屏）</th>
                    <td class="formValue">
                        <input id="F_Display_Style" name="F_Display_Style" type="text" class="form-control required" placeholder="请输入显示模式（横屏/竖屏）" />
                    </td>
                    <th class="formTitle">风格模式</th>
                    <td class="formValue">
                        <input id="F_Style" name="F_Style" type="text" class="form-control required" placeholder="请输入风格模式" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">安装地点</th>
                    <td class="formValue">
                        <input id="F_Address" name="F_Address" type="text" class="form-control required" placeholder="请输入安装地点" />
                    </td>
                    <th class="formTitle">班级id</th>
                    <td class="formValue">
                        <input id="F_Class" name="F_Class" type="text" class="form-control required" placeholder="请输入班级id" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">班级信息</th>
                    <td class="formValue">
                        <input id="F_Class_Info" name="F_Class_Info" type="text" class="form-control required" placeholder="请输入班级信息" />
                    </td>
                    <th class="formTitle">定时开关机规则（周一、周二。。。）</th>
                    <td class="formValue">
                        <input id="F_Switch_Rules" name="F_Switch_Rules" type="text" class="form-control required" placeholder="请输入定时开关机规则（周一、周二。。。）" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">首页栏目（风采图片 视频 新闻 活动）</th>
                    <td class="formValue">
                        <input id="F_HomePage_Channel" name="F_HomePage_Channel" type="text" class="form-control required" placeholder="请输入首页栏目（风采图片 视频 新闻 活动）" />
                    </td>
                    <th class="formTitle">系统版本号</th>
                    <td class="formValue">
                        <input id="F_SystemNo" name="F_SystemNo" type="text" class="form-control required" placeholder="请输入系统版本号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">apk版本号</th>
                    <td class="formValue">
                        <input id="F_ApkNo" name="F_ApkNo" type="text" class="form-control required" placeholder="请输入apk版本号" />
                    </td>
            </table>
        </div>
    </div>
</form>