@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>


    $(function () {
        $('#layout').layout({
            west__size: 300,
            resizable: false
        });
        getTree();
        getList();
         $("#search").bind("click", ()=>reloadGrid($("#treeGrid").getGridParam("selrow")));
    })
    // 初始化树
    function getTree() {
        $("#treeGrid").dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",// nested
            ExpandColumn: "F_EnCode",
            ExpandColClick: true,
            onCustomSelectRow: (rowId) => {
                reloadGrid(rowId);
                setCurrentOrg(rowId);
            },
            multiselect: false,
            url: "/SystemManage/Organize/GetTreeGridJson",
            colModel: [
                { label: '名称', name: 'F_FullName', width: 200, align: 'left' },
                { label: '编号', name: 'F_EnCode', width: 150, align: 'left', hidden: true },
                { label: "主键", name: "F_Id", width: 150, align: 'left', key: true, hidden: true }
            ],
            autoGridHeight: () => window.innerHeight * 0.86,
        });
    }
    // 初始化列表
    function getList() {
        $("#listGrid").dataGrid({
            url: "/Dorm/SpecialLeave/GetStudentByOrg",
            jsonReader: {
                root: function (result) {
                    return result.data;
                }
            },
            height: $(window).height() - 173,
            autoGridHeight: () => window.innerHeight * 0.7,
            colModel: [
                { label: 'userId', index: "userId", name: 'userId', key: true, hidden: true },
                { label: '姓名', index: "name", name: 'name', width: 150 },
            ],
            rowNum: -1,
        });
    }


    function reloadGrid(orgId) {
        $("#listGrid").setGridParam({ postData: { keyword: $("#keyword").val(), orgId: orgId } }).trigger('reloadGrid');
    }


    function setCurrentOrg(orgId) {
       
        let orgName = $("#treeGrid").getRowData(orgId, true)["F_FullName"]||"";
        $("#currentOrg").html(orgName);
    }


    function submit() {
        let rows = $("#listGrid").getGridParam("selarrrow");
        let data = [];
        for (let i = 0; i < rows.length; i++) {
            data.push($("#listGrid").getRowData(rows[i]));
        }
        //$.modalClose();
        return data;
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="gridPanel">
            <table id="treeGrid"></table>
        </div>
    </div>
    
    <div class="ui-layout-center">
        <div class="topPanel">

            <div class="search">
                <table>
                    <tr>
                        <th class="formTitle">搜索：</th>
                        <td>
                            <div class="input-group">
                                <input id="keyword" type="text" class="form-control" placeholder="名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span id="currentOrg" style="margin-left:10px;"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="listGrid"></table>
        </div>
    </div>
</div>