<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="数据中心接口服务Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="数据中心接口服务Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://passport.nchu.edu.cn/api/DataCenter.asmx"
                binding="basicHttpBinding" bindingConfiguration="数据中心接口服务Soap"
                contract="NHMessage.数据中心接口服务Soap" name="数据中心接口服务Soap" />
        </client>
    </system.serviceModel>
</configuration>