@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    $(function () {
        initControl();
    });
    function initControl() {
        $("#F_SemesterId").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_DivisId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_DivisId").change(function () {
            changeDivis();
        });

        $("#F_GradeId").change(function () {
            //changeClass();
            changeTask();

        });
        $("#F_TaskId").change(function () {
            changeCourse();
            //changeStudent();
        });
        //$("#F_ClassId").change(function () {
        //    changeStudent();
        //});
        //changeDivis();
        $.addRequired('#form1')
    }
    function submitForm(callback) {
        if (!$('#form1').formValid()) {
            return false;
        }
        var datas = []
        //var objs=$("input[name='F_ClassStudentCount']");
        $("input[name='F_ClassStudentCount']").each(function () {
            datas.push({ F_TaskCourseGroupId: $(this).attr("data-gid"), F_ClassStudentCount: $(this).val() });
        });

        var postData = { F_TaskId: $("#F_TaskId").val(), data: datas };
        $.modalConfirm("注：此操作会将之前班级重置，确定执行吗？", function (r) {
            if (r) {

                $.ajax({
                    type: "POST",
                    url: "/ScheduleManage/Schedule_Class/SubmitForm",
                    data: JSON.stringify(postData),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        if (data.state == "success") {
                            $.modalMsg(data.message, data.state);
                            $.modalClose();
                            callback($("#F_Year").val(), $("#F_SemesterId").val(), $("#F_DivisId").val(), $("#F_GradeId").val());
                        } else {
                            $.modalAlert(data.message, data.state);
                        }
                    }
                });
            }
        });
    }

    function changeDivis() {

        $("#F_GradeId").find("option").remove();
        $("#F_GradeId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_DivisId").val(),
        });
        //changeClass();
    }

    function changeClass() {
        $("#F_ClassId").find("option").remove();
        $("#F_ClassId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#F_GradeId").val(),
        });
    }

    function changeTask() {
        $("#F_TaskId").find("option").remove();
        $("#F_TaskId").bindSelect({
            url: "/ScheduleManage/Schedule_WishCourseTask/GetSelectJson?F_Type=1&F_Year=" + $("#F_Year").val() + "&F_Semester=" + $("#F_SemesterId").val() + "&F_Divis=" + $("#F_DivisId").val() + "&F_Grade=" + $("#F_GradeId").val(),
            id: "F_Id",
            text: "F_TaskName"
        });
        //$.ajax({
        //    url: "/ScheduleManage/Schedule_WishCourseTask/GetSelectJson?F_Type=1&F_Year=" + $("#F_Year").val() + "&F_Semester=" + $("#F_SemesterId").val() + "&F_Divis=" + $("#F_DivisId").val() + "&F_Grade=" + $("#F_GradeId").val(),
        //    dataType: "json",
        //    async: false,
        //    success: function (data) {
        //        var selectOptions = $.map(data, function (item, i) {
        //            var state = top.clients.dataItems["WithCourseStatus"][item.F_Status] == undefined ? "" : top.clients.dataItems["WithCourseStatus"][item.F_Status];
        //            return '<option value=' + item.F_Id + '>' + item.F_TaskName + '(' + state + ')' + '</option>'
        //        })
        //        $('#F_TaskId').append(selectOptions.join(''))
        //    }
        //});

    }

    function changeCourse() {

        $.ajax({
            url: "/ScheduleManage/Schedule_WCTaskReport/GetThreeCourseGridJson?F_TaskId="+$("#F_TaskId").val(),
            dataType: "json",
            async: false,
            success: function (data) {
                var selectOptions = $.map(data, function (item, i) {
                    var coruseNames = "";
                    var courseIds = item.F_CourseNames.split(",");
                    for (var i = 0; i < courseIds.length; i++) {
                        coruseNames += (top.clients.course[courseIds[i]] == null ? "" : top.clients.course[courseIds[i]].F_Name) + "+";
                    }
                    coruseNames = coruseNames.substring(0, coruseNames.length - 1);
                    return '<tr><td>' + coruseNames + '</td><td>' + item.F_StudentCount + '</td><td><input name="F_ClassStudentCount" type="text" class="form-control" data-gid="' + item.F_TaskCourseGroupId + '" value="' + item.F_StudentCount + '" /></td></tr>'
                })
                $('#coursesTable').html("<tr><td>科目组合</td><td>选科人数</td><td>成班人数</td></tr>");
                $('#coursesTable').append(selectOptions.join(''))
            }
        });

    }

    //function gridList3() {
    //    var $gridList = $("#gridList3");
    //    $gridList.dataGrid({
    //        url: "/ScheduleManage/Schedule_WCTaskReport/GetThreeCourseGridJson" ,
    //        height: $(window).height() - 128,
    //        colModel: [
	//		 	{ label: '主键', name: 'F_Id', hidden: true },
    //             {
    //                 label: '科目名称', name: 'F_CourseNames', width: 180, align: 'left'
    //             , formatter: function (cellvalue) {
    //                 var coruseNames = "";
    //                 var courseIds = cellvalue.split(",");
    //                 for (var i = 0; i < courseIds.length; i++) {
    //                     coruseNames += (top.clients.course[courseIds[i]] == null ? "" : top.clients.course[courseIds[i]].F_Name) + "+";
    //                 }
    //                 return coruseNames.substring(0, coruseNames.length - 1);
    //             }
    //             },
    //              { label: '选科人数', name: 'F_StudentCount', width: 180, align: 'left' }
    //        ,
    //         { label: '成班人数', name: 'F_Id', width: 180, align: 'left' }],
    //        rowNum: 1000,
    //        multiselect: false,
    //        pager: "#gridPager3",
    //        sortname: 'F_CreatorTime desc',
    //        viewrecords: true
    //    });

    //    //$("#btn_search").click(function () {
    //    //    $gridList.jqGrid('setGridParam', {
    //    //        postData: {F_Year: $("#F_Year").val(), F_Semester: $("#F_Semester").val(), F_Divis: $("#F_Divis_ID").val(), F_Grade: $("#F_Grade_ID").val(), F_TaskId: $("#F_TaskId").val() },
    //    //    }).trigger('reloadGrid');
    //    //});
    //}
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">年度：</th>
                    <td class="formValue">
                        <select id="F_Year" name="F_Year" class="form-control required">
                            <option value="">选择年度</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">学期：</th>
                    <td class="formValue">
                        <select id="F_SemesterId" name="F_SemesterId" class="form-control required">
                            <option value="">选择学期</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">学部：</th>
                    <td class="formValue">
                        <select id="F_DivisId" name="F_DivisId" class="form-control required">
                            <option value="">选择学部</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">年级：</th>
                    <td class="formValue">
                        <select id="F_GradeId" name="F_GradeId" class="form-control required">
                            <option value="">选择年级</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">任务名称</th>
                    <td class="formValue">
                        <select id="F_TaskId" name="F_TaskId" class="form-control required">
                            <option value="">选择预选任务</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <br />
                        <table id="coursesTable" class="table table-bordered" style="text-align:center">
                            <tr><td >科目组合</td><td>选科人数</td><td>成班人数</td></tr>
                           @* <tr><td>科目组合</td><td>选科人数</td><td><input name="F_ClassStudentCount" type="text" class="form-control required" /></td></tr>*@
                        </table>
                        </td>
                    </tr>
                @*<tr>
                    <td colspan="2">
                        <div class="gridPanel">
                            <table id="gridList3"></table>
                            <div id="gridPager3"></div>
                        </div>
                    </td>
                </tr>*@
                @*<tr>
                <th class="formTitle">预选科目</th>
                <td class="formValue" id="F_CourseGroups"></td>
            </tr>*@
            </table>
        </div>
    </div>
</form>