<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="owin:AutomaticAppStartup" value="false" />
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Session" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />

  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 设置格式 -->
  <add key="MapFormat" value="exe" />
  <!-- 设置上传路径 -->
  <add key="MapPath" value="/UpLoad/" />
  <add key="SchoolName" value="jxxm/" />
  <!-- 设置云 -->
  <add key="PrivateCloud" value="Yes" />

  <!-- 设置ftp目标路径 -->
  <add key="ftpURI" value="ftp://192.168.1.125/" />
  <!-- 设置ftp用户名 -->
  <add key="ftpname" value="zhxyftp" />
  <!-- 设置ftp密码 -->
  <add key="ftppassword" value="123456" />
  <!-- 设置模版下载地址 -->
  <add key="ftpFilePath" value="`/UpLoad/Down_Mod/" />
  <!-- 设置上传文件格式 -->
  <add key="existen" value="jpg,gif,bmp,png,pdf,xls,doc,ppt,xlsx,zip,pptx,mmap,zip,docx,flv,rar,txt,aspx,asp,sql,mp4,avi,jpeg,wav" />

  <!-- 设置大小 -->
  <!--<add key="MapSize" value="20971520" />-->
  <!-- ================== 4：缓存类型 local or redis ================== -->
  <add key="Cache" value="local" />
  <!-- redis Start   -->
  <add key="SessionExpireMinutes" value="180" />
  <add key="redis_server_session" value="192.168.1.125:6379" />
  <add key="redis_max_read_pool" value="3" />
  <add key="redis_max_write_pool" value="1" />
  <!--redis end-->
  

  <!--禁用BrowserLink-->

  <add key="vs:EnableBrowserLink" value="false" />

  <!-- 版本服务器 -->
  <add key="port" value="http://zhxy.huawangtech.com:8082" />
  <!--<add key="port" value="8096" />-->

  <!-- VSTO插件版本号 -->
  <add key="VstoExtensionVersion" value="1.0.0.10" />

  <add key="CallUrlAdd" value="http://61.164.123.34:7788/api/user/add" />
  <add key="CallUrlUpt" value="http://61.164.123.34:7788/api/user/upt" />
  <add key="CallUrlDel" value="http://61.164.123.34:7788/api/user/delete" />
  <add key="appid" value="b500862c661e48acb9d68b59fbe6c795" />

  <!--运营平台相关-->
  <!-- 渠道编码 -->
  <add key="qdNo" value="nh" />
  <!-- 数据库获取 -->
  <add key="getSchoolDbConnecionStringUrl" value="http://zhxy.huawangtech.com:8082/Api/School/GetDbInfo?schoolCode=" />
  <!-- 学校列表获取 -->
  <add key="getSchoolListUrl" value="http://zhxy.huawangtech.com:8082/Api/School/GetSchoolList?qdNo=" />

  <!--默认密码-->
  <add key="UserPassword" value="000000" />
	<!--quartz_jobs.xml绝对路径-->
	<add key="quartz_jobs.xml" value="D:\hw\TaskAPI\TaskAPI\quartz_jobs.xml" />
  <!--单点登录auth2.0-->
  <add key="ifSso" value="off" />
  <!--on / off 是否走单点登录 验证-->
  <add key="baseUrl" value="https://www.jxgqedu.com" />
  <add key="resBaseUrl" value="https://www.jxgqedu.com" />
  <add key="authorizePath" value="/sso/oauth2/authorize" />
  <add key="redirectUrl" value="http://192.168.0.222:6666/SsoIndex" />
  <add key="tokenPath" value="/sso/oauth2/token" />
  <add key="loginPath" value="/sso/oauth2/authorize" />
  <add key="logoutPath" value="/sso/oauth2/logout" />
  <add key="userInfoPath" value="/sso/oauth2/userinfo" />
  <add key="clientId" value="clientId" />
  <add key="clientSecret" value="clientSecret" />
  <add key="api" value="http://smart.jxgqedu.com" />

  <!--学校编码对应的redis库号-->
  <add key="tfxx_redis_database" value="1" />

  <!--功能模块配置相关-->
  <!--是否启用辅助屏-->
  <add key="Assits_Enable" value="true" />



  <!--南航单点登录配置-->
  <add key="SiteID" value="49" />
  <!--由校方给定-->
  <add key="Key" value="Yq62wiG0OX" />
  <!--由校方给定-->
  <add key="PassportURL" value="http://passport.nchu.edu.cn/loging.aspx" />
  <add key="LogoutURL" value="http://passport.nchu.edu.cn/logout.aspx" />
  <add key="PublicKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;vIigF7rp6fPZ1PhMSV5NBXvwmku9Il4REcB+wK+fCIqeI9cuBg7LCX3UBn96MBBB5mEJbsSGabervfMKs3y0YdRtCobVzX3VRNAcO/Y+5W52MbrXm1H4NDKd8Kcw5c/brr0X3Lit+dNjWNLk85vmeCSw8molfzrA5ugvX7/Qf+8=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
  <add key="TimeDiff" value="600" />
  <add key="LocalLoginUrl" value="http://localhost:8082/Login/Index3" />
  <!--这里要换成你的站登录地址-->
</appSettings>