@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link href="/Content/js/simditor/css/simditor.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script src="~/Content/js/Fileupload.js"></script>
<script src="~/Content/js/simditor/js/module.min.js"></script>
<script src="~/Content/js/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/js/simditor/js/uploader.min.js"></script>
<script src="~/Content/js/simditor/js/simditor.min.js"></script>
<script>
    var keyValue = $.request("keyValue");
    var F_StudentId = $.request("F_StudentId");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Students_StatusLog/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });
    function initControl() {
        $.addRequired('#form1')
        $.simpleUploader($('#F_File'), {
            maxFile: 1,
            maxSize: "20",
            accept: {
                title: 'Image',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
        })
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SchoolManage/School_Students_StatusLog/SubmitForm?F_StudentId=" + F_StudentId + "&keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                parent.top.frames["updcurstatu"].$("#gridList").trigger("reloadGrid");
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">

                <tr>
                    <th class="formTitle">日常类型</th>
                    <td class="formValue">
                        <select id="F_CurStatu" name="F_CurStatu" class="form-control required">
                            <option value="">-请选择-</option>
                            <option value="1">正常在校</option>
                            <option value="2">临时请假</option>
                            <option value="3">长期请假</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle required">变更凭证</th>
                    <td class="formValue">
                        <div id="F_File" class="fileUpload uploader">
                        </div>
                        @*<input id="F_File" name="F_File" type="text" class="form-control required" placeholder="请输入变更凭证" />*@
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">变更备注</th>
                    <td class="formValue">
                        <textarea id="F_Description" name="F_Description" class="form-control required" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>