@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var F_ChargeScheme_ID = $.request("keyValue");
    $(function () {
        gridList();

    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SchoolManage/School_ChargeScheme_Detail/GetGridJson?F_ChargeScheme_ID=" + F_ChargeScheme_ID,
            height: $(window).height() - 173,
            colModel: [
              							 	{ label: '主键', name: 'F_Id', hidden: true },
				  				                //{ label: '收费项目', name: 'F_Fees_Id', width: 80, align: 'left' },
                  				                { label: '收费项目', name: 'F_Fees_Name', width: 80, align: 'left' },
                  				                { label: '收费金额', name: 'F_Fees', width: 80, align: 'left' },
                  							 	{ label: '备注', name: 'F_Description', width: 200, align: 'left' },
				  				                //{ label: '序号', name: 'F_SortCode', width: 80, align: 'left' },
                  				                //{ label: '所属部门', name: 'F_DepartmentId', width: 80, align: 'left' },
                  				                //{ label: '删除标记', name: 'F_DeleteMark', width: 80, align: 'left' },

                   							 	{ label: '创建时间', name: 'F_CreatorTime', width: 80, align: 'left',
                   							 	formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                  				  				  				  				            ],
            pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { F_ChargeScheme_ID: F_ChargeScheme_ID },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "ItemsForm",
            title: "新增",
            url: "/SchoolManage/School_ChargeScheme_Detail/Form?F_ChargeScheme_ID=" + F_ChargeScheme_ID,
            width: "700px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "ItemsForm",
            title: "修改",
            url: "/SchoolManage/School_ChargeScheme_Detail/Form?keyValue=" + keyValue,
            width: "700px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var deleteid = $('#gridList').jqGridRowValue('F_Id');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            keyValue += deleteid[i] + "|";
        }
        $.deleteForm({
            url: "/SchoolManage/School_ChargeScheme_Detail/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                //$.currentWindow().$("#gridList").trigger("reloadGrid");
                top.frames["Items"].$("#gridList").trigger("reloadGrid")
            }
        })
    }
    function btn_details() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "ItemsDetails",
            title: "查看",
            url: "/SchoolManage/School_ChargeScheme_Detail/Details?keyValue=" + keyValue,
            width: "700px",
            height: "400px",
            btn: null,
        });
    }

    function btn_export() {
        var keyValue = $("#txt_keyword").val();
        if (keyValue != null)
            keyValue = "?keyword=" + keyValue;

        document.location = "/SchoolManage/School_ChargeScheme_Detail/export" + keyValue;
    }

    function btn_import() {
        var title = 'ItemsExcel';
        var extensions = 'xls,xlsx';
        var mimeTypes = 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
        $.modalOpen({
            id: "Form",
            title: "导入",
            url: "/Home/Import?title=" + title + "&extensions=" + extensions + "&mimeTypes=" + mimeTypes + "&fileName=",
            width: "500px",
            height: "300px",
            callBack: function (iframeId) {
                var filePath = top.frames[iframeId].submitForm();
                importAcrion(filePath);
            }
        });
    }

    function importAcrion(filePath) {
        $.submitForm({
            url: "/SchoolManage/School_ChargeScheme_Detail/import",
            param: { filePath: filePath },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
            <div class="operate">
                <ul class="nav nav-pills">
                    <li class="first">已选中<span>1</span>项</li>
                    <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a></li>
                    <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
                    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
                </ul>
                <a href="javascript:;" class="close"></a>
            </div>
            <script>$('.toolbar').authorizeButton()</script>
        </div>
    <div class="search">
        <table>
            <tr>
                <th class="formTitle">搜索：</th>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名称" style="width: 150px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>