@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    let org_id = "";
    $(function () {
        $('#layout').layout({
            west: { size: '25%' }
        });
        treeView();
        gridList();
        $("#duty_id").bindSelect({
            dictionary: "Duty"
        });
      
    })
    function treeView() {
        let $gridList = $("#table_gridList");
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "code",
            url: "/SystemManage/Organize/GetTree",
            height: $(window).height(),
            autoGridHeight: function () {
                return $(window).height()
            },
            colModel: [
                { label: '机构名称', name: 'name', width: 100, align: 'left' },
                { label: '编号', name: 'code', width: 150, align: 'left', hidden: true },
                { label: "主键", name: "id", width: 150, align: 'left', key: true, hidden: true },
                { label: '名称', name: 'name', width: 200, align: 'left', hidden: true },
            ],
            onCustomSelectRow: DispalyGrid,
            multiselect: false,
            rowNum: -1,

        });
    }

    function DispalyGrid(rowid) {
        org_id = rowid;
        $('#btn_search').trigger("click");
    }
    function gridList() {
        let $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/User/GetGridJson",
            height: $(window).height(),
            autoGridHeight: function () {
                return $(window).height() - 225
            },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '帐户', name: 'account', width: 80, align: 'left' },
                { label: '姓名', name: 'name', width: 80, align: 'left' },
                {
                    label: '岗位', name: 'dutyId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.duty[cellvalue] == null ? "" : top.clients.duty[cellvalue].fullname;
                    }
                },
                {
                    label: '隶属机构', name: 'organId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                { label: '手机号码', name: 'mobilePhone', width: 80, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'id',
            sortorder: 'desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), org_id: org_id, duty_id: $("#duty_id").val() }
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增用户",
            url: "/SystemManage/User/Form",
            width: "700px",
            height: "610px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = ($("#gridList").jqGridRowValue('Id'))[0];
        $.modalOpen({
            id: "Form",
            title: "修改用户",
            url: "/SystemManage/User/Form?keyValue=" + keyValue,
            width: "700px",
            height: "610px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var deleteid = $('#gridList').jqGridRowValue('Id');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            keyValue += deleteid[i] + "|";
        }
        $.deleteForm({
            url: "/SystemManage/User/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = ($("#gridList").jqGridRowValue('Id'))[0];
        $.modalOpen({
            id: "Details",
            title: "查看用户",
            url: "/SystemManage/User/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }
    function btn_revisepassword() {
        var keyValue = ($("#gridList").jqGridRowValue('Id'))[0];
        var Account = ($("#gridList").jqGridRowValue('F_Account'))[0];
        var RealName = ($("#gridList").jqGridRowValue('F_RealName'))[0];
        $.modalOpen({
            id: "RevisePassword",
            title: '重置密码',
            url: '/SystemManage/User/RevisePassword?keyValue=' + keyValue + "&account=" + escape(Account) + '&realName=' + escape(RealName),
            width: "450px",
            height: "260px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_disabled() {
        //var keyValue = $("#gridList").jqGridRowValue('F_Id')

        var disabledid = $('#gridList').jqGridRowValue('Id');
        var keyValue = "";
        for (var i = 0; i < disabledid.length; i++) {
            keyValue += disabledid[i] + "|";
        }
        console.log(keyValue);
        $.modalConfirm("注：您确定要【禁用】该项账户吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemManage/User/DisabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }
    function btn_enabled() {
        var enabledid = $("#gridList").jqGridRowValue('Id')
        var keyValue = "";
        for (var i = 0; i < enabledid.length; i++) {
            keyValue += enabledid[i] + "|";
        }
        console.log(keyValue);
        $.modalConfirm("注：您确定要【启用】该项账户吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/SystemManage/User/EnabledAccount",
                    param: { keyValue: keyValue },
                    success: function () {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }

    function btn_export() {
        var F_DutyId = $("#F_DutyId").val();
        var F_CreatorTime_Start = $("#F_CreatorTime_Start").val();
        var F_CreatorTime_Stop = $("#F_CreatorTime_Stop").val();

        var keyword = $("#txt_keyword").val();
        //if (keyValue != null)
        //    keyValue = "?keyword=" + keyValue;

        document.location = "/SystemManage/User/export?keyword=" + keyword + "&F_DutyId=" + F_DutyId + "&F_CreatorTime_Start=" + F_CreatorTime_Start + "&F_CreatorTime_Stop=" + F_CreatorTime_Stop + "";
    }

    function btn_import() {
        var title = 'Excel';
        var extensions = 'xls,xlsx';
        var mimeTypes = 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
        $.modalOpen({
            id: "Form",
            title: "导入用户",
            url: "/Home/Import?title=" + title + "&extensions=" + extensions + "&mimeTypes=" + mimeTypes + "&fileName=用户模版.xls",
            width: "500px",
            height: "300px",
            callBack: function (iframeId) {
                var filePath = top.frames[iframeId].submitForm();
                importAcrion(filePath);
            }
        });
    }

    function importAcrion(filePath) {
        $.submitForm({
            url: "/SystemManage/User/import",
            param: { filePath: filePath },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="gridPanel">
            <table id="table_gridList"></table>
        </div>
    </div>

    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group"> <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建用户</a> </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改用户</a></li>
                        <li><a class="multi-edit" id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除用户</a></li>
                        <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看用户</a></li>
                        <li class="split"></li>
                        <li><a id="NF-revisepassword" authorize="yes" onclick="btn_revisepassword()"><i class="fa fa-key"></i>密码重置</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                @*<script>$('.toolbar').authorizeButton()</script>*@
            </div>
            <div class="search">
                <ul>
                    <li class="formTitle">搜索：</li>
                  
                    <li>
                        <div class="input-group" style="margin-right:10px;width:170px;">
                            <select id="duty_id" name="duty_id" class="form-control">
                                <option value="">选择岗位</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 150px;">
                            <span class="input-group-btn">
                                <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>