@{
    ViewBag.Title = "Auditor";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .tr1 {
        display: none;
    }
</style>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_MoneyChangeList/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                    $("#F_Proof").attr("src", $("#F_Proof").val());
                    $("#F_Proof_hidden").attr("src", $("#F_Proof").val());
                }
            });
        }

        var xyid = $.request("xyid");

        $.ajax({
            url: "/SchoolManage/School_MoneyChangeList/GetChargeStandard?xyid=" + xyid,
            //dataType: "json",
            success: function (data) {
                //alert(data)
                $("#sfbz").html(data);
                $("#F_Sign_Id").val(xyid);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.loading(false);
            },
        });
    });
    function initControl() {
        $("#F_ComeBackType").bindSelect({
            dictionary: 'F_ComeBackType'
        });
        //$("#F_ComeBackProv").bindSelect({
        //    url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=0",
        //});
        //$("#F_ComeBackProv").change(function () {
        //    $("#F_ComeBackCity").find("option").remove();
        //    $("#F_ComeBackCity").bindSelect({
        //        url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackProv").val(),
        //    });

        //    $("#F_ComeBackArea").find("option").remove();
        //    $("#F_ComeBackArea").bindSelect({
        //        url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackCity").val(),
        //    });

        //    changeComeBack();
        //    changeStation();
        //});
        $("#F_ComeBackCity").bindSelect({
            url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=0",
        });
        $("#F_ComeBackCity").change(function () {
            $("#F_ComeBackArea").find("option").remove();
            $("#F_ComeBackArea").bindSelect({
                url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackCity").val(),
            });

            changeComeBack();
            //changeStation();
        });

        $("#F_ComeBackArea").change(function () {
            changeComeBack();
            //changeStation();
        });
        //$("#F_ComeBackType").change(function () {
        //    changeComeBack(); changeStation();
        //});

        //$("#F_ComeBackRoute_ID").change(function () {
        //    changeStation();
        //})
        function changeComeBack() {
            $("#F_ComeBackRoute_ID").find("option").remove();
            $("#F_ComeBackRoute_ID").append("<option value=''>选择路线</option>");
            $("#F_ComeBackRoute_ID").bindSelect({
                url: "/SchoolManage/School_ComeBackRouteTwo/GetFormEntity?F_Country=" + $("#F_ComeBackArea").val() + "",
                id: "F_Id",
                text: "F_Title"
            });
        }
        //function changeStation() {
        //    $('#F_ComeBackSite option').remove()
        //    $('#F_ComeBackSite').bindSelect({
        //        url: '/SchoolManage/School_ComeBackSite/GetSelectList?F_ComeBackRouteId=' + $('#F_ComeBackRoute_ID').val() + ''
        //    })
        //}
        $("#F_Change_Item").change(function () {
            var $formItem = $('.tr1').find('.form-control')
            var $formItem1 = $('.tr2').find('.form-control')
            if ($("#F_Change_Item").val() != 3) {
                $('#F_Change_Type').addClass('required').parents('.formValue').prev('.formTitle').addClass('required')
            }
            if ($("#F_Change_Item").val() == 1) {
                $(".tr1").show()
                $formItem.removeClass('ignore').parents('.formValue').prev('.formTitle').removeClass('ignore')
                $formItem1.addClass('ignore').parents('.formValue').prev('.formTitle').addClass('ignore')
            } else {
                $(".tr1").hide()
            }
            if ($("#F_Change_Item").val() == 3) {
                $(".tr2").show()
                $formItem1.addClass('required').parents('.formValue').prev('.formTitle').addClass('required')
                $formItem.addClass('ignore').parents('.formValue').prev('.formTitle').addClass('ignore')
                $formItem1.removeClass('ignore').parents('.formValue').prev('.formTitle').removeClass('ignore')

                $('#F_Change_Type').removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            } else {
                $(".tr2").hide()
                $formItem1.removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            }
        })

        $("#F_Year").bindSelect({
            dictionary: 'limYear'
        })
        $("#F_Year_Period").bindSelect({
            dictionary: 'Semester'
        })
        $("#F_Change_Type").bindSelect({
            dictionary: 'F_Change_Type'
        })
        $("#F_Change_Item").bindSelect({
            dictionary: 'F_Change_Item'
        })

        //$.simpleUploader($('.fileUpload'))
        $.addRequired('#form1')
    }
    function submitForm() {

        if (!$('#form1').formValid()) {
            //alert(1);
            return false;
        }

        $.submitForm({
            url: "/SchoolManage/School_MoneyChangeList/AuditorForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    $(document).ready(function () {
        $("#F_Proof").click(function () {
            //$.modalOpen({
            //    title: false,
            //    width: document.getElementById("F_Proof_hidden").width + "px",
            //    height: document.getElementById("F_Proof_hidden").height + "px",
            //    skin: 'layui-layer-nobg',
            //    btn: 0,
            //    url: $("#F_Proof").val()
            //});
            $("#F_Proof").zoomify();
        });
        $("#F_Status").change(function () {
            //if ($("#F_Status").val() != 5) {
            //    $('#F_Bill_ChangeNo, #F_Bill_No').removeClass('required').parent().prev('.formTitle').removeClass('required')
            //} else {
            //    $('#F_Bill_ChangeNo, #F_Bill_No').addClass('required').parent().prev('.formTitle').addClass('required')
            //}
            if ($("#F_Status").val() == 5) {
                var F_Change_Item = "学杂费";
                if ($("#F_Change_Item").val() == 4) {
                    F_Change_Item = "保额金";
                }
                $.ajax({
                    url: "/SchoolManage/School_Bill/GetListWhere",
                    data: { F_StudentNum: $("#F_Student_Num").val(), F_Fees_Name: F_Change_Item },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data[0]==null) {
                            alert("当前报名还未审核通过，暂无学杂费账单！");
                        }
                        $("#F_Bill_No").val(data[0].F_ChargeNo);
                        //alert($("#F_Bill_No").val());
                    }
                });
            }
            else $("#F_Bill_No").val("");
        })
        //if ($("#F_Status").val() != 5) {
        //    $('#F_Bill_ChangeNo, #F_Bill_No').removeClass('required').parent().prev('.formTitle').removeClass('required')
        //} else {
        //    $('#F_Bill_ChangeNo, #F_Bill_No').addClass('required').parent().prev('.formTitle').addClass('required')
        //}
    })
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">审核</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr><th class="formTitle">当前收费标准：</th><td colspan="3" id="sfbz"></td></tr>
                <tr>
                    <th class="formTitle required">年度</th>
                    <td class="formValue">
                        <select id="F_Year" name="F_Year" type="text" class="form-control required"  disabled="disabled" />
                        <input  id="F_Student_Num" name="F_Student_Num" type="hidden" class="form-control required" />
                    </td>
                    <th class="formTitle required">学期(依据缴费方式)</th>
                    <td class="formValue">
                        <select id="F_Year_Period" name="F_Year_Period" type="text" class="form-control required"  disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle required">调整类型</th>
                    <td class="formValue">
                        <select id="F_Change_Type" name="F_Change_Type" type="text" class="form-control required" disabled="disabled" />
                    </td>
                    <th class="formTitle required">调整项目</th>
                    <td class="formValue">
                        <select id="F_Change_Item" name="F_Change_Item" type="text" class="form-control required"  disabled="disabled" />
                    </td>
                </tr>

                <tr class="tr1">
                    <th class="formTitle">接送方式</th>
                    <td class="formValue">
                        <select id="F_ComeBackType" name="F_ComeBackType" class="form-control ignore" disabled="disabled">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    @*<th class="formTitle">接送省</th>
            <td class="formValue">
                <select id="F_ComeBackProv" name="F_ComeBackProv" class="form-control ignore">
                    <option value="">请选择</option>
                </select>
            </td>*@
                    <th class="formTitle">目的市</th>
                    <td class="formValue">
                        <select id="F_ComeBackCity" name="F_ComeBackCity" class="form-control ignore" disabled="disabled">
                            <option value="">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr class="tr1">

                    <th class="formTitle">目的区县</th>
                    <td class="formValue">
                        <select id="F_ComeBackArea" name="F_ComeBackArea" class="form-control ignore" disabled="disabled">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    <th class="formTitle">接送路线</th>
                    <td class="formValue">
                        <select id="F_ComeBackRoute_ID" name="F_ComeBackRoute_ID" class="form-control ignore" disabled="disabled">
                            <option value="">请选择</option>
                        </select>
                    </td>
                </tr>
                @*<tr class="tr1">
            <th class="formTitle">接送站点</th>
            <td class="formValue">
                <select id="F_ComeBackSite" name="F_ComeBackSite" class="form-control"><option value="">请选择</option></select>
            </td>
        </tr>*@

                <tr class="tr2">
                    <th class="formTitle">奖励方式(奖学金)</th>
                    <td class="formValue">
                        <select name="F_Burse_Type" id="F_Burse_Type" type="text" class="form-control required" placeholder="奖励方式" disabled="disabled">
                            <option value="无" selected>无</option>
                            <option value="按学年">按学年</option>
                            <option value="一次性">一次性</option>
                        </select>
                    </td>
                    @*<th class="formTitle required">调整金额</th>
            <td class="formValue">
                <input data-rule-isNumber="true" id="F_Change" name="F_Change" type="text" class="form-control required" placeholder="单位（元），例如：-100" />
            </td>*@
                </tr>
                <tr>
                    <th class="formTitle required">调整金额</th>
                    <td class="formValue">
                        <input data-rule-isNumber="true" id="F_Change" name="F_Change" type="text" class="form-control required" disabled="disabled" placeholder="单位（元），例如：-100" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle required">调整凭证</th>
                    <td class="formValue">
                        <img class="thumbnail" id="F_Proof" name="F_Proof" @*style="width:200px;height:100px;display:block;"*@ />
                        <img id="F_Proof_hidden" style="display:none;" />
                        @*<div id="F_Proof" class="fileUpload">
                        </div>*@
                    </td>
                    <th class="formTitle required">申请人</th>
                    <td class="formValue">
                        <input id="F_Creator_Name" name="F_Creator_Name" type="text" class="form-control required" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle required">调整原因</th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Proof_Desc" name="F_Proof_Desc" class="form-control required" style="height: 60px;" disabled="disabled"></textarea>
                    </td>
                </tr>
            </table>
            <table class="form">
                <tr>
                    <th class="formTitle">审核状态</th>
                    <td class="formValue">
                        <select id="F_Status" name="F_Status" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="4">待审批</option>
                            <option value="5">审批通过</option>
                            <option value="6">审批不通过</option>
                        </select>
                        <input type="hidden" id="F_Sign_Id" name="F_Sign_Id" />
                        <input id="F_Bill_No" name="F_Bill_No" type="hidden" class="form-control" placeholder="请输入变更账单编号" />
                    </td>
                </tr>
                @*<tr>
                    <th class="formTitle">费用调整编号</th>
                    <td class="formValue">
                        <input id="F_Bill_ChangeNo" name="F_Bill_ChangeNo" type="text" class="form-control required" placeholder="请输入账单变更操作编号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">缴费账单编号</th>
                    <td class="formValue">
                        <input id="F_Bill_No" name="F_Bill_No" type="text" class="form-control required" placeholder="请输入变更账单编号" />
                    </td>
                </tr>*@
                <tr>
                    <th class="formTitle">审核意见</th>
                    <td class="formValue">
                        <textarea id="F_Audit_Memo" name="F_Audit_Memo" class="form-control required" style="height: 80px;" placeholder="请输入审核意见"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>