@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .form .formTitle {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 140px;
        padding-right: 15px;
    }
    .tr1,.tr2 {
        display:none;
    }
</style>
<script>
    var keyValue = $.request("keyValue");
    var F_Statu = $.request("F_Statu");
    var xyid = $.request("xyid");

    $.ajax({
        url: "/SchoolManage/School_MoneyChangeList/GetChargeStandard?xyid=" + xyid,
        //dataType: "json",
        success: function (data) {
            //alert(data)
            $("#sfbz").html(data);
            $("#F_Sign_Id").val(xyid);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            $.loading(false);
        },
    });
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_MoneyChangeList/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }

        

    });
    function initControl() {
        $("#F_ComeBackType").bindSelect({
            dictionary: 'F_ComeBackType'
        });
        //$("#F_ComeBackProv").bindSelect({
        //    url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=0",
        //});
        //$("#F_ComeBackProv").change(function () {
        //    $("#F_ComeBackCity").find("option").remove();
        //    $("#F_ComeBackCity").bindSelect({
        //        url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackProv").val(),
        //    });

        //    $("#F_ComeBackArea").find("option").remove();
        //    $("#F_ComeBackArea").bindSelect({
        //        url: "/SystemManage/Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackCity").val(),
        //    });

        //    changeComeBack();
        //    changeStation();
        //});
        $("#F_ComeBackCity").bindSelect({
            url: "/SchoolManage/School_Area/GetSelectJsonByCategoryId?F_ParentId=0",
        });
        $("#F_ComeBackCity").change(function () {
            $("#F_ComeBackArea").find("option").remove();
            $("#F_ComeBackArea").bindSelect({
                url: "/SchoolManage/School_Area/GetSelectJsonByCategoryId?F_ParentId=" + $("#F_ComeBackCity").val(),
            });

            changeComeBack();
            //changeStation();
        });

        $("#F_ComeBackArea").change(function () {
            changeComeBack();
            //changeStation();
        });
        $("#F_ComeBackType").change(function () {
            //changeComeBack(); changeStation();
        });

        //$("#F_ComeBackRoute_ID").change(function () {
        //    changeStation();
        //})
        function changeComeBack() {
            $("#F_ComeBackRoute_ID").find("option").remove();
            $("#F_ComeBackRoute_ID").append("<option value=''>选择路线</option>");
            $("#F_ComeBackRoute_ID").bindSelect({
                url: "/SchoolManage/School_ComeBackRouteTwo/GetFormEntity?F_Country=" + $("#F_ComeBackArea").val() + "",
                id: "F_Id",
                text: "F_Title"
            });
        }
        //function changeStation() {
        //    $('#F_ComeBackSite option').remove()
        //    $('#F_ComeBackSite').bindSelect({
        //        url: '/SchoolManage/School_ComeBackSite/GetSelectList?F_ComeBackRouteId=' + $('#F_ComeBackRoute_ID').val() + ''
        //    })
        //}

        $("#F_Change_Item").change(function () {
            var $formItem = $('.tr1').find('.form-control')
            var $formItem1 = $('.tr2').find('.form-control')
            if ($("#F_Change_Item").val() != 3) {
                $('#F_Change_Type').addClass('required').parents('.formValue').prev('.formTitle').addClass('required')
            }
            if ($("#F_Change_Item").val() == 1) {
                $(".tr1").show()
                $formItem.removeClass('ignore').parents('.formValue').prev('.formTitle').removeClass('ignore')
                $formItem1.addClass('ignore').parents('.formValue').prev('.formTitle').addClass('ignore')
            } else {
                $(".tr1").hide()
            }
            if ($("#F_Change_Item").val() == 3) {
                $(".tr2").show()
                $formItem1.addClass('required').parents('.formValue').prev('.formTitle').addClass('required')
                $formItem.addClass('ignore').parents('.formValue').prev('.formTitle').addClass('ignore')
                $formItem1.removeClass('ignore').parents('.formValue').prev('.formTitle').removeClass('ignore')

                $('#F_Change_Type').removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            } else {
                $(".tr2").hide()
                $formItem1.removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            }
        })

        $("#F_Year").bindSelect({
            dictionary: 'limYear'
        })
        $("#F_Year_Period").bindSelect({
            dictionary: 'Semester'
        })
        $("#F_Change_Type").bindSelect({
            dictionary: 'F_Change_Type'
        })
        $("#F_Change_Item").bindSelect({
            dictionary: 'F_Change_Item'
        })
        if (F_Statu==2) {
            $('#F_Change_Item').val('4').trigger('change')
            $('#F_Change_Item').attr("disabled", "disabled");
        }
        $.simpleUploader($('.fileUpload'))

		$.addRequired('#form1')
    }

    function submitForm() {
        if ($('#F_Change_Item').val() == '3' && $('#F_Burse_Type').val() == '无') {
            alert("请选择奖励方式!");
            return false;
        }

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SchoolManage/School_MoneyChangeList/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(null, true),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                parent.top.frames["Price"].$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
                <table class="form">
                    <tr><th class="formTitle">当前收费标准：</th><td colspan="3" id="sfbz"></td></tr>
                    <tr>
                        <th class="formTitle required">年度</th>
                        <td class="formValue">
                            <input type="hidden" id="F_Sign_Id" name="F_Sign_Id" />
                            <select id="F_Year" name="F_Year" type="text" class="form-control required" placeholder="请输入年度" />
                        </td>
                        <th class="formTitle required">学期(依据缴费方式)</th>
                        <td class="formValue">
                            <select id="F_Year_Period" name="F_Year_Period" type="text" class="form-control required" placeholder="请输入年度" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle required">调整类型</th>
                        <td class="formValue">
                            <select id="F_Change_Type" name="F_Change_Type" type="text" class="form-control required" placeholder="请输入调整类型" />
                        </td>
                        <th class="formTitle required">调整项目</th>
                        <td class="formValue">
                            <select id="F_Change_Item" name="F_Change_Item" type="text" class="form-control required" placeholder="请输入调整项目" />
                        </td>
                    </tr>

                    <tr class="tr1">
                        <th class="formTitle">接送方式</th>
                        <td class="formValue">
                            <select id="F_ComeBackType" name="F_ComeBackType" class="form-control ignore">
                                <option value="">请选择</option>
                            </select>
                        </td>
                        @*<th class="formTitle">接送省</th>
                        <td class="formValue">
                            <select id="F_ComeBackProv" name="F_ComeBackProv" class="form-control ignore">
                                <option value="">请选择</option>
                            </select>
                        </td>*@
                        <th class="formTitle">目的市</th>
                        <td class="formValue">
                            <select id="F_ComeBackCity" name="F_ComeBackCity" class="form-control ignore">
                                <option value="">请选择</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="tr1">

                        <th class="formTitle">目的区县</th>
                        <td class="formValue">
                            <select id="F_ComeBackArea" name="F_ComeBackArea" class="form-control ignore">
                                <option value="">请选择</option>
                            </select>
                        </td>
                        <th class="formTitle">接送路线</th>
                        <td class="formValue">
                            <select id="F_ComeBackRoute_ID" name="F_ComeBackRoute_ID" class="form-control ignore">
                                <option value="">请选择</option>
                            </select>
                        </td>
                    </tr>
                    @*<tr class="tr1">

                        <th class="formTitle">接送站点</th>
        <td class="formValue">
            <select id="F_ComeBackSite" name="F_ComeBackSite" class="form-control ignore"><option value="">请选择</option></select>
        </td>
    </tr>*@
                    <tr class="tr2">
                        <th class="formTitle">奖励方式(奖学金)</th>
                        <td class="formValue">
                            <select name="F_Burse_Type" id="F_Burse_Type" type="text" class="form-control required ignore" placeholder="奖励方式">
                                <option value="无" selected>无</option>
                                <option value="按学年">按学年</option>
                                <option value="一次性">一次性</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle required">调整金额</th>
                        <td class="formValue">
                            <input data-rule-isNumber="true" id="F_Change" name="F_Change" type="text" class="form-control required" placeholder="单位（元），例如：-100" />
                        </td>
                        <th class="formTitle required">调整凭证</th>
                        <td class="formValue">
                            <div id="F_Proof" class="fileUpload required">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle required">调整原因</th>
                        <td class="formValue" colspan="3">
                            <textarea id="F_Proof_Desc" name="F_Proof_Desc" class="form-control required" style="height: 60px;"></textarea>
                         </td>
                    </tr>
                </table>
        </div>
    </div>
</form>