@{
    Layout = "~/Views/Shared/_My.cshtml";
}
<script>
    $(function () {
        $('#layout').layout({
            west__resizable: true
        }).sizePane("west", "70%");
        gridRight();
        gridLeft();

        $("#btnAddMenu").click(function () {
            $("#myModal").modal({
                backdrop: 'static',     // 点击空白不关闭
                keyboard: false,        // 按键盘esc也不会关闭
                remote: 'page/addmenuform'    // 从远程加载内容的地址
            });
        })

    });
        


    function addMenu() {
        let rowId = $("#leftGrid").jqGrid('getGridParam', 'selrow');
        $("#parentId").val(rowId);
        let postData = $("#myModal form").serialize();
        $.post('addMenu', postData, function (r) {
            console.log(r)
        })
    }



    function gridLeft() {
        $("#leftGrid").jqGrid({
            styleUI: "Bootstrap",
            //url: "/SystemManage/Resource/GetAllMenu",
            datatype: "json",
            gridview: true,
            hoverrows: false,
            viewrecords: false,
            autoGridWidth: false,
            treeGrid: true,
            treedatatype: "json",
            treeGridModel: "adjacency",
            loadonce: true,
            rowNum: -1,
            autoGridHeight: true,
            height: window.innerHeight * 0.86,
            width: window.innerWidth * 0.68,
            ExpandColumn: 'name',
            onSelectRow: function (rowId) {
                $("#rightGrid").jqGrid('setGridParam', {
                    postData: {
                        menuId: rowId
                    },
                }).trigger('reloadGrid');
            },
            jsonReader: {
                root: function (r) { return r.data; }
            },
            treeReader: {
                "parent_id_field": "parentId",
                "level_field": "level",
                "leaf_field": "isLeaf",
                "expanded_field": "false",
                "loaded": "loaded",
                "icon_field": "icon"
            },
            colModel: [
                { label: '名称', name: 'name', width: 200, align: 'left' },
                { label: '编号', name: "enCode" },
                { label: '目标', name: "type" },
                { label: 'URL', name: "url" },
                {
                    label: '所属系统', name: "belongSys",
                    edittype: "select",
                    editoptions: {
                        value: "1:后台管理系统;2:家校通;3:其他"
                    },
                    formatter: function (cellvalue, options, rowobj) {
                        switch (cellvalue) {
                            case "1":
                                {
                                    return "后台管理系统";
                                    break;
                                }
                            case "2":
                                {
                                    return "家校通";
                                    break;
                                }
                            case "3":
                                {
                                    return "其他";
                                    break;
                                }
                        }
                    }
                },
                { label: '图标', name: "icon" },
                { label: 'WEB图标', name: "iconForWeb" },
                { label: '排序', name: "sortCode" },
                { label: '上级', name: "parentId" },
                { name: "id", key: true, hidden: true },
            ],
        });
    }

    function gridRight() {
        $("#rightGrid").jqGrid({
            styleUI: "Bootstrap",
            height: window.innerHeight * 0.86,
            width: window.innerWidth * 0.28,
            datatype: 'json',
            //url: `/SystemManage/Resource/GetAllMenu`,
            multiselect: true,
            rowNum: -1,
            pgbuttons: false,
            pgbuttons: false,
            recordpos: "right",
            viewrecords: false,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            colModel: [
                { name: "id", hidden: true, key: true },
                { label: '名称', name: 'name' },
                { label: '编号', name: 'enCode' },
                { label: '图标', name: 'icon' },
                { label: '菜单', name: 'menuId' },
                { label: '排序', name: 'sortCode' }
            ],
        });
    }

</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">

    <div class="ui-layout-west">
        <div class="form-inline topPanel" autocomplete="off">
            <button type="button" class="btn btn-default" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></button>
            <input type="text" class="form-control" id="keyword" placeholder="关键字">
            <button type="button" id="btn_search" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <button type="button" id="btnAddMenu" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加菜单</button>
        </div>
        <table id="leftGrid"></table>
    </div>

    <div class="ui-layout-center">
        <div class="form-inline topPanel" autocomplete="off">
            <button type="button" id="btnAddFunc" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加功能</button>
        </div>
        <table id="rightGrid"></table>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
        </div>
    </div>
</div>


