<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="1001" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0125;Persist Security Info=True;User ID=nf2;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="1002" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0126;Persist Security Info=True;User ID=nf2;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="1003" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0127;Persist Security Info=True;User ID=nf2;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>