@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        //initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/Dorm/InOutReceive/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }

        $("#F_ReceiveUser").on("click", selectUser);
    });
    function initControl() {
           $("#F_SemesterId").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });

        $("#F_GradeId").change(function () {
            changeClass();
        });

		$.addRequired('#form1')
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/Dorm/InOutReceive/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    // 选择用户
    function selectUser() {
        $.modalOpen({
            id: "selectUser",
            title: "用户选择",
            url: "/Select/SelectOrgUser",
            width: "900px",
            height: "900px",
            callBack: function (iframeId) {
                let data = top.frames[iframeId].submit();
                $("#F_ReceiveUser").val(data);
            },
        });
    }
     function changeDivis() {
        $("#F_GradeId").find("option").remove();
        $("#F_GradeId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
        changeClass();
    }

    function changeClass() {
        $("#F_ClassId").find("option").remove();
        $("#F_ClassId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#F_GradeId").val(),
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">报表类型</th>
                    <td class="formValue">
                        <select id="F_Type" name="F_Type" class="form-control required">
                            <option value="1">未归</option>
                            <option value="2">晚归</option>
                            <option value="3">未出</option>
                        </select>
                    </td>
                    </tr>
                    <tr>
                    <th class="formTitle">接收人</th>
                    <td class="formValue">
                        <input id="F_ReceiveUser" name="F_ReceiveUser" type="text" class="form-control required" placeholder="请点击选择" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>