@{

    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    let orgList = top.window.getItem("orgList");
    $(function () {
        centerGrid();
    })
    function centerGrid() {
        $("#centerGrid").jqGrid({
            styleUI: "Bootstrap",
            height: window.innerHeight * 0.8,
            width: window.innerWidth * 0.98,
            datatype: 'json',
            url: `/SystemManage/Duty/Load`,
            multiselect: false,
            loadonce: false,
            viewrecords: true,
            pager: "#centerPager",
            toppager: true,
            rowNum: -1,
            jsonReader: {
                root: function (r) { return r.data },
            },
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                { label: '名称', name: 'name', editable: true },
                { label: 'CODE', name: 'code', editable: true },
                { label: '排序', name: 'sortCode', editable: true, edittype: "number", },
                { label: '描述', name: 'description', editable: true },
            ]
        });
        $("#centerGrid").jqGrid('navGrid', '#centerPager',
            {
                edit: true,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: true,
                cloneToTop: true,
            },
            {
                url: "update",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "add",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "delete",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
    }
</script>


<div class="gridPanel">
    <table id="centerGrid"></table>
    <div id="centerPager"></div>
</div>