@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var celldate= $.request("celldate");
    var tId=$.request("tId");
    var teacherName=$.request("teacherName");
    var cId=$.request("cId");
    var courseName=$.request("courseName");
    var dateIndex=$.request("dateIndex");
    var lessonIndex = $.request("lessonIndex");
    var Grade_ID = $.request("Grade_ID");
    var F_Class = $.request("F_Class");
    var F_Semester = $.request("F_Semester");
    $(function () {
        initControl();
    });
    function initControl() {
        var keyText = celldate + "第" + lessonIndex + "节" + courseName ;
        $("#txt_keyText").val(keyText);
        $(":radio").click(function () {
            var setvalue = $(this).val();
            $("#trRadioSet1").hide();
            $("#trRadioSet2").hide();
            if (setvalue == 1)
                $("#trRadioSet1").show();
            if (setvalue == 2)
                $("#trRadioSet2").show();
        });

        $("#F_Course").bindSelect({
            url: "/SchoolManage/School_Grade_Course/GetCourseSelectJson?Grade_ID=" + Grade_ID,
            id: "F_Id",
            text: "F_Name"
        });

        //$.addRequired('#form1')
    }

    function LessonSelect() {
        if (!cId) {
            $.modalAlert("当前课程为空！无法对调！", "warning");
            return;
        }
        var day = $("#F_Date").val();
        var Lesson = $("#F_LessonIndex").val();
        $.ajax({
            url: "/SchoolManage/School_Schedules/GetFormJsonByDay",
            data: { Day: day, F_Class: F_Class },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data == null)
                    Lesson = -1;
                console.log(data);
                var ctext = "";
                switch (Lesson) {
                    case "1":
                        ctext = data.F_Course1;
                        break;
                    case "2":
                        ctext = data.F_Course2;
                        break;
                    case "3":
                        ctext = data.F_Course3;
                        break;
                    case "4":
                        ctext = data.F_Course4;
                        break;
                    case "5":
                        ctext = data.F_Course5;
                        break;
                    case "6":
                        ctext = data.F_Course6;
                        break;
                    case "7":
                        ctext = data.F_Course7;
                        break;
                    case "8":
                        ctext = data.F_Course8;
                        break;
                    case "9":
                        ctext = data.F_Course9;
                        break;
                    case "10":
                        ctext = data.F_Course10;
                        break;
                    case "11":
                        ctext = data.F_Course11;
                        break;
                    case "12":
                        ctext = data.F_Course12;
                        break;
                }
                var csName = top.clients.course[ctext] == null ? " " : top.clients.course[ctext].F_Name;
                //alert(csName);
                $("#txtF_Course").val(csName);

            }
        });
        if ($("#txtF_Course").val() == " ") {
            $.modalAlert("课程为空！无法对调！", "warning");
            return;
        }
    }

    function submitForm(callback) {
        var targetDay = $("#F_Date").val();
        var targetLesson = $("#F_LessonIndex").val();
        var setType =  $("input[name='radioSetType']:checked").val();

        var sourceDay = celldate;
        var sourceLesson = lessonIndex;
        var newCourse = $("#F_Course").val();
        var v = $("#txtF_Course").val();
        if (setType == 1)
        {
            if (!newCourse)
            {
                $.modalAlert("请选择新增的科目！", "warning");
                return;
            }
        }
        if (setType == 2) {
            if (!v || v == " ") {
                $.modalAlert("当前日期课程未设置！", "warning");
                return;
            }
        }
        $.submitForm({
            url: "/ScheduleManage/School_Class_Timetable/SubmitForm",
            param: { F_Semester, F_Semester,F_Class: F_Class, sourceDay: sourceDay, sourceLesson: sourceLesson, setType: setType, targetDay: targetDay, targetLesson: targetLesson, newCourse: newCourse },
            success: function () {
                callback();
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div>
            <table class="form">
                <tr>
                    <th class="formValue">当前选中课程:</th>
                </tr>
                <tr>
                    <th class="formValue">
                        <input id="txt_keyText" name="txt_keyText" type="text" class="form-control " readonly="readonly" />
</th>
                </tr>
                <tr>
                    <th class="formValue">调整方式:</th>
                </tr>
                <tr>
                    <th class="formValue">
                        <input type="radio" value="-1" name="radioSetType" />取消
                        <input type="radio" value="1" name="radioSetType" />新增科目
                        <input type="radio" value="2" checked="checked" name="radioSetType" />对调
                    </th>
                </tr>
                <tr>
                    <th>
                        <hr />
                    </th>
                </tr>
                <tr id="trRadioSet1" style="display:none">
                    <th class="formValue">
                        <select id="F_Course" name="F_Course" class="form-control">
                        </select>
                    </th>
                </tr>

                <tr id="trRadioSet2">
                    <th class="formValue">
                        <div>
                        <input id="F_Date" name="F_Date" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" placeholder="对调日期" /></div>
                       <br />
                         <div>
                            <select id="F_LessonIndex" name="F_LessonIndex" class="form-control" onchange="LessonSelect();">
                                <option value="">请选择第几节</option>
                                <option value="1">第1节</option>
                                <option value="2">第2节</option>
                                <option value="3">第3节</option>
                                <option value="4">第4节</option>
                                <option value="5">第5节</option>
                                <option value="6">第6节</option>
                                <option value="7">第7节</option>
                                <option value="8">第8节</option>
                                <option value="9">第9节</option>
                                <option value="10">第10节</option>
                                <option value="11">第11节</option>
                                <option value="12">第12节</option>
                            </select>
                        </div>
                        <br />
                        <div>
                            <input id="txtF_Course" name="txtF_Course" type="text" class="form-control " readonly="readonly" placeholder="对调科目" />
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</form>