@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .Down_Mod {
        display:none;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/js/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/doublebox/doublebox.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/x-editable/bootstrap-editable.css" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script type="text/javascript" src="~/Content/js/ImageUpload.js"></script>
<script type="text/javascript" src="~/Content/js/Fileupload.js"></script>
<script type="text/javascript" src="~/Content/js/x-editable/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="~/Content/js/doublebox/doublebox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.initUploader({
            container: '#uploader',
            fileInput: '#Files',
            thumb: '#files_hx',
            maxFile: 1,
            accept: {
                title: '@Request["title"].ToString()',
                extensions: '@Request["extensions"].ToString()',
                mimeTypes: '@Request["mimeTypes"].ToString()'
            },
            server: '/File/FileUpload?moban=1'
        })
        var fileName = '@Request["fileName"]';
        if (fileName!="") {
            $("#Mod").html(fileName);
            $("#Mod").attr("href", "/File/DownFile?filePath=/UpLoad/Down_Mod/" + fileName + "&fileName=" + fileName + "&moban=1");
            $("#Mod2").html("数据字典模版.xls");
            $("#Mod2").attr("href", "/File/DownFile?filePath=/UpLoad/Down_Mod/数据字典模版.xls&fileName=数据字典模版.xls&moban=1");
            $(".Down_Mod").attr("class", "")
        }
        //var demo2 = $('.demo').doublebox({
        //  nonSelectedListLabel: '选择角色',
        //  selectedListLabel: '授权用户角色',
        //  preserveSelectionOnMove: 'moved',
        //  moveOnSelect: false,
        //  nonSelectedList: [{"F_Id":"1","F_Name":"zhangsan", },{"F_Id":"2","F_Name":"lisi"},{"F_Id":"3","F_Name":"wangwu"}],
        //  selectedList: [{"F_Id":"4","F_Name":"zhangsan1"},{"F_Id":"5","F_Name":"lisi1"},{"F_Id":"6","F_Name":"wangwu1"}],
        //  optionValue: "F_Id",
        //  optionText: "F_Name",
        //  doubleMove: false,
        //});
        //console.log(demo2.getSelectedOptions())
        $("#F_Semester").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });
        $("#F_Grade_ID").change(function () {
            changeClass();
        });
    })

    function changeDivis() {
        $("#F_Grade_ID").find("option").remove();
        $("#F_Grade_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
    }

    function changeClass() {
        $("#F_Class_ID").find("option").remove();
        $("#F_Class_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#F_Grade_ID").val(),
        });
    }
    function submitForm() {
        $.modalClose();

        return  {
            filePath: $("#Files").val(),
            F_Semester: $("#F_Semester").val(),
            F_Divis: $("#F_Divis_ID").val(),
            F_Grade: $("#F_Grade_ID").val(),
            F_Year: $("#F_Year").val(),
            F_Class: $("#F_Class_ID").val()
        };
    }
</script>

<div style="padding-top: 20px; margin-right: 20px;">
    <table class="form">

        <tr class="Down_Mod">
            <th class="formTitle">模版：</th>
            <td class="formValue">
                <label >&nbsp;<a target='_blank' id="Mod" href=""></a>&nbsp;&nbsp;&nbsp;<a target='_blank' id="Mod2" href=""></a></label>
            </td>
        </tr>
        <tr>
            <th class="formTitle">年度：</th>
            <td class="formValue">
                <select id="F_Year" name="F_Year" class="form-control">
                    <option value="">选择年度</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">学期：</th>
            <td class="formValue">
                <select id="F_Semester" name="F_Semester" class="form-control">
                    <option value="">选择学期</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">学部：</th>
            <td class="formValue">
                <select id="F_Divis_ID" name="F_Divis_ID" class="form-control">
                    <option value="">选择学部</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">年级：</th>
            <td class="formValue">
                <select id="F_Grade_ID" name="F_Grade_ID" class="form-control">
                    <option value="">选择年级</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">班级：</th>
            <td class="formValue">
                <select id="F_Class_ID" name="F_Class_ID" class="form-control">
                    <option value="">选择班级</option>
                </select>
            </td>
        </tr>
        <tr>
            <th class="formTitle">导入文件：</th>
            <td class="formValue">
                <input type="hidden" id="Files" name="Files" />
                <div id="uploader" class="wu-example">
                </div>
            </td>
        </tr>
    </table>
    @*<select multiple="multiple" size="10" name="doublebox" class="demo">*@
</div>