<table class="form">
    <tr>
        <th class="formTitle">健康状况</th>
        <td class="formValue">
            <select id="F_Health" name="F_Health" class="form-control required">
            </select>
        </td>
        <th class="formTitle">身高</th>
        <td class="formValue">
            <input id="F_Height" name="F_Height" type="text" class="form-control required" placeholder="请输入身高,单位:厘米" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">体重</th>
        <td class="formValue">
            <input id="F_Weight" name="F_Weight" type="text" class="form-control required" placeholder="请输入体重,单位:公斤" />
        </td>
        <th class="formTitle">血型</th>
        <td class="formValue">
            <select id="F_Blood_Type" name="F_Blood_Type" type="text" class="form-control required" placeholder="请输入血型"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">过敏药物</th>
        <td class="formValue">
          <input id="F_Allergy" name="F_Allergy" type="text" class="form-control required" placeholder="请输入过敏药物" />
        </td>
        <th class="formTitle">过敏食物</th>
        <td class="formValue">
            <input id="F_Food" name="F_Food" type="text" class="form-control required" placeholder="请输入过敏食物" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">病史</th>
        <td class="formValue">
            <div id="F_MedicalHis" class="checkboxes">
            </div>
        </td>
        <th class="formTitle">病史补充</th>
        <td class="formValue">
            <textarea id="F_MedicalHis_Memo" name="F_MedicalHis_Memo" class="form-control required" style="height: 100px;" placeholder="请输入病史补充"></textarea>
        </td>
    </tr>
</table>