<table class="form">
    <tr>
        <th class="formTitle">吃饭</th>
        <td class="formValue">
            <select id="F_Eat" name="F_Eat" type="text" class="form-control required" placeholder="请输入吃饭"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">食欲</th>
        <td class="formValue">
            <select id="F_Relish" name="F_Relish" type="text" class="form-control required" placeholder="请输入食欲"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">大小便</th>
        <td class="formValue">
            <select id="F_Incontinence" name="F_Incontinence" type="text" class="form-control required" placeholder="请输入大小便"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">着装习惯</th>
        <td class="formValue">
            <select id="F_Dress" name="F_Dress" type="text" class="form-control required" placeholder="请输入着装习惯"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">午睡</th>
        <td class="formValue">
            <select id="F_Sleep" name="F_Sleep" type="text" class="form-control required" placeholder="请输入午睡"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">穿脱衣</th>
        <td class="formValue">
            <select id="F_Stripped" name="F_Stripped" type="text" class="form-control required" placeholder="请输入穿脱衣"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">体质</th>
        <td class="formValue">
            <select id="F_Physique" name="F_Physique" type="text" class="form-control required" placeholder="请输入体质"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">生活其他</th>
        <td class="formValue">
            <input id="F_Life_Memo" name="F_Life_Memo" type="text" class="form-control required" placeholder="请输入生活其他" />
        </td>
    </tr>
</table>