<table class="form">
    @*<tr>
        <th class="formTitle">户口情况</th>
        <td class="formValue">
            <select id="F_Reg_Status" name="F_Reg_Status" type="text" class="form-control required" placeholder="请输入户口情况"><option value="">请选择</option></select>
        </td>
    </tr>
    
    <tr>
        <th class="formTitle">户口本主页照片</th>
        <td class="formValue">
            <div class="fileUpload" id="F_RegPhoto_Obve"></div>
        </td>
        <th class="formTitle">户口本学生页照片</th>
        <td class="formValue">
            <div class="fileUpload" id="F_RegPhoto_Rever"></div>
        </td>
    </tr>*@
    @*<tr>
        <th class="formTitle">户主身份证正面</th>
        <td class="formValue">
            <div class="fileUpload" id="F_RegMain_CredPhoto_Obve"></div>
        </td>
        <th class="formTitle">户主身份证反面</th>
        <td class="formValue">
            <div class="fileUpload" id="F_RegMain_CredPhoto_Rever"></div>
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">户主姓名</th>
        <td class="formValue">
            <input id="F_RegMainName" name="F_RegMainName" type="text" class="form-control required" placeholder="请输入户主姓名" />
        </td>
        <th class="formTitle">户主身份证号</th>
        <td class="formValue">
            <input data-rule-IdCodeDut="true" id="F_RegMain_CredNum" name="F_RegMain_CredNum" type="text" class="form-control required" placeholder="请输入户主身份证号" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">户口所在地</th>
        <td class="formValue">
            <input id="F_RegAddr" name="F_RegAddr" type="text" class="form-control required" placeholder="请输入户口所在地" />
        </td>
        <th class="formTitle">与户主关系</th>
        <td class="formValue">
            <select id="F_RegRelat" name="F_RegRelat" type="text" class="form-control required" placeholder="请输入与户主关系"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">家庭详细地址</th>
        <td class="formValue">
            <input id="F_FamilyAddr" name="F_FamilyAddr" type="text" class="form-control required" placeholder="请输入家庭详细地址" />
        </td>
        <th class="formTitle">联系电话</th>
        <td class="formValue">
            <input data-rule-isTel="true" id="F_Tel" name="F_Tel" type="text" class="form-control required" placeholder="请输入联系电话" />
        </td>
    </tr>
</table>