<table class="form">
    <tr>
        <th class="formTitle">IC卡类别</th>
        <td class="formValue">
            @*<input id="F_ICType" name="F_ICType" type="text" class="form-control required" placeholder="请输入IC卡类别" />*@
            <select id="F_ICType" name="F_ICType" class="form-control"></select>
        </td>
        <th class="formTitle">身份类别</th>
        <td class="formValue">
            <input id="F_Type" name="F_Type" type="text" class="form-control" placeholder="请输入身份类别" />
        </td>
    </tr>
    <tr>
        @*<th class="formTitle">入学序号</th>
        <td class="formValue">
            <input id="F_InitNum" name="F_InitNum" type="text" class="form-control required" placeholder="请输入入学序号" />
        </td>*@
        <th class="formTitle">翼校通号</th>
        <td class="formValue" colspan="3">
            <input id="F_YXT_Num" name="F_YXT_Num" type="text" class="form-control" placeholder="请输入翼校通号" />
        </td>
    </tr>

    <tr>
        <th class="formTitle">物理卡号</th>
        <td class="formValue">
            <input id="F_Mac_No" name="F_Mac_No" type="text" class="form-control" placeholder="请输入物理卡号" />
        </td>
        <th class="formTitle">物理地址</th>
        <td class="formValue">
            <input id="F_Mac_Addr" name="F_Mac_Addr" type="text" class="form-control" placeholder="请输入物理地址" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">自我介绍</th>
        <td class="formValue" colspan="3">
            <textarea  style="height:80px" id="F_Introduction" name="F_Introduction" class="form-control" placeholder="请输入自我介绍"></textarea>
        </td>
    </tr>
    @*<tr>
        <th class="formTitle">注册用户ID</th>
        <td class="formValue">
            <input id="F_RegUsers_ID" name="F_RegUsers_ID" type="text" class="form-control required" placeholder="请输入注册用户ID" />
        </td>
        <th class="formTitle">注册用户姓名</th>
        <td class="formValue">
            <input id="F_RegisterName" name="F_RegisterName" type="text" class="form-control required" placeholder="请输入注册用户姓名" />
        </td>
        <th class="formTitle">注册用户账号</th>
        <td class="formValue">
            <input id="F_RegisterNum" name="F_RegisterNum" type="text" class="form-control required" placeholder="请输入注册用户账号" />
        </td>
    </tr>*@

    @*<tr>
        <th class="formTitle">在校状态</th>
        <td class="formValue">
            <select id="F_CurStatu" name="F_CurStatu" type="text" class="form-control required" placeholder="请输入在校状态"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">当前学年度缴费情况</th>
        <td class="formValue">
            <input id="F_CurChargeDesc" name="F_CurChargeDesc" type="text" class="form-control required" placeholder="请输入当前学年度缴费情况" />
        </td>
    </tr>*@
</table>