<table class="form">
    @*
        <tr>
          <th class="formTitle">报名ID</th>
          <td class="formValue">
            <input id="F_ID" name="F_ID" type="text" class="form-control required" placeholder="请输入报名ID" /></td>
          <th class="formTitle">注册用户ID</th>
          <td class="formValue">
            <input id="F_RegUsers_ID" name="F_RegUsers_ID" type="text" class="form-control required" placeholder="请输入注册用户ID" /></td>
        </tr>*@
    @*<tr>

        <th class="formTitle">注册用户类型</th>
        <td class="formValue">
            <select id="F_RegUserType" name="F_RegUserType" class="form-control required">
                <option value="">请选择</option>
            </select>
        </td>
        <th class="formTitle">注册用户姓名（招生老师）</th>
        <td class="formValue">
            <input id="F_RegisterName" name="F_RegisterName" type="text" class="form-control required ignore" placeholder="请输入注册用户姓名（招生老师）" />
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">年度</th>
        <td class="formValue">
            <select id="F_Year" name="F_Year" class="form-control required">
            </select>
        </td>
        @*<th class="formTitle">入学年段</th>
        <td class="formValue">
            <select id="F_INYear" name="F_INYear" class="form-control required"></select>
        </td>*@
    </tr>
    <tr>
        <th class="formTitle">学部</th>
        <td class="formValue">
            <select id="F_Divis_ID" name="F_Divis_ID" class="form-control required">
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">年级</th>
        <td class="formValue">
            <select id="F_Grade_ID" name="F_Grade_ID" class="form-control required"></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">班级</th>
        <td class="formValue">
            <select id="F_Class_ID" name="F_Class_ID" class="form-control">
            </select>
        </td>
        @*<th class="formTitle">班级类型</th>
        <td class="formValue">
            <select id="F_Subjects_ID" name="F_Subjects_ID" class="form-control required">
            </select>
        </td>*@
    </tr>@*
        <tr>
          <th class="formTitle">注册用户编号（招生老师）</th>
          <td class="formValue">
            <input id="F_RegisterNum" name="F_RegisterNum" type="text" class="form-control required" placeholder="请输入注册用户编号（招生老师）" /></td>
          <th class="formTitle">报名状态</th>
          <td class="formValue">
            <input id="F_Statu" name="F_Statu" type="text" class="form-control required" placeholder="请输入报名状态" /></td>
        </tr>*@
    <tr>
    </tr>
    @*<tr>
        <th class="formTitle">插班标注</th>
        <td class="formValue">
            <select id="F_InClass" name="F_InClass" class="form-control required"></select>
        </td>
        <th class="formTitle">生源类别</th>
        <td class="formValue">
            <select id="F_Stu_Type" name="F_Stu_Type" class="form-control required"></select>
        </td>
    </tr>
    <tr>
    <tr>
        <th class="formTitle">来源类型</th>
        <td class="formValue">
            <select id="F_ComeFrom_Type" name="F_ComeFrom_Type" class="form-control required"></select>
        </td>
        <th class="formTitle">电子照片</th>
        <td class="formValue">
            <div id="F_FacePic_File" class="fileUpload">
            </div>
        </td>
    </tr>
    <tr>
      <th class="formTitle">来源学校名称</th>
      <td class="formValue">
        <input id="F_ComeFrom" name="F_ComeFrom" type="text" class="form-control required" placeholder="请输入来源学校" />
      </td>
      <th class="formTitle">来源学校省</th>
        <td class="formValue">
          <select id="F_ComeFrom_Province" name="F_ComeFrom_Province" type="text" class="form-control required">
          </select>
      </td>
    </tr>
    <tr>
      <th class="formTitle">来源学校市</th>
      <td class="formValue">
        <select id="F_ComeFrom_City" name="F_ComeFrom_City" type="text" class="form-control required" ></select>
      </td>
      <th class="formTitle">来源学校县</th>
      <td class="formValue">
        <select id="F_ComeFrom_Area" name="F_ComeFrom_Area" type="text" class="form-control required" ></select>
      </td>
    </tr>
    <tr>
        <th class="formTitle">选拔成绩</th>
        <td class="formValue">
            <input id="F_Score" name="F_Score" type="text" class="form-control required" placeholder="请输入选拔成绩" />
        </td>
        <th class="formTitle">选拔成绩单</th>
        <td class="formValue">
            <div class="fileUpload" id="F_Score_File">
            </div>
        </td>
    </tr>
    <tr>
        <th class="formTitle">分数线</th>
        <td class="formValue">
            <input id="F_Sco_Line" name="F_Sco_Line" type="text" class="form-control required" placeholder="请输入分数线" />
        </td>
        <th class="formTitle">分数差</th>
        <td class="formValue">
            <input id="F_Sco_Pir" name="F_Sco_Pir" type="text" class="form-control required" placeholder="请输入分数差" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">就读方式</th>
        <td class="formValue">
            <select id="F_SchoolType" name="F_SchoolType" class="form-control required"></select>
        </td>

        <th class="formTitle">接送方式</th>
        <td class="formValue">
            <select id="F_ComeBackType" name="F_ComeBackType" type="text" class="form-control required" placeholder="请输入接送方式"></select>
        </td>
    </tr>
    <tr style="display:none" id="callBack1">
        <th class="formTitle">目的市</th>
        <td class="formValue">
            <select id="F_ComeBackCity" name="F_ComeBackCity" class="form-control required">
                <option value="">请选择</option>
            </select>
        </td>
    </tr>
    <tr style="display:none" id="callBack2">
        <th class="formTitle">目的区县</th>
        <td class="formValue">
            <select id="F_ComeBackArea" name="F_ComeBackArea" class="form-control required">
                <option value="">请选择</option>
            </select>
        </td>
        <th class="formTitle">接送路线</th>
        <td class="formValue">
            <select id="F_ComeBackRoute_ID" name="F_ComeBackRoute_ID" class="form-control required">
                <option value="">请选择</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <th class="formTitle">全国学籍号</th>
        <td class="formValue">
            <input id="F_NationNum" name="F_NationNum" type="text" class="form-control required" placeholder="请输入全国学籍号" />
        </td>
        <th class="formTitle">随迁子女</th>
        <td class="formValue">
            <select id="F_Sqzn" name="F_Sqzn" type="text" class="form-control required" placeholder="请输入随迁子女"></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">多子女</th>
        <td class="formValue">
            <select id="F_Dzn" name="F_Dzn" type="text" class="form-control required" placeholder="请输入多子女"></select>
        </td>
        <th class="formTitle">多子女凭证</th>
        <td class="formValue">
            <div id="F_Dzn_File" class="fileUpload">
            </div>
        </td>
    </tr>
    <tr>
        <th class="formTitle">多子女关联的信息</th>
        <td class="formValue">
            <input id="F_Dzn_Memo" name="F_Dzn_Memo" type="text" class="form-control required" placeholder="请输入多子女关联的学生姓名及身份证号" />
        </td>
        <th class="formTitle">教师子女</th>
        <td class="formValue">
            <select id="F_Teacherzn" name="F_Teacherzn" type="text" class="form-control required" placeholder="请输入教师子女"></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">教师子女凭证</th>
        <td class="formValue">
            <input type="file" class="file hidden ignore" />
            <div id="F_Teacherzn_File" class="fileUpload">
            </div>
        </td>
        <th class="formTitle">教师子女关联的信息</th>
        <td class="formValue">
            <input id="F_Teacherzn_Memo" name="F_Teacherzn_Memo" type="text" class="form-control required" placeholder="请输入教师子女关联的学生姓名及身份证号" />
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">电子照片</th>
        <td class="formValue">
            <div id="F_FacePic_File" class="fileUpload">
            </div>
        </td>
    </tr>
    <tr>
        <th class="formTitle">入学信息备注</th>
        <td class="formValue">
            <input id="F_In_Memo" name="F_In_Memo" type="text" class="form-control required" placeholder="请输入入学信息备注" />
        </td>
    </tr>
</table>