@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
  var keyValue = $.request("keyValue");
  var stuData = null
  var dictionary = top.clients
  var paramDefine = {

      F_Name: {
          label: '姓名'
      },
      F_FacePic_File: {
          label: '照片',
          image: true
      },
      F_Name_Old: {
          label: '曾用名'
      },
      F_Name_En: {
          label: '英文名'
      },
      F_Gender: {
          label: '性别'
      },
      F_Birthday: {
          label: '出生日期'
      },
      F_Year: {
          label: '年度'
      },

      F_Divis_ID: {
          label: '学部'
      },
      F_Grade_ID: {
          label: '年级'
      },
      F_Class_ID: {
          label: '班级'
      },
      F_Subjects_ID: {
          label: '班级类型'
      },
      F_StudentNum: {
          label: '学号'
      },
      F_NationNum: {
          label: '全国学籍号'
      },
      F_InitDTM: {
          label: '入学时间'
      },
      F_Only_One: {
          label: '独生子女'
      },

      F_Nation: {
          label: '国籍'
      },
      F_ZJXY: {
          label: '宗教信仰'
      },
      F_CredType: {
          label: '证件类型'
      },
      F_CredNum: {
          label: '证件号码'
      },
      F_CredPhoto_Obve: {
          label: '证件正面照片',
          image: true
      },
      F_CredPhoto_Rever: {
          label: '证件反面照片',
          image: true
      },
      F_Native: {
          label: '籍贯'
      },
      F_Native_Old: {
          label: '祖籍国'
      },
      F_Cn_Level: {
          label: '中文程度'
      },
      F_HSK_TEST: {
          label: 'HSK-TEST'
      },
      F_Stu_Time: {
          label: '申请学习时间'
      },
      F_Volk: {
          label: '民族'
      },
      F_PolitStatu: {
          label: '政治面貌'
      },
      F_Home_Addr: {
          label: '家庭住址'
      },
      F_Users_ID: {
          label: '学生系统用户'
      },
      F_InitNum: {
          label: '入学序号'
      },
      F_ICType: {
          label: 'IC卡类别'
      },
      F_Type: {
          label: '身份类别'
      },
      F_YXT_Num: {
          label: '翼校通号'
      },
      F_Mac_No: {
          label: '物理卡号'
      },
      F_Mac_Addr: {
          label: '物理地址'
      },
      F_ComeFrom: {
          label: '来源学校'
      },
      F_RegUsers_ID: {
          label: '注册用户'
      },
      F_RegisterName: {
          label: '注册用户姓名（招生老师）'
      },
      F_RegisterNum: {
          label: '注册用户账号（招生老师）'
      },
      F_SchoolType: {
          label: '就读类别'
      },
      F_CurStatu: {
          label: '在校状态'
      },
      F_CurChargeDesc: {
          label: '当前学年度缴费情况'
      },
      F_Father: {
          label: '父亲姓名'
      },
      F_FatherTel: {
          label: '父亲联系电话'
      },
      F_Mother: {
          label: '母亲姓名'
      },
      F_MotherTel: {
          label: '母亲联系电话'
      },
      F_Guarder: {
          label: '监护人姓名'
      },
      F_Guarder_Relation: {
          label: '监护关系'
      },
      F_Guarder_Tel: {
          label: '监护人联系电话'
      },
      F_Guarder_Nation: {
          label: '监护人国籍'
      },
      F_Guarder_CredNum: {
          label: '监护人证件号'
      },
      F_Guarder_CredType: {
          label: '监护人证件类型'
      },
      F_Guarder_CredPhoto_Obve: {
          label: '监护人证件正面',
          image: true
      },
      F_Guarder_CredPhoto_Rever: {
          label: '监护人证件反面',
          image: true
      },
      F_InClass: {
          label: '插班标注'
      },
      F_Stu_Type: {
          label: '生源类别'
      },
      F_ComeFrom_Type: {
          label: '来源类型'
      },
      F_Sco_Line: {
          label: '分数线'
      },
      F_Sco_Pir: {
          label: '分数差'
      },
      F_Sqzn: {
          label: '随迁子女'
      },
      F_Dzn: {
          label: '多子女'
      },
      F_Dzn_File: {
          label: '多子女凭证',
          image: true
      },
      F_Dzn_Memo: {
          label: '多子女关联的学生姓名及身份证号'
      },
      F_Teacherzn: {
          label: '教师子女'
      },
      F_Teacherzn_File: {
          label: '教师子女凭证',
          image: true
      },
      F_Teacherzn_Memo: {
          label: '教师子女关联的学生姓名及身份证号'
      },
      F_Old: {
          label: '复读生'
      },
      F_In_Memo: {
          label: '入学信息备注'
      },

      F_Height: {
          label: '身高'
      },
      F_Weight: {
          label: '体重'
      },
      F_Blood_Type: {
          label: '血型'
      },
      F_Allergy: {
          label: '过敏药物'
      },
      F_Food: {
          label: '过敏食物'
      },
      F_MedicalHis: {
          label: '病史'
      },
      F_MedicalHis_Memo: {
          label: '病史补充'
      },
      F_Reg_Status: {
          label: '户口情况'
      },
      F_RegAddr: {
          label: '户口所在地'
      },
      F_RegRelat: {
          label: '与户主关系'
      },
      F_RegPhoto_Obve: {
          label: '户口本主页照片',
          image: true
      },
      F_RegPhoto_Rever: {
          label: '户口本学生页照片',
          image: true
      },
      F_RegMainName: {
          label: '户主姓名'
      },
      F_RegMain_CredNum: {
          label: '户主身份证号'
      },
      F_RegMain_CredPhoto_Obve: {
          label: '户主身份证正面',
          image: true
      },
      F_RegMain_CredPhoto_Rever: {
          label: '户主身份证反面',
          image: true
      },
      F_FamilyAddr: {
          label: '家庭详细地址'
      },
      F_Tel: {
          label: '联系电话'
      },
      F_ComeFromAddress: {
          label: '源校地址'
      },
      F_Score: {
          label: '选拔成绩'
      },
      F_Score_File: {
          label: '选拔成绩单',
          image: true
      },
      F_ComeBackType: {
          label: '接送方式'
      },
      F_ComeBackRoute_ID: {
          label: '接送路线'
      },
      F_ComeBackPro: {
          label: '接送省'
      },
      F_ComeBackArea: {
          label: '接送区县'
      },
      F_ComeBackCity: {
          label: '接送市'
      },
      F_Relative2_Guarder_Relation: {
          label: '第二亲属亲子关系'
      },
      F_Relative3_Guarder_Relation: {
          label: '接送亲属亲子关系'
      },
      F_Relative3_Name: {
          label: '接送亲属姓名'
      },
      F_Relative3_Tel: {
          label: '接送亲属电话'
      },
      F_Relative1_Name: {
          label: '第一亲属姓名'
      },
      F_Relative1_Tel: {
          label: '第一亲属电话'
      },
      F_Relative1_Guarder: {
          label: '第一亲属文化程度'
      },
      F_Relative1_Comp: {
          label: '第一亲属工作单位'
      },
      F_Relative1_Guarder_Relation: {
          label: '第一亲属亲子关系'
      },
      F_Relative2_Name: {
          label: '第二亲属姓名'
      },
      F_Relative2_Tel: {
          label: '第二亲属电话'
      },
      F_Relative2_Guarder: {
          label: '第二亲属文化程度'
      },
      F_Relative2_Comp: {
          label: '第二亲属工作单位'
      },
      F_Relative3_Guarder3: {
          label: '接送亲属文化程度'
      },
      F_Relative3_Comp3: {
          label: '接送亲属工作单位'
      },
      F_Guarder_Dw: {
          label: '监护人工作单位'
      },
      F_Guarder_Wh: {
          label: '监护人文化程度'
      },
      F_Guarder_LinkType: {
          label: '监护人其他联系方式'
      },
      F_Eat: {
          label: '吃饭'
      },
      F_Relish: {
          label: '食欲'
      },
      F_Incontinence: {
          label: '大小便'
      },
      F_Dress: {
          label: '着装习惯'
      },
      F_Sleep: {
          label: '午睡'
      },
      F_Stripped: {
          label: '穿脱衣'
      },
      F_Physique: {
          label: '体质'
      },
      F_Life_Memo: {
          label: '生活其他'
      }
  }
  function getStuData() {
    $.ajax({
        url: '/School_Students/GetDetailsJson?keyValue=' + keyValue + '',
      dataType: "json",
      type: 'GET',
      success: function (res) {
        var $el = $.map(paramDefine, function (item, i) {
          var params = res[i] || null
          if (params !== null) {
            if (item.hasOwnProperty('image')) {
              return ('<li><div class="list-label">' + item.label + ':</div><div class="list-content"><img src='+ params +' /></div></li>')
            }
            else {
              return ('<li><div class="list-label">' + item.label + ':</div><div class="list-content">'+ params +'</div></li>')
            }
          }
        })
        $('#info-list').html($el.join(''))
      }
    })
  }
  $(function () {
    getStuData()
  })
</script>
<style>
  .info-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(201, 201, 201, 0.81);
    padding: 20px;
    margin-top: 15px;
  }
  .info-title {
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
  }
  .info-list {
    list-style: none;
    padding: 0;
  }
  .info-list:after {
    content: '';
    clear: both;
    display:block;
  }
  .info-list li {
    width: 50%;
    float: left;
    padding: 20px 5px 20px 20px;
  }
  .info-list .list-label {
    width: 20%;
    text-align: left;
    color: #8B8B8B;
    font-size: 14px;
  }
  .info-list .list-content {
    width: 80%;
    border-bottom: 1px solid #BDBDBD;
    text-align: center
  }
  .info-list .list-label, .info-list .list-content {
    float: left
  }
</style>
<div>
  <div class="info-card container">
    <h4 class="info-title">学生档案</h4>
    <ul id="info-list" class="info-list">
    </ul>
  </div>
</div>