
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    let GRID_WIDTH = window.innerWidth;
    let GRID_HEIGHT = window.innerHeight * 0.9;
    let GRID_STYLE = "Bootstrap";

    $(function () {
        gridList();

        $("#btn_search").click(() => {
            let rowId = $("#treeGrid").jqGrid("getGridParam", "selrow");
            reloadGrid(rowId)
        });
    })

    function gridList() {
        $("#gridList").jqGrid({
            styleUI: GRID_STYLE,
            height: GRID_HEIGHT,
            width: GRID_WIDTH,
            datatype: 'json',
            url: `/Dorm/Student/Load`,
            multiselect: true,
            loadonce: false,
            viewrecords: true,
            pager: "#gridPager",
            rowNum: 15,
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                {
                    label: '头像', name: 'facePic',
                    width: 96,
                    formatter: function (cellvalue) {
                        return `<img src='${cellvalue}' style="width:96px;height:96px;"/>`;
                    }

                },
                { label: '姓名', name: 'name' },
                {
                    label: '性别', name: 'gender',
                    formatter: function (cellvalue) {
                        switch (cellvalue) {
                            case '1': {
                                return '男';
                                break;
                            }
                            case '0': {
                                return '女';
                                break;
                            }
                            default:
                                {
                                    return "";
                                    break;
                                }
                        }
                    }
                },
                { label: '学号', name: 'studentNumber' },
                { label: '证件类型', name: 'credType' },
                { label: '证件号码', name: 'credNumber' },
                { label: '学院', name: 'grade' },
                { label: '年级', name: 'divis' },
                { label: '隶属机构', name: 'classId' },
                { label: '手机号码', name: 'mobilePhone' },
                

            ],

        });
    }

    function reloadGrid(rowId) {
        $("#gridList").jqGrid('setGridParam', {
            postData: {
                keyword: $("#keyword").val(),
                orgId: rowId
            },
        }).trigger('reloadGrid');
    }
</script>

<form class="form-inline topPanel" autocomplete="off">
    <button type="button" class="btn btn-default" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></button>
    <input type="text" class="form-control" id="keyword" placeholder="关键字">
    <button type="button" id="btn_search" class="btn btn-default"><i class="fa fa-search"></i></button>
    @*<button type="button" id="btn_xf" class="btn btn-primary">下发</button>
        <button type="button" id="btn_zx" class="btn btn-primary">注销</button>
        <button type="button" id="btn_sbyh" class="btn btn-primary pull-right">查看设备用户</button>*@
</form>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>