@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var F_Name = $.request("F_Name");
    var dictionaryBinding = {
        F_CurStatu: {
            dictionary: 'F_CurStatu'
        }
    }
    $(function () {
        $.each(dictionaryBinding, function (i, item) {
            $('#' + i).bindSelect(item)
        })
    });
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        postData["F_CurStatu"] = $("#F_CurStatu").val();
        postData["keyValue"] = keyValue;
        $.submitForm({
            url: "/Dorm/School_Students/SubmitCurStatu",
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">姓名：</th>
                <td class="formValue" id="F_Name">
                </td>
                <th class="formTitle">在线状态</th>
                <td class="formValue">
                    <select id="F_CurStatu" name="F_CurStatu" class="form-control required"><option value="">请选择</option></select>
                </td>
            </tr>
        </table>
    </div>
</form>