<table class="form">
    @*<tr>
        <th class="formTitle">父亲姓名</th>
        <td class="formValue">
            <input id="F_Father" name="F_Father" type="text" class="form-control required" placeholder="请输入报名操作流水" />
        </td>
        <th class="formTitle">父亲联系电话</th>
        <td class="formValue">
            <input id="F_FatherTel" name="F_FatherTel" type="text" class="form-control required" placeholder="请输入序号" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">母亲姓名</th>
        <td class="formValue">
            <input id="F_Mother" name="F_Mother" type="text" class="form-control required" placeholder="请输入报名操作流水" />
        </td>
        <th class="formTitle">母亲联系电话</th>
        <td class="formValue">
            <input id="F_MotherTel" name="F_MotherTel" type="text" class="form-control required" placeholder="请输入序号" />
        </td>
    </tr>*@
    @*<tr>
        <th class="formTitle">第一亲属姓名</th>
        <td class="formValue">
            <input id="F_Relative1_Name" name="F_Relative1_Name" type="text" class="form-control required" placeholder="请输入第一亲属姓名" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">第一亲属电话</th>
        <td class="formValue">
            <input id="F_Relative1_Tel" name="F_Relative1_Tel" type="text" class="form-control required" placeholder="请输入第一亲属电话" />
        </td>
        <th class="formTitle">第一亲属文化程度</th>
        <td class="formValue">
            <select id="F_Relative1_Guarder" name="F_Relative1_Guarder" type="text" class="form-control required" placeholder="请输入第一亲属文化程度"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">第一亲属工作单位</th>
        <td class="formValue">
            <input id="F_Relative1_Comp" name="F_Relative1_Comp" type="text" class="form-control required" placeholder="请输入第一亲属工作单位" />
        </td>
        <th class="formTitle">第一亲属亲子关系</th>
        <td class="formValue">
            <select id="F_Relative1_Guarder_Relation" name="F_Relative1_Guarder_Relation" type="text" class="form-control required" placeholder="请输入第一亲属亲子关系">
                <option value="">请选择</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">第二亲属姓名</th>
        <td class="formValue">
            <input id="F_Relative2_Name" name="F_Relative2_Name" type="text" class="form-control required" placeholder="请输入第二亲属姓名" />
        </td>
        <th class="formTitle">第二亲属电话</th>
        <td class="formValue">
            <input id="F_Relative2_Tel" name="F_Relative2_Tel" type="text" class="form-control required" placeholder="请输入第二亲属电话" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">第二亲属文化程度</th>
        <td class="formValue">
            <select id="F_Relative2_Guarder" name="F_Relative2_Guarder" type="text" class="form-control required" placeholder="请输入第二亲属文化程度">
                <option value="">请选择</option>
            </select>
        </td>
        <th class="formTitle">第二亲属工作单位</th>
        <td class="formValue">
            <input id="F_Relative2_Comp" name="F_Relative2_Comp" type="text" class="form-control required" placeholder="请输入第二亲属工作单位" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">第二亲属亲子关系</th>
        <td class="formValue">
            <select id="F_Relative2_Guarder_Relation" name="F_Relative2_Guarder_Relation" type="text" class="form-control required" placeholder="请输入第二亲属亲子关系"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">接送亲属亲子关系</th>
        <td class="formValue">
            <select id="F_Relative3_Guarder_Relation" name="F_Relative3_Guarder_Relation" type="text" class="form-control required" placeholder="请输入接送亲属亲子关系"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">接送亲属姓名</th>
        <td class="formValue">
            <input id="F_Relative3_Name" name="F_Relative3_Name" type="text" class="form-control required" placeholder="请输入接送亲属姓名" />
        </td>
        <th class="formTitle">接送亲属电话</th>
        <td class="formValue">
            <input id="F_Relative3_Tel" name="F_Relative3_Tel" type="text" class="form-control required" placeholder="请输入接送亲属电话" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">接送亲属文化程度</th>
        <td class="formValue">
            <select id="F_Relative3_Guarder3" name="F_Relative3_Guarder3" type="text" class="form-control required" placeholder="请输入接送亲属文化程度"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">接送亲属工作单位</th>
        <td class="formValue">
            <input id="F_Relative3_Comp3" name="F_Relative3_Comp3" type="text" class="form-control required" placeholder="请输入接送亲属工作单位" />
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">监护人姓名</th>
        <td class="formValue">
            <input id="F_Guarder" name="F_Guarder" type="text" class="form-control required" placeholder="请输入监护人姓名" />
        </td>
        <th class="formTitle">监护关系</th>
        <td class="formValue">
            <select id="F_Guarder_Relation" name="F_Guarder_Relation" type="text" class="form-control required" placeholder="请输入监护关系"><option value="">请选择</option></select>
        </td>
    </tr>
    @*<tr>
        <th class="formTitle">监护人工作单位</th>
        <td class="formValue">
            <input id="F_Guarder_Dw" name="F_Guarder_Dw" type="text" class="form-control required" placeholder="请输入监护人工作单位" />
        </td>
        <th class="formTitle">监护人文化程度</th>
        <td class="formValue">
            <select id="F_Guarder_Wh" name="F_Guarder_Wh" type="text" class="form-control required" placeholder="请输入监护人文化程度"><option value="">请选择</option></select>
        </td>
    </tr>*@
    <tr>
        <th class="formTitle">监护人联系电话</th>
        <td class="formValue">
            <input data-rule-isTel="true" id="F_Guarder_Tel" name="F_Guarder_Tel" type="text" class="form-control required" placeholder="请输入监护人联系电话" />
        </td>
        <th class="formTitle">监护人国籍</th>
        <td class="formValue">
            <select id="F_Guarder_Nation" name="F_Guarder_Nation" type="text" class="form-control required" placeholder="请输入监护人国籍"><option value="">请选择</option></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">监护人证件类型</th>
        <td class="formValue">
            <select id="F_Guarder_CredType" name="F_Guarder_CredType" type="text" class="form-control required" placeholder="请输入监护人证件类型"><option value="">请选择</option></select>
        </td>
        <th class="formTitle">监护人证件号</th>
        <td class="formValue">
            <input data-rule-IdCodeDut="true" id="F_Guarder_CredNum" name="F_Guarder_CredNum" type="text" class="form-control required" placeholder="请输入监护人证件号" />
        </td>
        
    </tr>
    @*<tr>
        <th class="formTitle">监护人证件正面</th>
        <td class="formValue">
            <div id="F_Guarder_CredPhoto_Obve" class="fileUpload">
            </div>
        </td>
        <th class="formTitle">监护人证件反面</th>
        <td class="formValue">
            <div id="F_Guarder_CredPhoto_Rever" class="fileUpload">
            </div>
        </td>
    </tr>
    <tr>
        <th class="formTitle">监护人其他联系方式</th>
        <td class="formValue">
            <input id="F_Guarder_LinkType" name="F_Guarder_LinkType" type="text" class="form-control required" placeholder="请输入监护人其他联系方式" />
        </td>
    </tr>*@
</table>