@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link href="/Content/js/simditor/css/simditor.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script src="~/Content/js/Fileupload.js"></script>
<script src="~/Content/js/simditor/js/module.min.js"></script>
<script src="~/Content/js/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/js/simditor/js/uploader.min.js"></script>
<script src="~/Content/js/simditor/js/simditor.min.js"></script>
<style>
    .webuploader-container {
        position: relative;
    }

    .webuploader-element-invisible {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px,1px,1px,1px);
    }

    .fileUpload .preview-list {
        display: inline-block;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 5px;
    }

        .fileUpload .preview-list .fa-file {
            margin-right: 3px;
        }

        .fileUpload .preview-list .fa-close {
            font-size: 14px;
        }

</style>
<script>
    var keyValue = $.request("keyValue");
    var dictionaryBinding = {
        F_Divis_ID: {
            url: '/SystemManage/Organize/GetSelectJsonByCategoryId'
        },
        F_Grade_ID: {
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId",
        },
        F_Class_ID: {
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId",
        },
        F_Gender: {
            dictionary: '104'
        },
        F_Nation: {
            dictionary: 'F_Nation'
        },
        F_Volk: {
            dictionary: '103'
        },
    }
    function simpleUpload($container, options) {
        var defaults = {
            maxFile: 1,
            accept: 'image/*',
            url: '/File/FileUpload'
        }
        var status = 'pending'
        var options = $.extend(defaults, options)
        $container.each(function () {
            var $button = $('<div class="btn btn-primary btn-small">选择文件</div>')
            var id = $(this).attr('id')
            var $fileTrigger = $(this).prev('input.file')
            var $input = $('<input type="text" class="required form-control hidden" name=' + id + ' id=' + id + ' />')
            var $listContainer = $('<ul class="preview-list"></ul>')
            $(this).append($button).append($input).append($listContainer)
            $(this).removeAttr('id')
            var uploader = WebUploader.create({
                swf: 'webuploader/Uploader.swf',
                accept: options.accept,
                pick: {
                    id: $button[0],
                    label: '选择文件'
                },
                server: options.url,
                auto: true
            })
            bindEvent(uploader, $listContainer, $button, $input)
        })
        function bindEvent(uploader, $listContainer, $button, $input) {
            uploader.on('fileQueued', function (file) {
                uploader.makeThumb(file, function (error, src) {
                    $fileItem = $('<li class="file-item" id=' + file.id + '><div><img src=' + src + ' /><i class="fa fa-close"></i></div></li>')
                    $listContainer.append($fileItem)
                    displayCheck($listContainer, $button)
                    $fileItem.find('.fa-close').click(function () {
                        var id = $(this).parents('li').attr('id')
                        $('#' + id).remove()
                        uploader.removeFile(id)
                        displayCheck($listContainer, $button)
                    })
                })
            })
            uploader.on('uploadSuccess', function (file, response) {
                $input.val(response.url)
            })
        }
        function displayCheck($listContainer, $button) {
            var fileDom = $listContainer.find('li.file-item')
            if (fileDom.length) {
                if (fileDom.length >= options.maxFile) {
                    $button.hide()
                } else {
                    $button.show()
                }
            } else {
                $button.show()
            }
        }
    }
    function resetForm() {
        $('.form-control').removeClass('ignore').removeAttr('disabled')
        $('.formValue, .formTitle').removeClass('disabled')
    }
    function initControl() {
        $('.step-pane').each(function () {
            $(this).find('table.form').wrap('<form></form>')
        })
        $.simpleUploader($('.fileUpload'))
        $.each(dictionaryBinding, function (i, item) {
            $('#' + i).bindSelect(item)
        })
        $.addRequired('#form1')
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            $finish.hide();
            if (data.direction == "next") {
                if (!$('#step-' + data.step).find('form').formValid()) {
                }
                if (data.step === 1) {
                    var id = $('#F_Divis_ID').val()
                    var data = top.clients.department[id]
                    resetForm()
                    if (data.length !== 0) {
                        disableFormDoms(data, $('#form1'))
                    }
                }

            } else {
                $finish.hide();
                $next.show();
            }
        });
    }
    function disableFormDoms(removeArray, $form) {
        $.each(removeArray, function (i, item) {
            $form.find('#' + item).attr('disabled', 'disabled').parents('.formValue').addClass('disabled').prev('.formTitle').addClass('disabled')
        })
    }
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_Students/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('select').attr('disabled', 'disabled');
                    $("#form1").find('input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '')
                }
            });
        }
    });
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div class="tab-content" style="padding-top: 5px;">
            <table class="form">
                <tr>
                    <th class="formTitle">学号</th>
                    <td class="formValue">
                        <input id="F_StudentNum" name="F_StudentNum" type="text" class="form-control" style="width:150px"/>
                    </td>
                    <th class="formTitle">姓名</th>
                    <td class="formValue">
                        <input id="F_Name" name="F_Name" type="text" class="form-control" style="width:150px"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">性别</th>
                    <td class="formValue">
                        <select id="F_Gender" name="F_Gender" type="text" class="form-control" style="width:150px">
                        </select>
                    </td>
                    <th class="formTitle">出生日期</th>
                    <td class="formValue">
                        <input id="F_Birthday" name="F_Birthday" type="text" class="form-control" style="width:150px"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">国籍</th>
                    <td class="formValue">
                        <select id="F_Nation" name="F_Nation" type="text" class="form-control" >
                        </select>
                    </td>
                    <th class="formTitle">身份证号码</th>
                    <td class="formValue">
                        <input id="F_CredNum" name="F_CredNum" type="text" class="form-control required" style="width:150px" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">民族</th>
                    <td class="formValue">
                        <select id="F_Volk" name="F_Volk" type="text" class="form-control required">
                        </select>
                    </td>
                    <th class="formTitle">监护人联系电话</th>
                    <td class="formValue">
                        <input data-rule-isTel="true" id="F_Guarder_Tel" name="F_Guarder_Tel" type="text" class="form-control" style="width:150px"/>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">院系</th>
                    <td class="formValue">
                        <select id="F_Divis_ID" name="F_Divis_ID" class="form-control"></select>
                    </td>
                    <th class="formTitle">年级</th>
                    <td class="formValue">
                        <select id="F_Grade_ID" name="F_Grade_ID" class="form-control"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">班级</th>
                    <td class="formValue">
                        <select id="F_Class_ID" name="F_Class_ID" class="form-control"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">电子照片</th>
                    <td class="formValue">
                        <div id="F_FacePic_File" class="fileUpload">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>