@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(function () {
        $('#layout').layout({
            west__size: 450,
            resizable: false
        });
        tablegridList();
        gridList();
    });

    function tablegridList() {
        var $gridList = $("#table_gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Sys_TableDef/GetGridJson",
            height: $(window).height() - 173,
            autoGridHeight: function () {
              return 700
            },
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '表名称', name: 'F_TableName', width: 80, align: 'left' },
                { label: '表标题', name: 'F_TableTitle', width: 80, align: 'left' }
            ],
            onCustomSelectRow: DispalyGrid,
            multiselect: false,
            rowNum: -1
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), F_DepartmentId: $("#F_DepartmentId").val(), F_CreatorTime_Start: $("#F_CreatorTime_Start").val(), F_CreatorTime_Stop: $("#F_CreatorTime_Stop").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增表定义",
            url: "/SystemManage/Sys_TableDef/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#table_gridList").jqGridRowValue()["F_Id"];
        $.modalOpen({
            id: "Form",
            title: "修改表定义",
            url: "/SystemManage/Sys_TableDef/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var deleteid = $("#table_gridList").jqGridRowValue()["F_Id"];

        var keyValue = deleteid;
        //for (var i = 0; i < deleteid.length; i++) {
        //    keyValue += deleteid[i] + "|";
        //}
        $.deleteForm({
            url: "/SystemManage/Sys_TableDef/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#table_gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_export() {
        var deleteid = $("#table_gridList").jqGridRowValue()["F_Id"];
        var keyValue = deleteid;
        //for (var i = 0; i < deleteid.length; i++) {
        //    keyValue += deleteid[i] + "|";
        //}

        document.location = "/SystemManage/Sys_TableDef/export?keyValue=" + keyValue;
    }

    function DispalyGrid(rowid) {
        $('#btn_searchfield').trigger("click");
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            height: $(window).height() - 173,
            autoGridHeight: function () {
              return 700
            },
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '字段名称', name: 'F_FieldName', width: 80, align: 'left' },
                { label: '字段标题', name: 'F_FieldTitle', width: 80, align: 'left' },
                { label: '数据类型', name: 'F_DataType', width: 80, align: 'left' },
                { label: '数据长度', name: 'F_Length', width: 80, align: 'left' },
                { label: '小数位数', name: 'F_DigitLen', width: 80, align: 'left' },
                { label: '显示列宽', name: 'F_ColWidth', width: 80, align: 'left' },
                { label: '序号', name: 'F_SortCode', width: 80, align: 'left' },
                { label: '是否在列表中显示', name: 'F_IsListDispaly', width: 80, align: 'left' },
                { label: '是否在Excel中显示', name: 'F_IsExcelDispaly', width: 80, align: 'left' }
            ],
            rowNum: -1
        });
        $("#btn_searchfield").click(function () {

            $gridList.jqGrid('setGridParam', {
                url: "/SystemManage/Sys_TableDef/GetFieldGridJson",
                postData: { keyword: $("#txt_fieldName").val(), tableId: $("#table_gridList").jqGridRowValue()["F_Id"] },
            }).trigger('reloadGrid');
        });
    }

    function btn_addfield() {
        var tableId = $("#table_gridList").jqGridRowValue()["F_Id"];
        if (tableId == null)
        {
            alert("请先选择表名！");
            return;
        }
        $.modalOpen({
            id: "Form",
            title: "新增表字段",
            url: "/SystemManage/Sys_TableDef/FieldForm?tableId=" + tableId,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_editfield() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Form",
            title: "修改表字段",
            url: "/SystemManage/Sys_TableDef/FieldForm?keyValue=" + keyValue+"&tableId="+$("#table_gridList").jqGridRowValue()["F_Id"],
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_deletefield() {
        var deleteid = $('#gridList').jqGridRowValue('F_Id');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            keyValue += deleteid[i] + "|";
        }
        $.deleteForm({
            url: "/SystemManage/Sys_TableDef/DeleteFieldForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                @*<div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建表定义</a>
                </div>*@
                <div class="operate" style="background:rgb(26, 188, 156);">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改表定义</a></li>
                        <li class="split"></li>
                        <li><a class="multi-edit" id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除表定义</a></li>
                        @*<li class="split"></li>*@
                        @*<li><a class="multi-edit" id="NF-export" authorize="yes" onclick="btn_export()"><i class="fa fa-arrow-down"></i>导出表定义</a></li>*@
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <th class="formTitle">搜索：</th>

                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="表名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="table_gridList"></table>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    <a id="NF-addfield" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_addfield()"><i class="fa fa-plus"></i>新建表字段</a>
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-editfield" authorize="yes" onclick="btn_editfield()"><i class="fa fa-pencil-square-o"></i>修改表字段</a></li>
                        <li><a class="multi-edit" id="NF-deletefield" authorize="yes" onclick="btn_deletefield()"><i class="fa fa-trash-o"></i>删除表字段</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                
            </div>
            <div class="search">
                <table>
                    <tr>
                        <th class="formTitle">搜索：</th>

                        <td>
                            <div class="input-group">
                                <input id="txt_fieldName" type="text" class="form-control" placeholder="字段名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="btn_searchfield" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</div>