@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    let id = $.request("id");
    $(function () {
        $("#days").attr("max", $.request("days"));

    });
    function submitForm() {
        $.submitForm({
            url: "cancelHoliday",
            param: { orderId: id, days: $("#days").val()},
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="approveForm" class="form" style="padding:30px;">
    <div class="form-group">
        <label for="days">销假天数</label>
        <input type="number" class="form-control" id="days" placeholder="销假天数" max="15" min=".5" step=".5" value="0.5">
    </div>
</form>