@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    // 加载列表

    function gridList() {
        $("#gridList").dataGrid({
            url: "/Dorm/leave/load",
            postData: { keyword: $("#txt_keyword").val(), searchPattern: $("#searchPattern").val() },
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '申请人', name: 'leaveerName', width: 80, align: 'left', sortable: false },
                { label: '开始时间', name: 'startTime', width: 80, align: 'left', sortable: false },
                { label: '截止时间', name: 'endOfTime', width: 80, align: 'left', sortable: false },
                { label: '请假天数', name: 'leaveDays', width: 80, align: 'left', sortable: false },
                { label: '请假事由', name: 'reasonForLeave', width: 80, align: 'left', sortable: false },
                {
                    label: '请假类型', name: 'leaveType', width: 80, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        return top.clients.dataItems['LeaveType'] == null ? "" : top.clients.dataItems['LeaveType'][cellvalue];
                    }
                },
                {
                    label: '审批状态', name: 'approvalStatus', width: 80, align: 'left', sortable: false,
                    formatter: function (cellvalue) {
                        if (!cellvalue) return "待审批";
                        return top.clients.dataItems['TaskStatus'] == null ? "" : top.clients.dataItems['TaskStatus'][cellvalue];
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $("#gridList").jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), searchPattern: $("#searchPattern").val() },
            }).trigger('reloadGrid');
        });
    }

    // 审批
    function btn_approve() {
        let status = ($("#gridList").jqGridRowValue('approvalStatus'))[0];
        if (status != "待审批") {
            top.layer.alert("已审核，请勿操作", { icon: "fa-times-circle", title: "系统提示", btn: ["确认"], btnclass: ["btn btn-default"] });
            return;
        }
        let id = ($("#gridList").jqGridRowValue('id'))[0];
        $.modalOpen({
            id: "Form",
            title: "请假审批",
            url: "/Dorm/leave/approveform?id=" + id,
            width: "900px",
            height: "610px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    // 一键审批
    function oneKeyApproval(pass) {

        let ids = $("#gridList").getGridParam("selarrrow");

        if (ids.length == 0) {
            $.modalMsg(`至少选择一项`, 'warning');
            return;
        }

        var defaults = {
            prompt: pass ? "注：您确定一键通过？" : "注：您确定一键拒绝？",
            url: "/Dorm/leave/oneKeyApproval",
            param: {
                orders:ids,
                isAgreed: pass,
                opinion: pass ? "一键通过" : "一键拒绝"
            },
            loading: "审批中...",
            success: null,
            close: true
        };
        var options = $.extend(defaults, options);
        $.modalConfirm(options.prompt, function (r) {
            if (r) {
                $.loading(true, options.loading);
                $.ajax({
                    url: options.url,
                    type: 'post',
                    data: options.param,
                    dataType: 'json',
                    success: function (data) {
                        switch (data.state) {
                            case 'success':
                                $("#gridList").trigger("reloadGrid");
                                $.modalMsg('审批成功', 'success');
                                break;
                            case 'error': $.modalMsg(`审批失败:${data.message}`, 'error'); break;
                        }
                        $.loading(false);
                    }
                })
            }
        })
    }


    $(function () {
        gridList();

        /**
         * 定时器
         */
        setInterval(function () {
            let selectedRows = $("#gridList").getGridParam("selarrrow").length;
            switch (selectedRows) {
                case 0: {
                    $("#NF-pass").addClass("disabled");
                    $("#NF-reject").addClass("disabled");
                }
                case 1:
                    {
                        let rowId = $("#gridList").getGridParam("selrow");
                        let rowData = $("#gridList").getRowData(rowId);
                        if (rowData.approvalStatus == "待审批") {
                            $("#NF-approving").removeClass("disabled");
                        }
                        $("#NF-pass").removeClass("disabled");
                        $("#NF-reject").removeClass("disabled");
                        break;
                    }
                default:
                    {
                        $("#NF-approving").addClass("disabled");
                        $("#NF-pass").removeClass("disabled");
                        $("#NF-reject").removeClass("disabled");
                        break;
                    }
            }
        }, 50)

        // 绑定下拉
         $("#searchPattern").select2({
            minimumResultsForSearch: -1,
            data: [
                {
                    id: 0,
                    text: '未审批'
                },
                 {
                    id: 1,
                    text: '已审批'
                }
             ],
        });
    });

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-default" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-approving" authorize="yes" onclick="btn_approve()"><i class="fa fa-search-plus"></i>审批</a></li>
                <li><a id="NF-pass" authorize="yes" onclick="oneKeyApproval(true)"><i class="fa fa-search-plus"></i>一键通过</a></li>
                <li><a id="NF-reject" authorize="yes" onclick="oneKeyApproval(false)"><i class="fa fa-search-plus"></i>一键拒绝</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        @**@
    </div>
    <div class="search">
        <ul>
            <li class="formTitle">搜索：</li>
            <li>
                <div class="input-group" style="margin-right:10px;width:200px;">
                    <select id="searchPattern" name="searchPattern" class="form-control"></select>
                </div>
            </li>
            <li>
                <div class="input-group">
                    <input id="txt_keyword" type="text" class="form-control" placeholder="学生" style="width: 150px;">
                    <span class="input-group-btn">
                        <button id="btn_search" type="button" class="btn  btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>