@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    let orgList = JSON.parse(localStorage.getItem("orgList"));

    $(function () {
        gridList();
        $("#DivisId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
            displayBlank: false
        });

        $("#DivisId").change(function () {
            changeGrade();
        });

        $("#GradeId").change(function () {
            changeClass();
        });

        function changeGrade() {
            $("#GradeId").find("option").remove();
            $("#GradeId").append("<option value=''>请选择</option>");
            $("#GradeId").bindSelect({
                url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#DivisId").val(),
            });
        }

        function changeClass() {
            $("#ClassId").find("option").remove();
            $("#ClassId").append("<option value=''>请选择</option>");
            $("#ClassId").bindSelect({
                url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#GradeId").val(),
            });
        }
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Dorm/Report/GetNoOutList",
            colModel: [
                { label: '学号', name: 'account', width: 200, align: 'left' },
                { label: '姓名', name: 'name', width: 150, align: 'left' },
                //{ label: "院校", name: "College", width: 150, align: 'left' },
                //{ label: "班级", name: "Class", width: 150, align: 'left' },
                {
                    label: '年级', name: 'departmentId', width: 200, align: 'left',
                    formatter: function (cv) {
                        return orgList[cv] == null ? "" : orgList[cv];
                    },

                },
                {
                    label: '院系', name: 'gradeId', width: 200, align: 'left',
                    formatter: function (cv) {
                        return orgList[cv] == null ? "" : orgList[cv];
                    },

                },
                {
                    label: '班级', name: 'classId', width: 200, align: 'left',
                    formatter: function (cv) {
                        return orgList[cv] == null ? "" : orgList[cv];
                    },

                },
                { label: "宿舍号", name: "dorm", width: 150, align: 'left' },
                { label: "进宿舍时间", name: "inTime", width: 150, align: 'left' },
                { label: "未出时长(时)", name: "time", width: 150, align: 'left' }
            ],
            pager: '#gridPager',
            multiselect: false
        });
        $("#btn_search").click(function () {
            if ((!!$("#DivisId").val() || !!$("#GradeId").val()) && !$("#ClassId").val()) {
                $.modalMsg('请选择班级', 'warning');
                return null;
            }
            $gridList.jqGrid('setGridParam', {
                postData: { ClassId: $('#ClassId').val(), StartTime: $('#StartTime').val(), EndTime: $('#EndTime').val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_export() {
        document.location = "/Dorm/Report/NoOutExport?ClassId=" + $('#ClassId').val() + "&StartTime=" + $('#StartTime').val() + "&EndTime=" + $('#EndTime').val();
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()"><i class="fa fa-arrow-down"></i>导出</a>
        </div>
    </div>
    <div class="search">
        <ul>
            <li class="formTitle">搜索：</li>
            <li>
                <div class="input-group" style="margin-right:10px;width:200px;">
                    <select id="DivisId" name="DivisId" class="form-control">
                        <option value="">请选择年级</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group" style="margin-right:10px;width:200px;">
                    <select id="GradeId" name="GradeId" class="form-control">
                        <option value="">请选择院校</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group" style="margin-right:10px;width:200px;">
                    <select id="ClassId" name="ClassId" class="form-control">
                        <option value="">请选择班级</option>
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group" style="margin-top:1px">
                    <input id="StartTime" name="StartTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" placeholder="开始时间" />
                </div>
            </li>
            <li><div class="input-group" style="width:10px">至</div></li>
            <li>
                <div class="input-group" style="margin-right:10px;margin-top:1px">
                    <input id="EndTime" name="EndTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" placeholder="结束时间" />
                </div>
            </li>
            <li>
                <div class="input-group">
                    @*<input id="txt_keyword" type="text" class="form-control" placeholder="名称" style="width: 150px;">*@
                    <span class="input-group-btn">
                        <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>