<table class="form">
    <tr>
        <th class="formTitle">网盘号</th>
        <td class="formValue">
            <input id="F_YPNo" name="F_YPNo" type="text" class="form-control" placeholder="请输入网盘号" />
        </td>
        <th class="formTitle">网盘密码</th>
        <td class="formValue">
            <input id="F_YPPwd" name="F_YPPwd" type="password" class="form-control" placeholder="请输入证件号码" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">物理卡号</th>
        <td class="formValue">
            <input id="F_Mac_No" name="F_Mac_No" type="text" class="form-control" placeholder="请输入物理卡号" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">婚姻状况</th>
        <td class="formValue">
            <select id="F_Marrige" name="F_Marrige" class="form-control"></select>
        </td>
        <th class="formTitle">健康状况</th>
        <td class="formValue">
            <select id="F_Health" name="F_Health" class="form-control"></select>
            @*<input id="F_Health" name="F_Health" type="text" class="form-control required" placeholder="请输入" />*@
        </td>
    </tr>
    <tr>
        <th class="formTitle">参加工作时间</th>
        <td class="formValue">
            <input id="F_InWork_Date" name="F_InWork_Date" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d' })" />
        </td>
        <th class="formTitle">教职工来源</th>
        <td class="formValue">
            <input id="F_Source_Teacher" name="F_Source_Teacher" type="text" class="form-control" placeholder="请输入" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">是否在编</th>
        <td class="formValue">
            <select id="F_Payroll" name="F_Payroll" class="form-control"></select>
        </td>
        <th class="formTitle">用人形式</th>
        <td class="formValue">
            <select id="F_YRXS" name="F_YRXS" class="form-control"></select>
            @*<input id="F_YRXS" name="F_YRXS" type="text" class="form-control required" />*@
        </td>
    </tr>
    <tr>
        <th class="formTitle">签订合同情况</th>
        <td class="formValue">
            <input id="F_If_Contract" name="F_If_Contract" type="text" class="form-control" />
        </td>
        <th class="formTitle">有特殊教育从业证书</th>
        <td class="formValue">
            <input id="F_TSJYCYZS" name="F_TSJYCYZS" type="text" class="form-control" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">信息技术应用能力</th>
        <td class="formValue">
            <input id="F_XXJSYY" name="F_XXJSYY" type="text" class="form-control" />
        </td>
        <th class="formTitle">属于公费师范生</th>
        <td class="formValue">
            <input id="F_GFSFS" name="F_GFSFS" type="text" class="form-control" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">参加基础服务项目</th>
        <td class="formValue">
            <input id="F_JCFW" name="F_JCFW" type="text" class="form-control" />
        </td>
        <th class="formTitle">参加基础服务项目起始时间</th>
        <td class="formValue">
            <input id="F_JCFW_Start" name="F_JCFW_Start" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d' })" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">参加基础服务项目截至时间</th>
        <td class="formValue">
            <input id="F_JCFW_End" name="F_JCFW_End" type="text" class="form-control" onfocus="WdatePicker()" />
        </td>
        <th class="formTitle">是否特级教师</th>
        <td class="formValue">
            <select id="F_If_Sp" name="F_If_Sp" class="form-control"></select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">是否县级以上骨干教师</th>
        <td class="formValue">
            <select id="F_If_Gg" name="F_If_Gg" class="form-control"></select>
        </td>
        <th class="formTitle">人员状态</th>
        <td class="formValue">
            <select id="F_Status" name="F_Status" class="form-control"></select>
        </td>
    </tr>
</table>