@{

    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    // 全局变量
    let op = "";

    $(function () {
        init();
    });

    // 初始化
    function init() {
        // 绑定下拉框
        $("#buildingType").bindSelect({
            dictionary: 'BuildingType',
            displayBlank: false
        });
        $("#buildingStatus").bindSelect({
            dictionary: 'BuildingStatus',
            displayBlank: false
        });
        $('input').attr('autocomplete', "off");
        op = $.request("op");        
        switch (op) {
            case "Add": {
              // setSortCode();
                break;
            };
            case "Update": {
                getJsonToForm();
                break;
            };
            case "Detail": {
                getJsonToForm();
                $("#myForm").addClass("disabled");
                $("[placeholder]").removeAttr("placeholder");
                break;
            };
        }
    }

    // 提交请求
    function submit() {
        if (!$('#myForm').formValid()) {
            return false;
        }
        $.ajax({
            url: `/Dorm/DormBuilding/${op}`,
            data: $("#myForm").serialize(),
            type: "post",
            dataType: "json",
            success: function (data) {
                $.loading(false);
                if (data.state == 'success') {
                    $.modalMsg('操作成功', 'success');
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    $.currentWindow().$("#itemTree").trigger("reloadGrid");
                    $.modalClose();

                } else {
                    $.modalMsg(`操作失败:${data.message}`, 'warning');
                }
            },
            beforeSend: function () {
                $.loading(true);
            },
        });
    }
    //获取数据
    function getJsonToForm() {
        $.getJSON(`/Dorm/DormBuilding/Get?id=${$.request("id")}`,
            function (data) {
                $("#myForm").formSerialize(data.data);
            }
        );
    }
    // 设置排序码
    //function setSortCode() {
    //    $.getJSON(`/AssetManage/Supplier/GetNextSort`,
    //        function (data) {
    //            $("#sortCode").val(data);
    //        }
    //    );
    //}
</script>
<form id="myForm">
    <input id="id" name="id" type="hidden" />
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle"><span style="color:red">*</span>名称</th>
                    <td class="formValue">
                        <input id="Title" name="title" type="text" class="form-control required" placeholder="请输入名称" />
                    </td>
                    <th class="formTitle">楼栋类型</th>
                    <td class="formValue">
                        <select id="buildingType" name="buildingType" class="form-control">
                            <option value="">请选择</option>
                        </select>
                    </td>
                    
                </tr>

                
                <tr>
                    <th class="formTitle">所属区域</th>
                    <td class="formValue">
                        <input id="Area" name="area" type="text" class="form-control" placeholder="请输入所属区域" />
                    </td>
                    <th class="formTitle">楼栋号</th>
                    <td class="formValue">
                        <input id="BuildingNo" name="buildingNo" type="text" class="form-control " placeholder="请输入楼栋号" />
                    </td>
                    
                </tr>
              
                <tr>
                    <th class="formTitle">楼层号</th>
                    <td class="formValue">
                        <input id="FloorNum" name="floorNum" type="text" class="form-control " placeholder="请输入楼层号" />
                    </td>
                    <th class="formTitle">单元号</th>
                    <td class="formValue">
                        <input id="UnitNum" name="unitNum" type="text" class="form-control" placeholder="请输入单元号" />
                    </td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                    <th class="formTitle">地址</th>
                    <td class="formValue">
                        <input id="Address" name="address" type="text" class="form-control" placeholder="请输入地址" />
                    </td>
                    <th class="formTitle">楼栋状态</th>
                    <td class="formValue">
                        <select id="buildingStatus" name="buildingStatus" class="form-control">
                            <option value="">请选择</option>
                        </select>
                    </td>
                </tr>
               
            </table>
        </div>
    </div>
</form>