<!DOCTYPE html>
<html>
<head>
    <meta lang="zh-cn">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @RenderPage("~/Views/Shared/_Script.cshtml")
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>