<!DOCTYPE html>
<html>
<head>
    <meta lang="zh-cn">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Content/js/resizeEnd/jquery.resizeend.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/zoom/zoom.css" rel="stylesheet" />
    <script src="~/Content/js/zoom/zoom.js"></script>
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
    <script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
    <script src="~/Content/js/datepicker/WdatePicker.js"></script>
    <link href="~/Content/js/wdtree/tree.css" rel="stylesheet" />
    <script src="~/Content/js/wdtree/tree.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Content/js/layout/jquery.layout.js"></script>
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>