@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    $(function () {
        $("#F_Semester").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });
    });

    function changeDivis() {
        $("#F_Grade_ID").find("option").remove();
        $("#F_Grade_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
    }

    function submitForm(callback) {
        $.modalConfirm("注：此操作会将之前周课表重置，确定执行吗？", function (r) {
            if (r) {

                if ($("#F_Grade_ID").val() == "") {
                    $.modalAlert("请选择年级！", "warning");
                    return;
                }
                if ($("#F_Year").val() == "") {
                    $.modalAlert("请选择年度！", "warning");
                    return;
                }
                if ($("#F_Semester").val() == "") {
                    $.modalAlert("请选择学期！", "warning");
                    return;
                }
                //if ($("#F_Class_ID").val() == "") {
                //    $.modalAlert("请选择班级！", "warning");
                //    return;
                //}
                $.loading(true, "正在处理...");
                var obj = { notdata: [], yetdata: [] };
                $.ajax({
                    type: "POST",
                    url: "/ScheduleManage/School_ClassArrange/AutoArrange?F_Semester=" + $("#F_Semester").val() + "&F_Divis=" + $("#F_Divis_ID").val() + "&F_Grade=" + $("#F_Grade_ID").val() + "&F_Year=" + $("#F_Year").val(),// + "&F_Class=" + $("#F_Class_ID").val(),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        $.loading(false);
                        if (data.state == "success") {
                            $.modalMsg(data.message, data.state);
                            $.modalClose();
                            callback($("#F_Year").val(), $("#F_Semester").val(), $("#F_Divis_ID").val(), $("#F_Grade_ID").val());
                        } else {
                            $.modalAlert(data.message, data.state);
                        }
                    }
                });
            }
        });
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form" id="tabform">
            <tr>
                <th class="formTitle">年度：</th>
                <td class="formValue">
                    <select id="F_Year" name="F_Year" class="form-control">
                        <option value="">选择年度</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">学期：</th>
                <td class="formValue">
                    <select id="F_Semester" name="F_Semester" class="form-control">
                        <option value="">选择学期</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">学部：</th>
                <td class="formValue">
                    <select id="F_Divis_ID" name="F_Divis_ID" class="form-control">
                        <option value="">选择学部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">年级：</th>
                <td class="formValue">
                    <select id="F_Grade_ID" name="F_Grade_ID" class="form-control">
                        <option value="">选择年级</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</form>