@{
    ViewBag.Title = "ClassForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/layout/jquery.layout.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<style>
    body, html {
        height: 100%;
        width: 100%;
    }

    #label-container ul {
        list-style: none;
    }

        #label-container ul li {
            display: inline-block;
            margin-top: 10px;
        }
</style>
<script>
    var EchokeyValue = $.request("EchokeyValue");
    var Echouserid = $.request("Echouserid");
    $(function () {
        tablegridList();
    });

    function tablegridList() {
        var $gridList = $("#table_gridList");
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "F_EnCode",
            url: "/SystemManage/Organize/GetTreeGridJson",
            height: $(window).height() - 173,
            autoGridHeight: function () {
              return 370
            },
            colModel: [
                { label: '名称', name: 'F_FullName', width: 200, align: 'left' },
                { label: '编号', name: 'F_EnCode', width: 150, align: 'left', hidden: true },
                { label: "主键", name: "F_Id", width: 150, align: 'left', key: true, hidden: true },
                { label: '分类', name: 'F_CategoryId', width: 150, align: 'left', hidden: true },
                { label: '名称', name: 'F_FullName', width: 200, align: 'left',hidden:true },
            ],
            onCustomSelectRow: DispalyGrid,
            multiselect: false,
            rowNum: -1
        });
        $gridList.on("jqGridSelectRow", function (event, id, orgEvent) {
            var gridData = $gridList.jqGridRowValue()
            if (gridData.F_CategoryId == "Class") {
                //var template = getLabelLayout(gridData)
                var str = "" + gridData.F_FullName + "(" + gridData.F_Id + ")";
                $("#classId").val(str);
            }
            else {
                top.layer.alert("请选择班级", { icon: "fa-times-circle", title: "系统提示", btn: ["确认"], btnclass: ["btn btn-primary"] });
            }
        })
        //$gridList.on("jqGridSelectAll", function (event, rowIds) {
        //    var gridData = $gridList.jqGridRowValue()
        //    var template = getLabelLayout(gridData)
        //})
    }

    function DispalyGrid(rowid) {
        $('#btn_searchfield').trigger("click");
    }
    function submitForm() {
        var ClassID = $("#table_gridList").jqGridRowValue().F_Id;
        $.modalClose();
        return ClassID;
    }
    function getLabelLayout(data) {
        var template = []
        var exist = getLabelData($('#label-container'))
        data = operation(data, exist, false)
        $.each(data, function (i, item) {
            template.push('<li id="label-' + item.F_Id + '" data-fullname="' + item.F_FullName + '"  data-Id="' + item.F_Id + '"><div  class="tag">' + item.F_FullName + '(' + item.F_Id + ')<i class="fa fa-close"></i></div></li>')
        })
        $('#label-container ul').append(template.join(''))
        $('#label-container ul li').off().on('click', function () {
            $(this).remove()
        })
    }
    function operation(list1, list2, operationIsUnion) {
        var result = [];
        //for (var i = 0; i < list1.length; i++) {
            var item1 = list1,
                found = false;
            for (var j = 0; j < list2.length; j++) {
                if (item1.F_Id === list2[j].id) {
                    found = true;
                    break;
                }
            }
            if (found === operationIsUnion) {
                result.push(item1);
            }
        //}
        return result;
    }
    function getLabelData($container) {
        var output = []
        $container.find('ul > li').each(function () {
            output.push({
                id: $(this).attr('data-Id'),
                name: $(this).attr('data-fullname')
            })
        })
        return output
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
            </div>
            <div class="search">
                <table style="display:none">
                    <tr>
                        <th class="formTitle">搜索：</th>

                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="表名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="table_gridList"></table>
        </div>
    </div>
    <div class="ui-layout-south">
        <h5>已选班级</h5>
        <div id="label-container" class="label-container">
            <ul></ul>
            <input type="text" id="classId" name="classId" class="form-control" disabled="disabled" />
        </div>
    </div>
</div>