@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.addRequired('#form1');
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/Role/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    })
    function initControl() {
        //$("#F_OrganizeId").bindSelect({
        //    url: "/SystemManage/Organize/GetTreeSelectJson",
        //});
        //$("#F_Type").bindSelect({
        //    //url: "/SystemManage/ItemsData/GetSelectJson",
        //    //param: { enCode: "RoleType" }
        //    dictionary: "RoleType"
        //});
        $("#F_Data_Type").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "DataRight" }
        });
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        //$finish.show();
                        //$next.hide();
                        break;
                    case 2:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        //$finish.show();
                        //$next.hide();
                        break;
                    case 3:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        //$finish.show();
                        //$next.hide();
                        break;
                    case 4:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
        $("#permissionTree2").treeview({
            height: 444,
            showcheck: true,
            url: "/SystemManage/RoleAuthorize/GetPermissionTree",
            param: { roleId: keyValue, BeLong: "1" }
        });
        $("#permissionTree3").treeview({
            height: 444,
            showcheck: true,
            url: "/SystemManage/RoleAuthorize/GetPermissionTree",
            param: { roleId: keyValue, BeLong: "2" }
        });
        $("#permissionTree4").treeview({
            height: 444,
            showcheck: true,
            url: "/SystemManage/RoleAuthorize/GetPermissionTree",
            param: { roleId: keyValue, BeLong: "3" }
        });
        $("#OrgTree").treeview({
            height: 404,
            showcheck: true,
            url: "/SystemManage/Organize/GetTreeJson",
            param: { keyword: keyValue }
        });
        $("#F_Data_Type").on('change', function (e, data) {
            //alert($("#F_Data_Type").val());
            if ($("#F_Data_Type").val() == "Diy")
                $("#OrgTree").show();
            else
                $("#OrgTree").hide();
        })
    }
    function submitForm() {
        var postData = $("#form1").formSerialize();
        postData["permissionIds2"] = String($("#permissionTree2").getCheckedNodes());
        postData["permissionIds3"] = String($("#permissionTree3").getCheckedNodes());
        postData["permissionIds4"] = String($("#permissionTree4").getCheckedNodes());
        postData["orgIds"] = String($("#OrgTree").getCheckedNodes());
        $.submitForm({
            url: "/SystemManage/Role/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>
<form id="form1" autocomplete="off">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>角色信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>管理平台<span class="chevron"></span></li>
                <li data-target="#step-3"><span class="step">3</span>家校通<span class="chevron"></span></li>
                <li data-target="#step-4"><span class="step">4</span>微校<span class="chevron"></span></li>
                <li data-target="#step-5"><span class="step">5</span>数据权限<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写角色信息，用于创建或修改角色信息！
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">表单信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">角色名称</th>
                                <td class="formValue">
                                    <input id="F_FullName" name="F_FullName" type="text" class="form-control required" placeholder="请输入角色名称" />
                                </td>
                            </tr>
                            @*<tr>
                                <th class="formTitle">角色类型</th>
                                <td class="formValue">
                                    <select id="F_Type" name="F_Type" class="form-control required"></select>
                                </td>
                            </tr>*@
                            <tr>
                                <th class="formTitle">显示顺序</th>
                                <td class="formValue">
                                    <input data-rule-isDigits="true" id="F_SortCode" name="F_SortCode" type="number" class="form-control" placeholder="请输入显示顺序" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue">
                                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;" maxlength="250"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2">
                <div id="permissionTree2"></div>
            </div>
            <div class="step-pane" id="step-3">
                <div id="permissionTree3"></div>
            </div>
            <div class="step-pane" id="step-4">
                <div id="permissionTree4"></div>
            </div>
            <div class="step-pane" id="step-5">
                <div class="panel-body" style="width: 98%;">
                    <table class="form">
                        <tr>
                            <th class="formTitle">数据权限类型</th>
                            <td class="formValue">
                                <select id="F_Data_Type" name="F_Data_Type" class="form-control"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="OrgTree" style="display:none"></div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
            <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
        </div>
    </div>
</form>