@{

    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    let orgList = top.window.getItem("orgList");
    $(function () {
        centerGrid();
        $("#btnAddPower").click(() => {
            let rowId = $("#centerGrid").jqGrid('getGridParam', 'selrow');
            $.modalOpen({
                id: "Form",
                title: "修改",
                url: `/systemmanage/Role/Power?roleId=${rowId}`,
                width: "1200px",
                height: "980px",
                callBack: function (iframeId) {
                    top.frames[iframeId].addPower();
                }
            });
        })

         $("#btnAddMenu").click(() => {
            let rowId = $("#centerGrid").jqGrid('getGridParam', 'selrow');
            $.modalOpen({
                id: "Form",
                title: "修改",
                url: `/systemmanage/Role/Menu?roleId=${rowId}`,
                width: "1200px",
                height: "980px",
                callBack: function (iframeId) {
                    top.frames[iframeId].addMenu();
                }
            });
        })

    })
    function centerGrid() {
        $("#centerGrid").jqGrid({
            styleUI: "Bootstrap",
            height: window.innerHeight * 0.8,
            width: window.innerWidth * 0.98,
            datatype: 'json',
            url: `/SystemManage/Role/Load`,
            multiselect: false,
            loadonce: false,
            viewrecords: true,
            pager: "#centerPager",
            toppager: true,
            rowNum: -1,
            jsonReader: {
                root: function (r) { return r.data },
            },
            colModel: [
                { label: "主键", name: "id", hidden: true, key: true },
                { label: '名称', name: 'name', editable: true },
                {
                    label: '隶属机构', name: 'organId', "editable": true,
                    formatter: function (cv) {
                        return top.window.getItem("orgList")[cv] == undefined ? "" : top.window.getItem("orgList")[cv];
                    },
                    //edittype: "select",
                    //editoptions: { value: orgList },
                    edittype: 'custom', editoptions: {
                        custom_element: function (value, options) {
                            let el = document.createElement("select");
                            el.className = "FormElement form-control";
                            for (let k in orgList) {
                                let op = document.createElement("option");
                                op.value = k;
                                op.text = orgList[k];
                                el.appendChild(op);
                            }
                            el.onclick = function () { el.focus(); };
                            return el;
                        },
                        custom_value: function (elem, operation, value) {
                            if (operation === 'get') {
                                return $(elem).val();
                            } else if (operation === 'set') {
                                $(elem).val(value);
                            }
                        }
                    }
                },
                {
                    label: '所属系统', name: 'type', editable: true,
                    formatter: function (cellValue) { return top.window.getDicValue("RoleType", cellValue); },
                    edittype: "select",
                    editoptions: { value: () => top.window.getDic("RoleType") },
                    edittype: 'select',
                },
                { label: '排序', name: 'sortCode', editable: true, edittype: "number", },
                { label: '描述', name: 'description', editable: true },
            ],
            subGrid: true,
            subGridRowExpanded: showChildGrid
        });

        $("#centerGrid").jqGrid('navGrid', '#centerPager',
            {
                edit: true,
                add: true,
                del: true,
                search: false,
                refresh: true,
                view: true,
                cloneToTop: true,
            },
            {
                url: "update",
                top: 200,
                left: 200,
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "add",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
            {
                url: "delete",
                drag: true,
                resize: false,
                closeOnEscape: true,
            },
        );
    }


    function showChildGrid(parentRow, parentRowKey) {
        let childGrid = parentRow + "_table";
        $('#' + parentRow).append('<table class="table-striped" id=' + childGrid + '></table>');
        $("#" + childGrid).jqGrid({
            styleUI: 'Bootstrap',
            url: `/systemmanage/role/GetRoleFuncs?roleId=${parentRowKey}`,
            mtype: "GET",
            datatype: "json",
            autoGridWidth: true,
            width: window.innerWidth * 0.76,
            height: window.innerHeight * 0.3,
            footerrow: true,
            userDataOnFooter: true,
            rownumbers: true,
            rowNum: -1,
            sortname: 'createTime',
            sortorder: 'desc',
            jsonReader: {
                root: function (r) { return r.data },
            },
            colModel: [
                { name: "id", key: true, hidden: true },
                {
                    label: "菜单", name: "menuId",
                    formatter: function (cellValue) { return top.window.getItem("menuList")[cellValue]; },
                },
                { label: "功能名称", name: "name" },
                {
                    label: '操作',
                    formatter: function (cell, options, rowObj) {
                        let rowId = rowObj["id"];
                        return `<button onclick=removeRoleFunc('${parentRowKey}','${rowId}','${childGrid}')>移除</button>`;
                    }
                }
            ],

        });
    }

    function removeRoleFunc(roleId, funcId, gridId) {
        $.post('/systemmanage/role/removerolefunc', { roleId: roleId, funcId: funcId }, function (r) {
            $(`#${gridId}`).jqGrid().trigger('reloadGrid');
        })
    }



</script>

<form class="form-inline topPanel" autocomplete="off">
    <button type="button" class="btn btn-default" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></button>
    <input type="text" class="form-control" id="keyword" placeholder="关键字">
    <button type="button" id="btn_search" class="btn btn-default"><i class="fa fa-search"></i></button>
    <button type="button" id="btnAddPower" class="btn btn-default">添加角色权限</button>
    <button type="button" id="btnAddMenu" class="btn btn-default">添加角色菜单</button>
</form>
<div class="gridPanel">
    <table id="centerGrid"></table>
    <div id="centerPager"></div>
</div>