@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Role/GetGridJson",
            height: $(window).height() - 96,
            pager: "#gridPager",
            colModel: [
                { label: "主键", name: "F_Id", hidden: false, key: true, hidden: true },
                { label: '角色名称', name: 'F_FullName', width: 150, align: 'left' },
                //{ label: '角色编号', name: 'F_EnCode', width: 150, align: 'left' },
                {
                    label: '角色类型', name: 'F_Type', width: 80, align: 'left',
                    formatter: function (cellvalue) {
                        return top.clients.dataItems["RoleType"][cellvalue] == undefined ? "" : top.clients.dataItems["RoleType"][cellvalue]
                    }
                },
                {
                    label: '归属机构', name: 'F_OrganizeId', width: 150, align: 'left', hidden: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '创建时间', name: 'F_CreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                //{
                //    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                //    formatter: function (cellvalue) {
                //        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                //    }
                //},
                { label: '备注', name: 'F_Description', width: 300, align: 'left' }
            ]
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增角色",
            url: "/SystemManage/Role/Form",
            width: "700px",
            height: "500px",
            btn: null
        });
    }
    function btn_edit() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        //if (($("#gridList").jqGridRowValue('F_FullName'))[0] == "班主任" || ($("#gridList").jqGridRowValue('F_FullName'))[0] == "家长" || ($("#gridList").jqGridRowValue('F_FullName'))[0] == "学生" || ($("#gridList").jqGridRowValue('F_FullName'))[0] == "老师" || ($("#gridList").jqGridRowValue('F_FullName'))[0] == "超级管理员") {
        //    top.layer.alert("该角色不允许操作！", { icon: "fa-times-circle", title: "系统提示", btn: ["确认"], btnclass: ["btn btn-primary"] });
        //    return;
        //}
        $.modalOpen({
            id: "Form",
            title: "修改角色",
            url: "/SystemManage/Role/Form?keyValue=" + keyValue,
            width: "700px",
            height: "500px",
            btn: null
        });
    }
    function btn_delete() {
        var deleteid = $('#gridList').jqGridRowValue('F_Id');
        var name = $('#gridList').jqGridRowValue('F_FullName');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            
            if (name[i] == "班主任" || name[i] == "家长" || name[i] == "学生" || name[i] == "老师") {
                top.layer.alert("（超级管理员、班主任、家长、学生、老师）角色不允许操作！", { icon: "fa-times-circle", title: "系统提示", btn: ["确认"], btnclass: ["btn btn-primary"] });
                return;
            }
            keyValue += deleteid[i] + "|";
        }
        
        $.deleteForm({
            url: "/SystemManage/Role/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Details",
            title: "查看角色",
            url: "/SystemManage/Role/Details?keyValue=" + keyValue,
            width: "700px",
            height: "520px",
            btn: null,
        });
    }
    function btn_export() {
        document.location = "/SystemManage/Role/export";
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建角色</a>
        </div>
        <div class="btn-group">
            <a id="NF-export" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_export()"><i class="fa fa-arrow-down"></i>导出</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改角色</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除角色</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看角色</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="角色名称/角色编号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>