@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link href="/Content/js/simditor/css/simditor.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script src="~/Content/js/Fileupload.js"></script>
<script src="~/Content/js/simditor/js/module.min.js"></script>
<script src="~/Content/js/simditor/js/hotkeys.min.js"></script>
<script src="~/Content/js/simditor/js/uploader.min.js"></script>
<script src="~/Content/js/simditor/js/simditor.min.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SchoolManage/School_RollChangeList/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#F_New_Subjects_ID").val(data.F_New_Subjects_ID).trigger("change");
                	$("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                	$("#form1").find('div.ckbox label').attr('for', '')
                }
            });
        }
    });
    function initControl() {
        $("#F_Year").bindSelect({
            dictionary: 'limYear'
        })
        $("#F_Change_Type").bindSelect({
            dictionary: 'xjbd'
        })
        $("#F_Charge_Type").bindSelect({
            dictionary: 'F_Charge_mode'
        })
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });
        $("#F_Divis_ID").change(function () {
            $("#F_Grade_ID").find("option").remove();
            $("#F_Grade_ID").append("<option value=''>选择年级</option>");
            $("#F_Grade_ID").bindSelect({
                url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
            });
            $("#F_INYear").find("option").remove();
            $("#F_INYear").append("<option value=''>选择年段</option>");
            $("#F_INYear").bindSelect({
                OrgId: $("#F_Divis_ID").val(),
                dictionaryOrg: "F_InYear"
            });
            changeSubject();
            if ($("#F_Class_ID").find("option").length > 1) {
                RefreshClass();
            }
        });
        var RefreshClass = function (F_Grand_Id) {
            $("#F_Class_ID").find("option").remove();
            $("#F_Class_ID").append("<option value=''>选择班级</option>");
            $("#F_Class_ID").bindSelect({
                url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + F_Grand_Id,
            });
        }

        $("#F_Grade_ID").change(function () {
            RefreshClass($("#F_Grade_ID").val());
            //changeSubject();
        });
        $("#F_INYear").change(function () {
            changeSubject();
        });
        $("#F_Charge_mode").change(function () {
            changeSubject();
        });

        $("#F_Year").change(function () {
            changeSubject();
        });

        function changeSubject() {
            $("#F_New_Subjects_ID").find("option").remove();
            $("#F_New_Subjects_ID").append("<option value=''>选择班级类型</option>");
            $("#F_New_Subjects_ID").bindSelect({
                url: "/SchoolManage/School_Subjects/GetJsonByYDG?F_Year=" + $("#F_Year").val() + "&F_Divis_ID=" + $("#F_Divis_ID").val() + "&F_INYear=" + $("#F_INYear").val() + "&F_Charge_Type=" + $("#F_Charge_Type").val(),
                id: "F_Id",
                text: "F_Title"
            });
        }

        $("#F_Change_Type").change(function () {
            var $formItem = $('.tr1').find('.form-control')
            if ($("#F_Change_Type").val() == 9 || $("#F_Change_Type").val() == 10 || $("#F_Change_Type").val() == 11) {
                $(".tr1").show()
                $formItem.addClass('required').parents('.formValue').prev('.formTitle').addClass('required')
                $('#F_Class_ID').removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            } else {
                $(".tr1").hide()
                $formItem.removeClass('required').parents('.formValue').prev('.formTitle').removeClass('required')
            }
        })

        $.addRequired('#form1')
        $.simpleUploader($('#F_Proof'), {
            maxFile: 1,
            maxSize: "20",
            accept: {
                title: 'Image',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">调整类型</th>
                    <td class="formValue">
                        <select id="F_Change_Type" name="F_Change_Type" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr class="tr1">
                    <th class="formTitle">收费方式</th>
                    <td class="formValue">
                        <select id="F_Charge_Type" name="F_Charge_Type" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">变动年度</th>
                    <td class="formValue">
                        <select id="F_Year" name="F_Year" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr class="tr1">
                    <th class="formTitle">变动学部</th>
                    <td class="formValue">
                        <select id="F_Divis_ID" name="F_Divis_ID" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">变动年段</th>
                    <td class="formValue">
                        <select id="F_INYear" name="F_INYear" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr class="tr1">
                    <th class="formTitle">变动年级</th>
                    <td class="formValue">
                        <select id="F_Grade_ID" name="F_Grade_ID" type="text" class="form-control required" />
                    </td>
                    <th class="formTitle">变动班级</th>
                    <td class="formValue">
                        <select id="F_Class_ID" name="F_Class_ID" type="text" class="form-control " />
                    </td>
                </tr>

                <tr class="tr1">
                    <th class="formTitle">新班级类型</th>
                    <td class="formValue">
                        <select id="F_New_Subjects_ID" name="F_New_Subjects_ID" type="text" class="form-control required" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle required">调整凭证</th>
                    <td class="formValue">
                        <div id="F_Proof" class="required fileUpload">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">调整原因</th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Proof_Desc" name="F_Proof_Desc" class="form-control required" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>