@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var F_Status = $.request("F_Status");
    $(function () {
        $("#F_Change_Type").bindSelect({
            dictionary: 'xjbd',
            displayBlank: false
        })
        var $gridList = $("#gridList");
        gridList($gridList);
        $("#dsh,#shtg,#shbtg").click(function (item) {
            var xjzt = "";
            switch (item.currentTarget.defaultValue) {
                case "待审核":
                    xjzt = "4";
                    break;
                case "审核通过":
                    xjzt = "5";
                    break;
                case "审核不通过":
                    xjzt = "6";
                    break;
            }
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), F_Auditor_Name: $("#F_Auditor_Name").val(), F_Change_Type: $("#F_Change_Type").val(), xjzt: xjzt },
            }).trigger('reloadGrid');
        });
    })
    function gridList($gridList) {
        //var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SchoolManage/School_RollChangeList/GetGridJson?F_Status=" + F_Status,
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                //{ label: '学号', name: 'F_Student_Num', width: 80, align: 'left' },
                //{ label: '学生', name: 'F_Student_Id', width: 80, align: 'left' },
                ////{ label: '协议', name: 'F_Sign_Id', width: 80, align: 'left' },
                //{ label: '原班级类型', name: 'F_Old_Subjects_ID', width: 80, align: 'left' },
                {
                    label: '学生姓名', name: 'F_Student_Name', width: 80, align: 'left'
                },
                {
                    label: '学号', name: 'F_Student_Num', width: 80, align: 'left'
                },
                {
                    label: '申请编号', name: 'F_SchoolNum', width: 160, align: 'left'
                },
                {
                    label: '调整类型', name: 'F_Change_Type', width: 80, align: 'left', formatter: function (cellvalue) {
                        return top.clients.dataItems["xjbd"][cellvalue] == undefined ? "" : top.clients.dataItems["xjbd"][cellvalue];
                    }
                },
                {
                    label: '变动学部', name: 'F_Divis_ID', width: 80, align: 'left', formatter: function (cellvalue) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '变动年级', name: 'F_Grade_ID', width: 80, align: 'left', formatter: function (cellvalue) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '变动班级', name: 'F_Class_ID', width: 80, align: 'left', formatter: function (cellvalue) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                {
                    label: '新班级类型', name: 'F_New_Subjects_ID', width: 80, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        var F_New_Subjects_ID = null;
                        $.ajax({
                            url: "/SchoolManage/School_Subjects/GetFormJson?keyValue=" + cellvalue + "",
                            dataType: "json",
                            async: false,
                            success: function (data) {
                                F_New_Subjects_ID = data["F_Title"];
                            }
                        });
                        return F_New_Subjects_ID == null ? "" : F_New_Subjects_ID;
                    }
                },
                //{ label: '调整凭证', name: 'F_Proof', width: 80, align: 'left' },

                //{ label: '账单变更操作编号', name: 'F_Bill_ChangeNo', width: 80, align: 'left' },
                { label: '变更账单编号', name: 'F_Bill_No', width: 80, align: 'left' },
                { label: '审核人姓名', name: 'F_Auditor_Name', width: 80, align: 'left' },
                //{
                //    label: '审核状态', name: 'F_Status', width: 80, align: 'left',
                //},
                //{ label: '审核意见', name: 'F_Audit_Memo', width: 80, align: 'left' },
                {
                    label: '审核时间', name: 'F_Audit_Time', width: 80, align: 'left', formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
                },
                { label: '申请人姓名', name: 'F_Creator_Name', width: 80, align: 'left' },

			 	{
			 	    label: '申请时间', name: 'F_CreatorTime', width: 80, align: 'left',
			 	    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
			 	},
                {
                    label: '收费方式', name: 'F_Charge_Type', width: 80, align: 'left', formatter: function (cellvalue) {
                        return top.clients.dataItems["F_Charge_mode"][cellvalue] == undefined ? "" : top.clients.dataItems["F_Charge_mode"][cellvalue];
                    }
                },
                { label: '调整原因', name: 'F_Proof_Desc', width: 80, align: 'left' },
            ],
            pager: "#gridPager",
            sortname: 'F_DepartmentId asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), F_Auditor_Name: $("#F_Auditor_Name").val(), F_Change_Type: $("#F_Change_Type").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增",
            url: "/SchoolManage/School_RollChangeList/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Form",
            title: "修改",
            url: "/SchoolManage/School_RollChangeList/Form?keyValue=" + keyValue,
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var deleteid = $('#gridList').jqGridRowValue('F_Id');
        var keyValue = "";
        for (var i = 0; i < deleteid.length; i++) {
            keyValue += deleteid[i] + "|";
        }
        $.deleteForm({
            url: "/SchoolManage/School_RollChangeList/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/SchoolManage/School_RollChangeList/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }

    function btn_auditor() {
        var keyValue = ($("#gridList").jqGridRowValue('F_Id'))[0];
        $.modalOpen({
            id: "Aud",
            title: "审核",
            url: "/SchoolManage/School_RollChangeList/Auditor?keyValue=" + keyValue,
            width: "900px",
            height: "750px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
            <div class="operate">
                <ul class="nav nav-pills">
                    <li class="first">已选中<span>1</span>项</li>
                    <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a></li>
                    <li><a class="multi-edit" id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a></li>
                    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
                    <li class="split"></li>
                    <li><a class="mutil-edit" id="NF-auditor" authorize="yes" onclick="btn_auditor()"><i class="fa fa-search-plus"></i>审核</a></li>
                </ul>
                <a href="javascript:;" class="close"></a>
            </div>
            <script>$('.toolbar').authorizeButton()</script>
        @if (!string.IsNullOrEmpty(Request["F_Status"]))
        {
            if (Request["F_Status"].ToString() == "4")
            {
                <input type="button" id="dsh" value="待审核" class="btn btn-primary dropdown-text" />
                <input type="button" id="shtg" value="审核通过" class="btn btn-primary dropdown-text" />
                <input type="button" id="shbtg" value="审核不通过" class="btn btn-primary dropdown-text" />}
        }
        </div>
    <div class="search">
        <table>
            <tr>
                <th class="formTitle">搜索：</th>
                <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <select id="F_Change_Type" name="F_Change_Type" class="form-control">
                            <option value="">调整类型</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="input-group" style="margin-right:10px;width:200px;">
                        <input id="F_Auditor_Name" type="text" class="form-control" placeholder="审核人" style="width: 250px;">
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="姓名|学号|变更账单编号" style="width: 150px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>