<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="1001" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0125;Persist Security Info=True;User ID=nf2;Password=123456" providerName="System.Data.SqlClient" />
    <add name="1004" connectionString="Data Source=192.168.1.125;Initial Catalog=zhenghe;Persist Security Info=True;User ID=HQK;Password=123456" providerName="System.Data.SqlClient" />
    <add name="1003" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0127;Persist Security Info=True;User ID=nf2;Password=123456" providerName="System.Data.SqlClient" />
    <add name="1002" connectionString="Data Source=192.168.1.125;Initial Catalog=hw_WisCampus_0126;Persist Security Info=True;User ID=nf2;Password=123456" providerName="System.Data.SqlClient" />
    <!--<add name="NanHang" connectionString="data source=127.0.0.1;initial catalog=NanHang;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="NanHang" connectionString="data source=210.35.32.29;initial catalog=NanHangSQL;persist security info=True;user id=sa;password=hw123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NHModel" connectionString="data source=210.35.32.29;initial catalog=NanHangSQL;persist security info=True;user id=sa;password=hw123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LineRecordModel" connectionString="data source=210.35.32.29;initial catalog=hw_WisCampus_test_Dorm;user id=sa;password=hw123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NanHangAccept" connectionString="data source=210.35.32.29;initial catalog=hw_WisCampus_test_Dorm;user id=sa;password=hw123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NanHangSchoolCode" value="NanHangAccept" />
    <add key="MessagePort" value="http://192.168.0.93:7788/" />
    <!--南航项目 - 查看异常报表的页面-->
    <add key="LaterReturnReport" value="http://210.35.32.29:8100/index.html#/LateInReportMsg" />
    <add key="NoReturnReport" value="http://210.35.32.29:8100/index.html#/NotInReportMsg" />
    <add key="NotOutReport" value="http://210.35.32.29:8100/index.html#/NotOutReportMsg" />
    <!--数据同步接口地址-->
    <add key="RestSyn" value="true" />
    <add key="UpdatedBeforeTime" value="60" />
    <add key="SynOrganizeUrl" value="http://36.22.178.70:9006/" />
    <!-- ================== 4：缓存类型 redis ================== -->
    <!-- redis Start   -->
    <add key="SessionExpireMinutes" value="180" />
    <add key="redis_server_session" value="localhost:6379" />
    <add key="redis_max_read_pool" value="3" />
    <add key="redis_max_write_pool" value="1" />
    <!--redis end-->
    <add key="CallUrlAdd" value="http://61.164.123.34:7788/api/user/add" />
    <add key="CallUrlUpt" value="http://61.164.123.34:7788/api/user/upt" />
    <add key="CallUrlDel" value="http://61.164.123.34:7788/api/user/delete" />
    <add key="appid" value="b500862c661e48acb9d68b59fbe6c795" />
    <!--运营平台相关-->
    <add key="EntityMappingAssemblyPath" value="ZHXY.Mapping" />
    <add key="qdNo" value="1001" />
    <add key="getSchoolDbConnecionStringUrl" value="http://192.168.1.125:8082/Api/School/GetDbInfo?schoolCode=" />
    <add key="getSchoolListUrl" value="http://192.168.1.125:8082/Api/School/GetSchoolList?qdNo=" />
    <!--redis-->
    <add key="1001_redis_database" value="1" />
    <add key="1002_redis_database" value="2" />
    <add key="1003_redis_database" value="3" />
    <add key="1004_redis_database" value="4" />
    <add key="redis_db" value="0,1,2,3,4" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="数据中心接口服务Soap2">
          <security mode="Transport" />
        </binding>
        <binding name="数据中心接口服务Soap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://passport.nchu.edu.cn/api/DataCenter.asmx" binding="basicHttpBinding" bindingConfiguration="数据中心接口服务Soap2" contract="PushService.数据中心接口服务Soap" name="数据中心接口服务Soap1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>