@{Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    const GRID_URL = `/SystemManage/User/GetOrgUsers`;
    const TREE_URL = `/SystemManage/Organize/GetTeacherOrg`;
    const ADD_URL = `/SystemManage/OrgLeader/Add`;


    $(function () {
        $('#layout').layout({
            west__resizable: false
        }).sizePane("west", "50%");

        gridList();
        gridTree();

        $("#search").bind('click', () => reloadGrid());
    })

    function add() {
        let orgId = $.request("orgId");
        let users = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        $.post(ADD_URL, { orgId: orgId, users: users }, function (result) {
            if (result.state === 'success') {
                $.modalMsg('添加成功', 'success');
                $(top.window.gridList).jqGrid().trigger('reload');
                $("#gridList").resetSelection();
            } else {
                $.modalMsg(result.message, 'error');
            }
        })
    }

    function gridList() {
        $("#gridList").jqGrid({
            height: window.innerHeight * 0.9,
            width: window.innerWidth * 0.48,
            styleUI: 'Bootstrap',
            url: GRID_URL,
            datatype: "json",
            multiselect: true,
            url: "/SystemManage/User/GetGridJson",
            rowNum: 15,
            colModel: [
                { label: '主键', name: 'Id', key: true, hidden: true },
                { label: '帐户', name: 'Account', width: 80, align: 'left' },
                { label: '姓名', name: 'Name', width: 80, align: 'left' },
                {
                    label: '岗位', name: 'DutyId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.duty[cellvalue] == null ? "" : top.clients.duty[cellvalue].fullname;
                    }
                },
                {
                    label: '隶属机构', name: 'OrganId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.organize[cellvalue] == null ? "" : top.clients.organize[cellvalue].fullname;
                    }
                },
                { label: '手机号码', name: 'MobilePhone', width: 80, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'Id desc',
            viewrecords: true
        });
    }

    function reloadGrid(rowId) {
        $("#gridList").jqGrid('setGridParam', {
            postData: {
                F_DepartmentId: rowId,
                keyword: $("#keyword").val()
            },
        }).trigger('reloadGrid');
    }

    function gridTree() {
        $("#treeGrid").jqGrid({
            styleUI: 'Bootstrap',
            treeGrid: true,
            url: TREE_URL,
            treeGridModel: "adjacency",
            datatype: "json",
            gridview: true,
            altRows: true,
            viewrecords: true,
            autoGridWidth: true,
            rowNum: 15,
            shrinkToFit: true,
            autoGridHeight: true,
            jsonReader: {
                root: function (r) { return r.data; }
            },
            height: window.innerHeight * 0.9,
            width: window.innerWidth * 0.48,
            ExpandColumn: 'name',
            ExpandColClick: false,
            onSelectRow: reloadGrid,
            colModel: [
                { label: '机构名称', name: 'name', width: 100, align: 'left', sortable: false },
                { label: '主键', name: "id", width: 150, align: 'left', key: true, hidden: true },
                { label: 'level', name: "level", hidden: true },
            ],
            multiselect: false,
            rowNum: -1,
        });
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" style="height: 100%; width: 100%;">
        <table id="treeGrid"></table>
    </div>
    <div class="ui-layout-center" style="height: 100%; width: 100%;">
        <div class="topPanel">
            <div class="search">
                <div class="input-group" style="padding-right:4px;">
                    <input id="keyword" type="text" class="form-control" placeholder="姓名" style="width: 200px;">
                    <button id="search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                    <button class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>

<style scoped>
    .input-group > button {
        margin-right: 10px;
    }
</style>
