@{
    
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    #Down_Mod {
        display:none;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/js/webuploader/webuploader.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/framework-custom-webuploader.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/doublebox/doublebox.css" />
<link rel="stylesheet" type="text/css" href="~/Content/js/x-editable/bootstrap-editable.css" />
<script type="text/javascript" src="~/Content/js/webuploader/webuploader.js"></script>
<script type="text/javascript" src="~/Content/js/ImageUpload.js"></script>
<script type="text/javascript" src="~/Content/js/Fileupload.js"></script>
<script type="text/javascript" src="~/Content/js/x-editable/bootstrap-editable.min.js"></script>
<script type="text/javascript" src="~/Content/js/doublebox/doublebox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.initUploader({
            container: '#uploader',
            fileInput: '#Files',
            thumb: '#files_hx',
            maxFile: 1,
            accept: {
                title: '@Request["title"].ToString()',
                extensions: '@Request["extensions"].ToString()',
                mimeTypes: '@Request["mimeTypes"].ToString()'
            },
            server: '/File/FileUpload?moban=1'
        })
        var fileName = '@Request["fileName"]';
        if (fileName!="") {
            $("#Mod").html(fileName);
            $("#Mod").attr("href", "/File/DownFile?filePath=/UpLoad/Down_Mod/" + fileName + "&fileName=" + fileName + "&moban=1");
            $("#Mod2").html("数据字典模版.xls");
            $("#Mod2").attr("href", "/File/DownFile?filePath=/UpLoad/Down_Mod/数据字典模版.xls&fileName=数据字典模版.xls&moban=1");
            $("#Down_Mod").attr("style","display:block")
        }
    })
    function submitForm() {
        $.modalClose();
        return $("#Files").val();
    }
</script>

<div style="padding-top: 20px; margin-right: 20px;">
    <table class="form">
        <tr>
            <td class="formValue">
                <input type="hidden" id="Files" name="Files" />
                <div id="uploader" class="wu-example">
                </div>
            </td>
        </tr>
        <tr>
            <td class="formValue">
                <label id="Down_Mod">下载模版：&nbsp;<a target='_blank' id="Mod" href=""></a>&nbsp;&nbsp;&nbsp;<a target='_blank' id="Mod2" href=""></a></label>
            </td>
        </tr>
    </table>
</div>