@{
    ViewBag.Title = "AloneSoutOrg";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/layout/jquery.layout.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<style>
body, html {
  height: 100%;
  width: 100%;
}
#label-container ul {
  list-style:none
}
#label-container ul li {
  display: inline-block;
  margin-top: 10px
}
</style>
<script>
    var EchokeyValue = $.request("EchokeyValue");
    var Echouserid = $.request("Echouserid");
    var op = $.request("Opener");
    $(function () {
        $('#layout').layout({
            west__size: 450,
            resizable: false,
            south__size: 125
        });
        //var Echoid = $.request("Echoid");
        console.log(EchokeyValue);
        tablegridList();
        //gridList(Echoid);
        gridList();
    });

    function tablegridList() {
        var $gridList = $("#table_gridList");
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "F_EnCode",
            url: "/SystemManage/Organize/GetTreeGridJson",
            height: $(window).height() - 173,
            autoGridHeight: function () {
              return 700
            },
            colModel: [
                { label: '机构名称', name: 'F_FullName', width: 160, align: 'left' },
                { label: '编号', name: 'F_EnCode', width: 150, align: 'left', hidden: true },
                { label: "主键", name: "F_Id", width: 150, align: 'left', key: true, hidden: true },
            ],
            onCustomSelectRow: DispalyGrid,
            multiselect: false,
            rowNum: -1
        });
    }

    function DispalyGrid(rowid) {
        $('#btn_searchfield').trigger("click");
    }

    function gridList() {
        var $gridList = $("#gridList");
        //var url = "";
        //if (Echoid!="") {
        //    url = "/SystemManage/User/GetFormJsonByOrg?F_DutyId=" + Echoid;
        //}
        $gridList.dataGrid({
            //url: url,
            height: $(window).height() - 173,
            autoGridHeight: function () {
              return 700
            },
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '账户', name: 'F_Account', width: 80, align: 'left' },
                { label: '姓名', name: 'F_RealName', width: 80, align: 'left' },
                { label: '手机', name: 'F_MobilePhone', width: 80, align: 'left' },
                {
                    label: '岗位', name: 'F_DutyId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.duty[cellvalue] == null ? "" : top.clients.duty[cellvalue].fullname;
                    }
                },
            ],
            loadComplete: function () {
                var userid = Echouserid.split(',');
                //console.log(userid);
                //if (EchokeyValue!="") {

                //}
                //var iii = ["b8a54f03-4dcb-499c-8424-22481a026139", "48e88558-3b40-43ba-a041-381d35a26d3f"]
                //console.log(iii);
                for (var i = 0; i < userid.length; i++) {
                    $("#gridList").jqGrid('setSelection', userid[i])
                }
                //$("#gridList").jqGrid('setSelection', iii)
            },
            rowNum: -1
        });
        $gridList.on("jqGridSelectRow", function (event, id, orgEvent) {
            var gridData = $gridList.jqGridRowValue()
            var template = getLabelLayout(gridData)
        })
        $gridList.on("jqGridSelectAll", function (event, rowIds) {
            var gridData = $gridList.jqGridRowValue()
            var template = getLabelLayout(gridData)
        })
        $("#btn_searchfield").click(function () {

            $gridList.jqGrid('setGridParam', {
                url: "/SystemManage/User/GetFormJsonByOrg",
                postData: { F_DutyId: $("#table_gridList").jqGridRowValue()["F_Id"] },
            }).trigger('reloadGrid');
        });
    }
    function submitForm() {
        //var exist = getLabelData($('#label-container'))mobile
        //for (var i = 0; i < exist.length; i++) {

        //}
        //console.log(exist);
        //return;
        //var deleteid = $('#gridList').jqGridRowValue('F_MobilePhone');
        //var fid = $('#gridList').jqGridRowValue('F_Id');
        var userid = "";
        var keyValue = "";
        var userName = "";
        //var k = 0;
        //if (deleteid[0]==null) {
        //    k = 1;
        //}

        var exist = getLabelData($('#label-container'))
        for (var i = 0; i < exist.length; i++) {
            if (exist[i]["mobile"] != ""||op!="") {
                if (exist.length - i == 1) {
                    keyValue += exist[i]["mobile"];
                    userid += exist[i]["id"];
                    userName += exist[i]["name"];
                }else{
                    keyValue += exist[i]["mobile"] + ",";
                    userid += exist[i]["id"] + ",";
                    userName += exist[i]["name"]+",";
                }

            }
        }
        //for (var i = k; i < deleteid.length; i++) {
        //    if (deleteid.length - i == 1) {
        //        keyValue += deleteid[i]
        //        userid += fid[i]
        //    } else {
        //        keyValue += deleteid[i] + ",";
        //        userid += fid[i] + ",";
        //    }
        //}
        //var tableid = $("#table_gridList").jqGridRowValue()["F_Id"];
        //if (tableid==null) {
        //    tableid = $.request("Echoid");
        //}
        $.modalClose();
        //return keyValue;
        return { keyValue: keyValue, userid: userid ,name:userName};
    }
    function getLabelLayout(data) {
        var template = []
        var exist = getLabelData($('#label-container'))
        data = operation(data, exist, false)
        $.each(data, function (i, item) {
            template.push('<li id="label-' + item.F_Id + '" data-mobilePhone="' + item.F_MobilePhone + '" data-realName="' + item.F_RealName + '" data-Id="' + item.F_Id + '"><div  class="tag">' + item.F_RealName + '(' + item.F_MobilePhone + ')<i class="fa fa-close"></i></div></li>')
        })
        $('#label-container ul').append(template.join(''))
        $('#label-container ul li').off().on('click', function () {
          $(this).remove()
        })
    }
    function operation(list1, list2, operationIsUnion) {
      var result = [];
      for (var i = 0; i < list1.length; i++) {
        var item1 = list1[i],
            found = false;
        for (var j = 0; j < list2.length; j++) {
          if (item1.F_Id === list2[j].id) {
            found = true;
            break;
          }
        }
        if (found === operationIsUnion) {
            result.push(item1);
        }
      }
      return result;
    }
    function getLabelData($container) {
      var output = []
      $container.find('ul > li').each(function () {
        output.push({
            id: $(this).attr('data-Id'),
            mobile: $(this).attr('data-mobilePhone') || '',
            name: $(this).attr('data-realName')
        })
      })
      return output
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
            </div>
            <div class="search">
                <table style="display:none">
                    <tr>
                        <th class="formTitle">搜索：</th>

                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="表名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="table_gridList"></table>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>

                @*<div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a class="multi-edit" id="NF-deletefield" authorize="yes" onclick="btn_deletefield()"><i class="fa fa-arrow-up"></i>短信发送</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>*@
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table style="display:none">
                    <tr>
                        <th class="formTitle">搜索：</th>

                        <td>
                            <div class="input-group">
                                <input id="txt_fieldName" type="text" class="form-control" placeholder="字段名称" style="width: 150px;">
                                <span class="input-group-btn">
                                    <button id="btn_searchfield" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
    <div class="ui-layout-south">
      <h5>已选联系人</h5>
      <div id="label-container" class="label-container">
        <ul>
        </ul>
      </div>
    </div>
</div>