@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".content-iframe").find(".NFine_iframe:first").show();    //为每个BOX的第一个元素显示
        $(".page-tabs a").on("click", function () { //给a标签添加事件
            var index = $(this).index();  //获取当前a标签的个数
            var obj = $(".content-iframe").find(".NFine_iframe").eq(index);
            if (!obj.attr('src'))
            {
                obj.attr('src', $(this).attr('data-src'));
            }
            $(".content-iframe").find(".NFine_iframe").hide();
            obj.show(); //返回上一层，在下面查找css名为box隐藏，然后选中的显示
            $(this).addClass("active").siblings().removeClass("active"); //a标签显示，同辈元素隐藏
        })
    })
</script>
<div class="content-tabs">

    <nav class="page-tabs menuTabs">
        <div class="page-tabs-content" style="margin-left: 0px;">
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Grade/GradeRule" onchange="" class="menuTab active" >年级排课规则</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Course/CourseRule" class="menuTab">科目排课规则</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Teacher/TeacherRule" class="menuTab " >教师排课规则</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Teacher/TeacherCourseTimeRule"class="menuTab ">教师课时规则</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Weeks/Index" class="menuTab ">单双周设置</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_MergeClass/Index" class="menuTab ">合班课设置</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_CourseExclude/Index" class="menuTab ">课程互斥设置</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_TeacherExclude/Index" class="menuTab ">教师互斥设置</a>
            <a href="javascript:;" data-src="/ScheduleManage/School_PRule_Classroom/Index" class="menuTab ">教室排课设置</a>
        </div>
    </nav>
</div>
<div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
    <div  style="margin: 10px 10px 0px; padding: 0px; height: 500px;">
        <iframe class="NFine_iframe winIframe" width="100%" height="100%" src="/ScheduleManage/School_PRule_Grade/GradeRule" frameborder="0"  seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0"  seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0"  seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
        <iframe class="NFine_iframe winIframe" width="100%" height="100%"  frameborder="0" seamless="" style="display: none;"></iframe>
    </div>
</div>