@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ScheduleManage/School_PRule_Classroom/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data)
                }
            });
        }
    });
    function initControl() {
           $("#F_SemesterId").bindSelect({
            url: "/SchoolManage/School_Semester/GetGridSelect",
            id: "F_Id",
            text: "F_Name"
        });
        $("#F_Year").bindSelect({
            dictionary: 'F_Year',
            displayBlank: false
        });
        $("#F_Divis_ID").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Division",
        });

        $("#F_Divis_ID").change(function () {
            changeDivis();
        });

        $("#F_GradeId").change(function () {
            changeClass();
        });

		$.addRequired('#form1')
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/ScheduleManage/School_PRule_Classroom/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

     function changeDivis() {
        $("#F_GradeId").find("option").remove();
        $("#F_GradeId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Grade&parentId=" + $("#F_Divis_ID").val(),
        });
        changeClass();
    }

    function changeClass() {
        $("#F_ClassId").find("option").remove();
        $("#F_ClassId").bindSelect({
            url: "/SystemManage/Organize/GetSelectJsonByCategoryId?keyword=Class&parentId=" + $("#F_GradeId").val(),
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
           	<tr><th class="formTitle">F_SortCode</th>
	                    <td class="formValue">
	                          <input id="F_SortCode" name="F_SortCode" type="text" class="form-control required" placeholder="请输入F_SortCode" />
	                    </td>
<tr>
<tr>
<tr>
<tr>
<tr>
<tr>
<tr>
<tr>
<tr>
           	<tr><th class="formTitle">F_Memo</th>
	                    <td class="formValue">
	                          <input id="F_Memo" name="F_Memo" type="text" class="form-control required" placeholder="请输入F_Memo" />
	                    </td>
           	<th class="formTitle">F_Year</th>
	                    <td class="formValue">
	                          <input id="F_Year" name="F_Year" type="text" class="form-control required" placeholder="请输入F_Year" />
	                    </td></tr>
           	<tr><th class="formTitle">F_SemesterId</th>
	                    <td class="formValue">
	                          <input id="F_SemesterId" name="F_SemesterId" type="text" class="form-control required" placeholder="请输入F_SemesterId" />
	                    </td>
           	<th class="formTitle">F_GradeId</th>
	                    <td class="formValue">
	                          <input id="F_GradeId" name="F_GradeId" type="text" class="form-control required" placeholder="请输入F_GradeId" />
	                    </td></tr>
           	<tr><th class="formTitle">F_ClassroomId</th>
	                    <td class="formValue">
	                          <input id="F_ClassroomId" name="F_ClassroomId" type="text" class="form-control required" placeholder="请输入F_ClassroomId" />
	                    </td>
           	<th class="formTitle">F_WeekN</th>
	                    <td class="formValue">
	                          <input id="F_WeekN" name="F_WeekN" type="text" class="form-control required" placeholder="请输入F_WeekN" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule1</th>
	                    <td class="formValue">
	                          <input id="F_Rule1" name="F_Rule1" type="text" class="form-control required" placeholder="请输入F_Rule1" />
	                    </td>
           	<th class="formTitle">F_Rule2</th>
	                    <td class="formValue">
	                          <input id="F_Rule2" name="F_Rule2" type="text" class="form-control required" placeholder="请输入F_Rule2" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule3</th>
	                    <td class="formValue">
	                          <input id="F_Rule3" name="F_Rule3" type="text" class="form-control required" placeholder="请输入F_Rule3" />
	                    </td>
           	<th class="formTitle">F_Rule4</th>
	                    <td class="formValue">
	                          <input id="F_Rule4" name="F_Rule4" type="text" class="form-control required" placeholder="请输入F_Rule4" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule5</th>
	                    <td class="formValue">
	                          <input id="F_Rule5" name="F_Rule5" type="text" class="form-control required" placeholder="请输入F_Rule5" />
	                    </td>
           	<th class="formTitle">F_Rule6</th>
	                    <td class="formValue">
	                          <input id="F_Rule6" name="F_Rule6" type="text" class="form-control required" placeholder="请输入F_Rule6" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule7</th>
	                    <td class="formValue">
	                          <input id="F_Rule7" name="F_Rule7" type="text" class="form-control required" placeholder="请输入F_Rule7" />
	                    </td>
           	<th class="formTitle">F_Rule8</th>
	                    <td class="formValue">
	                          <input id="F_Rule8" name="F_Rule8" type="text" class="form-control required" placeholder="请输入F_Rule8" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule9</th>
	                    <td class="formValue">
	                          <input id="F_Rule9" name="F_Rule9" type="text" class="form-control required" placeholder="请输入F_Rule9" />
	                    </td>
           	<th class="formTitle">F_Rule10</th>
	                    <td class="formValue">
	                          <input id="F_Rule10" name="F_Rule10" type="text" class="form-control required" placeholder="请输入F_Rule10" />
	                    </td></tr>
           	<tr><th class="formTitle">F_Rule11</th>
	                    <td class="formValue">
	                          <input id="F_Rule11" name="F_Rule11" type="text" class="form-control required" placeholder="请输入F_Rule11" />
	                    </td>
           	<th class="formTitle">F_Rule12</th>
	                    <td class="formValue">
	                          <input id="F_Rule12" name="F_Rule12" type="text" class="form-control required" placeholder="请输入F_Rule12" />
	                    </td></tr>
           	<tr><th class="formTitle">F_DepartmentId</th>
	                    <td class="formValue">
	                     	<select id="F_DepartmentId" name="F_DepartmentId" class="form-control required">
                            <option value="">==请选择==</option>
                        	</select>
	                    </td>
            </table>
        </div>
    </div>
</form>